<apex:page id="pg" cache="false" controller="AddRemoveRecommendationExtn" standardStylesheets="false" sidebar="false" showHeader="false">
    <head>
        <c:dsmtJqxGridLibrary />

        <style>
            .oddRow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
            }
            .evenrow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: #F5F5F5;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
            }
            #gridbox table.obj td {
                border-right: 1px solid rgb(204, 204, 204);
                font-size:12px;
            }
            .inpTxt {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 28px;
                border-radius: 1px;
                margin-bottom: 10px;
                width: 100%;
                float: left;
            }
            .inpTxt:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            label {
                color: #454F6F !important;
                margin-left: 10px;
                font-size: 12px;
                margin-right: 10px;
                padding-bottom: 14px;
                font-weight: bold;
                float: left;
                margin-top: 7px;
                font-family: Arial;
            }
            .btn-lg {
                padding-top: 0px;
                padding-bottom: 0px;
                font-size: 12px;
                line-height: 0;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                padding: 5px 16px;
                border:none;
            }
            .btn-lg:hover {
                color: #fff;
                text-decoration: none;
                background: #38a3c5;
            }
            .filter input[type="text"] {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 26px !important;
                border-radius: 1px;
            }
            .filter input[type="text"]:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            .btn-success {
                background: #7EB4CE;
                border-radius: 1px;
                cursor: pointer;
                width: 185px;
                color: #fff;
            }
            .right-align {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }
            select {
                width: 100%;
                height: 28px;
                padding: 4px;
                border: 1px solid #ccc;
            }
            .req {
                border-left: 2px solid red !important;
                border-radius: 5px;
            }
            .dv_load {
                top: 45%;
                margin-left: 40%;
                padding: 15px;
                z-index: 20000;
                position: fixed;
                width: 250px;
                color: #394057;
                background: #D4D4D4;
                border: none;
                padding: 6px 20px;
                border-radius: 2px;
                box-shadow: 0 3px 5px #ddd;
            }
            .dialog {
                background: none repeat scroll 0 0 #FFFFFF;
                border: 1px solid #CCCCCC;
                box-shadow: 0 5px 5px #AAAAAA;
                left: 25%;
                padding: 0;
                position: fixed;
                top: 25%;
                width: 50%;
                z-index: 2;
                display: none;
            }
            .dialog label {
                font-weight: normal !important;
            }
            .dialog-header {
                background: none repeat scroll 0 0 #1797C0;
                box-shadow: 0 2px 2px #1797C0;
                float: left;
                font-weight: bold;
                padding: 10px 1%;
                width: 100%;
                color: white;
            }
            .overlay {
                width: 100%;
                top: 0;
                left: 0;
                background: #222;
                height: 1000px;
                opacity: 0.6;
                z-index: 1;
                position: fixed;
                display: none;
            }
            .rouncorner {
                border-radius: 1px;
            }
            .duke-dropdown table tr td select {
                height: 28px;
                float: left;
                margin-bottom: 10px;
            }
            .a {
                color: rgb(206, 18, 18);
                font-size: 14px;
                text-decoration: none;
                cursor:pointer;
            }
            .a:hover {
                font-size: 14px;
            }
            div.gridbox_light table.row20px tr td {
                padding: 0px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px !important;
                color: #414141;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid white;
                border-right: 1px solid #D6D6D6;
            }
            div.gridbox table.row20px tr td {
                height: 20px;
                white-space: nowrap;
                padding: 0px;
            }
            div.gridbox_light table.row20px tr td {
                padding-right: 4px;
                padding-left: 4px;
            }
            div.gridbox table.obj td {
                border-bottom: 1px solid #eee;
            }
            a {
                color: #428bca;
                text-decoration: none;
                cursor: pointer;
            }
            .aCss {
                color: #428bca !important;
                text-decoration: none;
            }
            body a:hover {
                color: rgb(206, 18, 18);
                text-decoration: underline;
            }
            div.gridbox_light table.hdr td div.hdrcell {
                font-size: 12px;
            }
            .cover{
                position: fixed;
                top: 10px;
                left: 15%;
                background: #fff;
                z-index: 100;
                width: 70%;
            }
            .DispositionCover{
                float: left;
                width: 25%;
                display: block;
                background: rgb(245, 245, 245);
                position: fixed;
                z-index: 1000;
                left: 38%;
                top: 20%;
            }
            div.recinfoArea > div{width:1280px !important;}
            .header {
                padding: 1rem .75rem;
                border-bottom: none;
                background: #f7f9fb;
                box-shadow: none;
                float: left;
                width: 100%;
            }
            .slds-button {
                position: relative;
                display: inline-block;
                padding: 0;
                background: 0 0;
                background-clip: border-box;
                border: 1px solid transparent;
                border-radius: .25rem;
                font-size: 14px;
                line-height: 2.5;
                text-decoration: none;
                color: #5780AD;
                -webkit-appearance: none;
                white-space: normal;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: color 50ms linear,background-color 50ms linear;
                cursor: pointer;
                font-weight: normal;
            }
            .slds-button--neutral {
                padding-left: 1rem;
                padding-right: 1rem;
                text-align: center;
                vertical-align: middle;
                border: 1px solid #d8dde6 !important;
                background-color: #fff !important;
            }
            .slds-button--neutral:hover{
                background: #f4f6f9 !important;
            }
            .hdr-spn{
                font-size: 18px;
                color: #777;
                padding: 6px;
                float: left;
            }
            body{
                margin: 0;
                overflow-x: hidden;
            }
            .jqx-grid{
                border: 1px solid #ddd;
            }
        </style>
    </head>

    <body>
        <apex:form id="frm" style="background:white;font-family:Arial; font-size:12px;">
            <apex:actionFunction name="callSaveTo" action="{!saveInspectionItem}" status="status" reRender="s" oncomplete="initGrid();">
                <apex:param assignTo="{!SelectedRecId}" value="" name="s23"/>
                <apex:param assignTo="{!SelectedDelRecId}" value="" name="s24"/>
            </apex:actionFunction>
            
            <apex:actionFunction name="removeILI" action="{!removeRecord}" reRender="">
                <apex:param name="recid" value="" id="recid" assignTo="{!recId1}"/>
            </apex:actionFunction>
            <apex:actionStatus id="status">
                <apex:facet name="start">
                    <div id="load-status">
                        <div style="width: 100%; height:700px; background:rgba(241, 241, 241, 0.5); top:0px; left:0px; position: fixed; z-index:10000"></div>
                        <div class="dv_load">
                            <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>

            <apex:actionStatus id="status3">
                <apex:facet name="start">
                    <div id="load-status3">
                        <div style="width: 100%; height:700px; background:rgba(241, 241, 241, 0.5); top:0px; left:0px; position: fixed; z-index:10000"></div>
                        <div class="dv_load">
                            <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <header class="header">
                <span class="hdr-spn">Existing Inspection Request Items</span>
               <button class="slds-button slds-button--neutral" onclick="Goback('{!InspId}'); return false;" style="float:right;">Go Back to Inspection Request</button> 
                
               <button class="slds-button slds-button--neutral" onclick="getSelectedRecRows(); return false;" style="float:right;">Remove Inspect Request Line Item</button> 
            </header>

            <br/>
            <!-- <apex:outputPanel id="prjRes"> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="margin-top: 30px;">
                        <div id="existinggrid">
                        </div>
                    </div>
                </div>
            </div>
            <!--</apex:outputPanel>-->
            <br/>
            
            <div class="row">
                <apex:actionfunction name="saveProjId" action="{!saveProjId}" status="status" rerender="prjRes" oncomplete="initGrid();" />
                <div class="col-md-12">
                    <div class="genarel-box">
                    <header class="header">
                        <span class="hdr-spn">Projects List</span>
                        <button class="slds-button slds-button--neutral" onclick="getSelectedRecRows(); return false;" style="float:right;">Add Inspect Request Line Item</button> 
                        </header>
                       
                        <div class="form-inline">
                            
                            <div class="form-group col-md-4">
                            <br/>
                                <label >Select Project</label>
                                 <apex:selectList styleClass="form-control" value="{!selectedPrjId}" size="1" multiselect="false"  onchange="changeProj(this.value);">
                                          <apex:selectOptions value="{!ListOfProj}" />
                                 </apex:selectList>
                             
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12" style="margin-top: 30px;">
                        <div id="grid">
                        </div>
                    </div>
                </div>
               <apex:outputPanel id="prjRes">
                <script>
        
                    function changeProj(v){
                        saveProjId(v);
                    }
                    
                    $(document).ready(function () {
                        initGrid();
                    });
                    
                    function removeILIJS(n){
                        removeILI(n);
                    }
                    
                    function Goback(InspId){
                        
                       window.location = '/' + InspId;
                    }
                    function initGrid(){
                        var rows = new Array();
                        var drows = new Array();
                        $("#existinggrid").jqxGrid('clearselection');
                        $("#grid").jqxGrid('clearselection');
                        var url = "{!$Page.dsmtProjectXML}?id={!$CurrentPage.parameters.id}";
                        var source =
                        {
                            datafields: [
                                { name: 'IRId', type: 'string' },
                                { name: 'ProjectName', type: 'string' },
                                { name: 'RecommendationName', type: 'string' },
                                { name: 'RecommendationId', type: 'string' },
                                { name: 'Quantity', type: 'string' }
                            ],
                            root: "Ispections",
                            record: "Ispection",
                            datatype: "xml",
                            url: url
                            
                        };
                        
                        var adapter = new $.jqx.dataAdapter(source);
                        
                        $("#existinggrid").jqxGrid({
                                width: '100%',
                                source: adapter,
                                altrows: true,
                                height: 100,
                                selectionmode: 'checkbox',
                                ready: function () {
                                   
                                        
                                    
                                },
                                columns: [
                                  { text: 'RecommendationId', datafield: 'RecommendationId', hidden: true },
                                  { text: 'IRId', datafield: 'IRId', hidden: true },
                                  { text: 'Project Name', datafield: 'ProjectName', width: 200 },
                                  { text: 'Recommendation Name', datafield: 'RecommendationName'},
                                  { text: 'Installed Quantity', datafield: 'Quantity'}
                               ]
                            });
                        
                        var renderer = function (row, column, value) {
                            return '<span style="margin-left: 4px; margin-top: 9px; float: left;">' + value + '</span>';
                        }
                        
                        
                      var urlRec = "{!$Page.dsmtRecommXML}?id={!$CurrentPage.parameters.id}&prjId={!selectedPrjId}";
                        var sourceRec =
                        {
                            datafields: [
                                { name: 'ProjectName', type: 'string' },
                                { name: 'RecommendationName', type: 'string' },
                                { name: 'RecommendationId', type: 'string' },
                                { name: 'Quantity', type: 'string' }
                            ],
                            root: "Recommendations",
                            record: "Recommendation",
                            datatype: "xml",
                            url: urlRec
                            
                        };
                        
                        var adapterRec = new $.jqx.dataAdapter(sourceRec);
                        
                        $("#grid").jqxGrid({
                                width: '100%',
                                source: adapterRec,
                                altrows: true,
                                height: 100,
                                selectionmode: 'checkbox',
                                ready: function () {
                                   
                                        $("#grid").jqxGrid('clearselection');
                                    
                                },
                                columns: [
                                  { text: 'RecommendationId', datafield: 'RecommendationId', hidden: true },
                                  { text: 'Project Name', datafield: 'ProjectName', width: 200 },
                                  { text: 'Recommendation Name', datafield: 'RecommendationName'},
                                  { text: 'Installed Quantity', datafield: 'Quantity'}
                               ]
                            });
                        
                        
                        
                    }
                    
                    function getSelectedRecRows(){
                        var ids = '';
                        rows = $('#grid').jqxGrid('getselectedrowindexes');
                        
                        if(rows.length > 0){
                        for(var i=0; i < rows.length; i++){
                            var rid = $('#grid').jqxGrid('getrowdata', rows[i]).RecommendationId;
                            ids += rid +',';
                        }
                        }
                        
                        var delids = '';
                        drows = $('#existinggrid').jqxGrid('getselectedrowindexes');
                        
                        if(drows.length > 0){
                        for(var i=0; i < drows.length; i++){
                            var did = $('#existinggrid').jqxGrid('getrowdata', drows[i]).IRId;
                            delids += did +',';
                        }
                        }
                        
                        
                        if(ids.length > 0 || delids.length > 0){
                            callSaveTo(ids,delids);
                        }else
                            alert('Please select atleast one Recommendation.');
                    }
                </script>
                </apex:outputPanel>
            </div>
            
            <input type="hidden" id="hidDispositionID" name="hidDispositionID" value="" />
            <input type="hidden" id="hidHide" name="hidHide" value="" />
        </apex:form>
    </body>
    
    
</apex:page>