<apex:page standardController="Customer__c" showHeader="false">
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection >
                <apex:outputField value="{!Customer__c.name}"/>
                <apex:outputField value="{!Customer__c.Service_Street_Number__c}"/>
                <apex:outputField value="{!Customer__c.Service_Street__c}"/>
                <apex:outputField value="{!Customer__c.Service_City__c}"/>
                <apex:outputField value="{!Customer__c.Service_State__c}"/>
                <apex:outputField value="{!Customer__c.Service_Postal_Code__c}"/>
                <apex:outputField value="{!Customer__c.Electric_Provider_Name__c}"/>
                <apex:outputField value="{!Customer__c.Service_Activation_Date__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>