<apex:page showHeader="true" sidebar="false" standardController="Location__c" extensions="dsmtCreateTerritoryController" standardStylesheets="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <meta charset="UTF-8" />
            <title>Region Map</title>
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
            <apex:includeScript value="https://maps.google.com/maps/api/js?sensor=false&libraries=drawing,geometry&key=AIzaSyCWYLO4OT0RVHDBrWnn9nCO-u8TMhj2PpE"/>
            <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
            <apex:stylesheet value="{!URLFOR($Resource.Lightning, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
            <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js?key=AIzaSyCWYLO4OT0RVHDBrWnn9nCO-u8TMhj2PpE"/>
            
            <apex:stylesheet value="{!URLFOR($Resource.jqwidgetsOthers, 'styles/jqx.base.css')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxcore.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxdata.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxbuttons.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxscrollbar.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxlistbox.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxdropdownlist.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxmenu.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.pager.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.filter.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.sort.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.columnsresize.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.selection.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.edit.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.selection.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxgrid.aggregates.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxpanel.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsOthers, 'globalization/globalize.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxcalendar.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxdatetimeinput.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxcheckbox.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxsplitter.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.jqwidgetsJS, 'jqxexpander.js')}"/> 
             
            <style>           
                .noSidebarCell, .sidebarCell .fixed {
                    padding: 0px;
                }
                .color-button{
                    float: right;
                    width: 25px;
                    margin: 5px 3px;
                    height: 25px;
                }
                #map{
                    width: 100%;
                    float: left;
                    min-height: 550px;
                }
                #panel{
                    text-align: right;
                }
                .slds .slds-card__body {
                    padding: 8px 8px;
                    overflow: hidden;
                }
                #show-button, #hide-button, #create-button, #delete-t-button, #empPopup, #color-palette, #save-button, #empDeletePopup{
                    display: none;
                }
                #empLegand{
                    position: fixed;
                    right: 1%;
                    background: #fff;
                    padding: 5px;
                    border: 1px solid#CCC;
                    border-radius: 2px;
                    box-shadow: 0 10px 10px #ccc;
                }
                .legand{
                    width: 20px;
                    height: 15px;
                    float: left;
                }
                .emp{
                    float: left;
                    margin: -3px 5px;
                    margin-bottom: 2px;
                }
                .slds .slds-card {
                    border: 0px solid #d8dde6;
                }
                .error{
                    color: #ca0a0a;
                    font-size: 14px;
                    font-weight: bold;
                    float: left;
                    margin-top: 8px;
                }
                .gmnoprint div{
                    font-size: 20px;
                }
                .slds .slds-card + .slds-card {
                    margin-top: 3px;
                }
                .bodyDiv .outerNoSidebar {
                    padding: 0 10px 4px;
                }
                .slds-button {
                    color: #5780AD !important;
                }
                .slds-backdrop {
                    transition-duration: .4s;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(126,140,153,.8);
                    z-index: 9000;
                }
                .slds-backdrop--open {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity .4s linear;
                }
                #info{
                    position: absolute;
                    top: 60px;
                    right: 20px;
                    z-index: 233;
                    background: #fff;
                    padding: 3px 8px;
                    border-radius: 3px;
                }
                #ddlLocation, #ddlWorkTeam{
                    background-color: white;
                    color: #16325c;
                    border: 1px solid #d8dde6;
                    border-radius: 4px;
                    width: 100%;
                    -webkit-transition: border 0.1s linear, background-color 0.1s linear;
                    transition: border 0.1s linear, background-color 0.1s linear;
                    display: inline-block;
                    padding: 0 16px 0 12px;
                    line-height: 26px;
                    min-height: 33px;
                    font-size: 12px;
                }
            </style>
            
            <script>
                var map;
                var showTerritry = true;
                var drawingManager;
                var selectedShape;
                var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
                var selectedColor;
                var colorButtons = {};
                var terId;
                
                var address = "{!location.Address__c}, {!location.City__c}, {!location.Country__c}, {!location.Zip__c}";
                
                function clearSelection() {
                    if (selectedShape) {
                        selectedShape.setEditable(false);
                        selectedShape = null;
                    }
                }
            
                function setSelection(shape) {
                    clearSelection();
                    selectedShape = shape;
                    shape.setEditable(true);
                    selectColor(shape.get('fillColor') || shape.get('strokeColor'));
                }
            
                function deleteSelectedShape() {
                    if (selectedShape) {
                        selectedShape.setMap(null);
                    }
                }
                
                function selectedShapePath(){
                    if (selectedShape) {
                        var pathArray;
                        var shapeType = selectedShape.type;
                        if(shapeType == 'polygon')
                            pathArray = selectedShape.getPath().getArray();
                        else if(shapeType == 'polyline')
                            pathArray = selectedShape.getPath().getArray();
                        else if(shapeType == 'circle')
                            pathArray = selectedShape.getBounds();
                        else if(shapeType == 'rectangle')
                            pathArray = selectedShape.getBounds();
                        
                        if(pathArray.length > 0){
                            var pathArrayStr = '';
                            for(var i=0; i < pathArray.length; i++){
                                pathArrayStr += pathArray[i]+'~~~';
                            }
                            callSaveTerritory(terId, shapeType, pathArrayStr);
                        }else{
                            alert('Please draw a polygon to save the Territory.');
                        }
                    }
                }
            
                function selectColor(color) {
                    selectedColor = color;
                    /*for (var i = 0; i < colors.length; ++i) {
                        var currColor = colors[i];
                        colorButtons[currColor].style.border = currColor == color ? '2px solid #789' : '2px solid #fff';
                    }*/
                    
                    // Retrieves the current options from the drawing manager and replaces the
                    // stroke or fill color as appropriate.
                    var polylineOptions = drawingManager.get('polylineOptions');
                    polylineOptions.strokeColor = color;
                    drawingManager.set('polylineOptions', polylineOptions);
            
                    var rectangleOptions = drawingManager.get('rectangleOptions');
                    rectangleOptions.fillColor = color;
                    drawingManager.set('rectangleOptions', rectangleOptions);
            
                    var circleOptions = drawingManager.get('circleOptions');
                    circleOptions.fillColor = color;
                    drawingManager.set('circleOptions', circleOptions);
            
                    var polygonOptions = drawingManager.get('polygonOptions');
                    polygonOptions.fillColor = color;
                    drawingManager.set('polygonOptions', polygonOptions);
                }
            
                function setSelectedShapeColor(color) {
                    if (selectedShape) {
                        if (selectedShape.type == google.maps.drawing.OverlayType.POLYLINE) {
                            selectedShape.set('strokeColor', color);
                        } else {
                            selectedShape.set('fillColor', color);
                        }
                    }
                }
            
                function makeColorButton(color) {
                    var button = document.createElement('span');
                    button.className = 'color-button';
                    button.style.backgroundColor = color;
                    google.maps.event.addDomListener(button, 'click', function() {
                        selectColor(color);
                        setSelectedShapeColor(color);
                    });
            
                    return button;
                }
            
                function buildColorPalette() {
                    var colorPalette = document.getElementById('color-palette');
                    for (var i = 0; i < colors.length; ++i) {
                        var currColor = colors[i];
                        var colorButton = makeColorButton(currColor);
                        colorPalette.appendChild(colorButton);
                        colorButtons[currColor] = colorButton;
                    }
                    selectColor(colors[0]);
                }
                
                function initialize() {
                    // Create a new Geocoder
                    var geocoder = new google.maps.Geocoder();
                    // Locate the address using the Geocoder.
                    geocoder.geocode( { "address": address }, function(results, status) {
                        
                        console.log('results' , results);
                        console.log('status' , status);
                        
                        // If the Geocoding was successful
                        if (status == google.maps.GeocoderStatus.OK) {
                             // Create a Google Map at the latitude/longitude returned by the Geocoder.
                            var myOptions = {
                                zoom: 8,
                                center: results[0].geometry.location,
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                disableDefaultUI: false,
                                zoomControl: true
                            };
                            
                            map = new google.maps.Map(document.getElementById('map'), myOptions);
                        }
                        
                        var polyOptions = {
                            strokeWeight: 0,
                            fillOpacity: 0.45,
                            editable: true
                        };
                        
                        // Creates a drawing manager attached to the map that allows the user to draw
                        // markers, lines, and shapes.
                        drawingManager = new google.maps.drawing.DrawingManager({
                            drawingMode: null,
                            drawingControl: false,
                            drawingControlOptions: {
                                position: google.maps.ControlPosition.TOP_CENTER,
                                drawingModes: ['circle', 'polygon', 'rectangle']
                            },
                            rectangleOptions: polyOptions,
                            circleOptions: polyOptions,
                            polygonOptions: polyOptions,
                            map: map
                        });
                        
                        google.maps.Polygon.prototype.getBoundingBox = function() {
                            var bounds = new google.maps.LatLngBounds();
                            if(this.getPath() && Array.isArray(this.getPath())){
                                this.getPath().forEach(function(element,index) {
                                    bounds.extend(element)
                                });
                            }
                            return(bounds);
                        };
                        
                        google.maps.Polygon.prototype.getApproximateCenter = function() {
                          var boundsHeight = 0,
                              boundsWidth = 0,
                              centerPoint,
                              heightIncr = 0,
                              maxSearchLoops,
                              maxSearchSteps = 10,
                              n = 1,
                              northWest,
                              polygonBounds = this.getBoundingBox(),
                              testPos,
                              widthIncr = 0;
                        
                        
                          // Get polygon Centroid
                          centerPoint = polygonBounds.getCenter();
                        
                        
                          if (google.maps.geometry.poly.containsLocation(centerPoint, this)) {
                              // Nothing to do Centroid is in polygon use it as is
                              return centerPoint;
                          } else {
                              maxSearchLoops = maxSearchSteps / 2;
                        
                        
                              // Calculate NorthWest point so we can work out height of polygon NW->SE
                              northWest = new google.maps.LatLng(
                                polygonBounds.getNorthEast().lat(), 
                                polygonBounds.getSouthWest().lng()
                              );
                        
                        
                              // Work out how tall and wide the bounds are and what our search
                              // increment will be
                              boundsHeight = google.maps.geometry.spherical.computeDistanceBetween(
                                northWest, 
                                polygonBounds.getSouthWest()
                              );
                              heightIncr = boundsHeight / maxSearchSteps;
                        
                        
                              boundsWidth = google.maps.geometry.spherical.computeDistanceBetween(
                                 northWest, polygonBounds.getNorthEast()
                              );
                              widthIncr = boundsWidth / maxSearchSteps;
                        
                        
                              // Expand out from Centroid and find a point within polygon at 
                              // 0, 90, 180, 270 degrees
                              for (; n <= maxSearchSteps; n++) {
                                  // Test point North of Centroid
                                  testPos = google.maps.geometry.spherical.computeOffset(
                                    centerPoint, 
                                    (heightIncr * n), 
                                    0
                                  );
                                  if (google.maps.geometry.poly.containsLocation(testPos, this)) {
                                      break;
                                  }
                        
                        
                                  // Test point East of Centroid
                                  testPos = google.maps.geometry.spherical.computeOffset(
                                    centerPoint, 
                                    (widthIncr * n), 
                                    90
                                  );
                                  if (google.maps.geometry.poly.containsLocation(testPos, this)) {
                                      break;
                                  }
                        
                        
                                  // Test point South of Centroid
                                  testPos = google.maps.geometry.spherical.computeOffset(
                                    centerPoint, 
                                    (heightIncr * n), 
                                    180
                                  );
                                  if (google.maps.geometry.poly.containsLocation(testPos, this)) {
                                      break;
                                  }
                        
                        
                                  // Test point West of Centroid
                                  testPos = google.maps.geometry.spherical.computeOffset(
                                    centerPoint, 
                                    (widthIncr * n), 
                                    270
                                  );
                                  if (google.maps.geometry.poly.containsLocation(testPos, this)) {
                                      break;
                                  }
                              }
                        
                        
                              return(testPos);
                          }
                        };
                        
                        if(showTerritry)
                            drawShapesInit();
                
                        // Clear the current selection when the drawing mode is changed, or when the
                        // map is clicked.
                        google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
                        google.maps.event.addListener(map, 'click', clearSelection);
                        
                        var deleteButton = document.getElementById('delete-button');
                        
                        if(deleteButton)
                            google.maps.event.addDomListener(deleteButton, 'click', deleteSelectedShape);
                    });
                }
                
                function drawShapesInit(){
                    var mrkr;
                    
                    var selectedTeams = $("#ddlWorkTeam").val();
                    empIds = $("#ddlWorkTeam").val();
                    
                    var locations = $("#ddlLocation").val();
                    console.log(locations);
                    <apex:repeat value="{!territoryList}" var="t">
                        if((empIds == '' || empIds.indexOf('All') != -1 || empIds.indexOf("{!t.Name}") != -1) &&
                           (locations =='' || locations.indexOf('All') != -1 || locations.indexOf('{!t.Location__r.Name}') != -1))
                        {
                            var radius;
                            var coords = [
                                <apex:repeat value="{!t.Territory_Details__r}" var="td">
                                    {lat: {!td.Coordinates__Latitude__s}, lng: {!td.Coordinates__Longitude__s}},
                                </apex:repeat>
                            ];
                            
                            <apex:repeat value="{!t.Territory_Details__r}" var="td">
                                radius = parseFloat('{!td.Radius__c}');
                            </apex:repeat>
                            
                            if('{!t.ShapeType__c}' == 'polygon'){
                                // Construct the polygon.
                                var polyShape = new google.maps.Polygon({
                                    paths: coords,
                                    strokeColor: '#1E90FF',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 2,
                                    fillColor: '#1E90FF',
                                    fillOpacity: 0.35,
                                    editable: true
                                });
                                polyShape.setMap(map);
                                
                                var infowindow = new google.maps.InfoWindow({
                                    content: "{!t.Territory_Name__c}<br/>{!t.Address__c}"
                                });
                                
                                var mrkr = new google.maps.Marker({
                                    position: polyShape.getApproximateCenter(),
                                    map: map,
                                    title: "Territory Name: {!t.Territory_Name__c}\n Address: {!t.Address__c}"
                                });
                                
                                mrkr.addListener('click', function() {
                                    infowindow.open(map, mrkr);
                                });
                            }else if('{!t.ShapeType__c}' == 'circle'){
                                // Construct the polyline.
                                var polyShape3 = new google.maps.Circle({
                                    center: coords[0],
                                    strokeColor: '#1E90FF',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 2,
                                    fillColor: '#1E90FF',
                                    fillOpacity: 0.35,
                                    editable: true,
                                    radius: radius
                                });
                                polyShape3.setMap(map);
                                
                                var infowindow = new google.maps.InfoWindow({
                                    content: "{!t.Territory_Name__c}<br/>{!t.Address__c}"
                                });
                                
                                var mrkr = new google.maps.Marker({
                                    position: polyShape3.getCenter(),
                                    map: map,
                                    title: "Territory Name: {!t.Territory_Name__c}\n Address: {!t.Address__c}"
                                });
                                
                                mrkr.addListener('click', function() {
                                    infowindow.open(map, mrkr);
                                });
                            }else if('{!t.ShapeType__c}' == 'polyline'){
                                // Construct the polyline.
                                var polyShape2 = new google.maps.Polyline({
                                    paths: coords,
                                    geodesic: true,
                                    strokeColor: '#1E90FF',
                                    strokeOpacity: 0.8,
                                    strokeWeight: 2
                                });
                                polyShape2.setMap(map);
                            }
                        }
                    </apex:repeat>
                }
                
                google.maps.event.addDomListener(window, 'load', initialize);
                
                function initTerrDD(){
                    var source = [] ; 
                    var i=0;
                    source[i] = 'All';
                    
                    <apex:repeat value="{!territoryList}" var="t">
                        i++;
                        source[i] = "{!t.Name}";
                    </apex:repeat>
                    
                    var uniqueNames = [];
                    $.each(source, function(i, el){
                        if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
                    });
                    
                    $("#ddlWorkTeam").jqxDropDownList({ placeHolder: "Territory:", source: uniqueNames, checkboxes: true, height: 24, width: 250});
                    
                    $('#ddlWorkTeam').on('checkChange', function (event) {
                        initialize();
                    });
                    
                    source = [] ; 
                    var i=0;
                    source[i] = 'All';
                    
                    <apex:repeat value="{!locationList}" var="t">
                        i++;
                        source[i] = "{!t.Name}";
                    </apex:repeat>
                    
                    uniqueNames = [];
                    $.each(source, function(i, el){
                        if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
                    });
                    
                    $("#ddlLocation").jqxDropDownList({ placeHolder: "Location:", source: uniqueNames, checkboxes: true, height: 24, width: 250});
                    
                    $('#ddlLocation').on('checkChange', function (event) {
                        initialize();
                    });
                }
                
                $(document).ready(function(){
                    initTerrDD();
                });
            </script>
        </head>
        <body>
            <apex:form id="frm">
                <div class="slds">
                    <apex:pageMessages />
                    
                    <div style="width: 100%;">
                        <div class="slds-card" >
                            <div class="slds-card__body">
                                <h1 style="float: left; padding: 2px;" class="name slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle">
                                    Territories - [{!Location__c.Name}]
                                </h1>
                                <div id="panel">
                                    <div style="float:right">
                                        <button id="cancel-button" class="slds-button slds-button--neutral" onclick="window.location.href = '/{!Location__c.Id}'; return false;">Cancel</button>
                                    </div>
                                    <div style="float:right; margin-right: 5px;">
                                        <div id="ddlLocation"></div>
                                        <div id="ddlWorkTeam"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slds-card" >
                            <div id="info"></div>
                            <div id="map" ></div>    
                        </div>
                        <!-------------------------------------- slds-card div close -------------------------------------->
                    </div>      
                </div> <!-- slds div close --> 
            </apex:form>             
        </body>
    </html>
</apex:page>