<apex:page controller="dsmtTradeallyLoginCtrl" action="{!relogin2}">
    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
    <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
        <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
    </div>
</apex:page>