<apex:page standardController="Review__c" extensions="dsmtAddBillingAdjustmentController" sidebar="false" action="{!createReviewRec}">
    <head>
        <c:dsmtJqxGridLibrary />
        
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" type="text/css" rel="stylesheet" media="all" />
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        <style>
            .oddRow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
            }
            .evenrow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: #F5F5F5;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
            }
            #gridbox table.obj td {
                border-right: 1px solid rgb(204, 204, 204);
                font-size:12px;
            }
            .inpTxt {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 28px;
                border-radius: 1px;
                margin-bottom: 10px;
                width: 100%;
                float: left;
            }
            .inpTxt:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            .filter input[type="text"] {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 26px !important;
                border-radius: 1px;
            }
            .filter input[type="text"]:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            .right-align {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }
            select {
                width: 100%;
                height: 28px;
                padding: 4px;
                border: 1px solid #ccc;
            }
            .req {
                border-left: 2px solid red !important;
                border-radius: 5px;
            }
            .dv_load {
                top: 45%;
                margin-left: 40%;
                padding: 15px;
                z-index: 20000;
                position: fixed;
                width: 250px;
                color: #394057;
                background: #D4D4D4;
                border: none;
                padding: 6px 20px;
                border-radius: 2px;
                box-shadow: 0 3px 5px #ddd;
            }
            .overlay {
                width: 100%;
                top: 0;
                left: 0;
                background: #222;
                height: 1000px;
                opacity: 0.6;
                z-index: 1;
                position: fixed;
                display: none;
            }
            .rouncorner {
                border-radius: 1px;
            }
            .duke-dropdown table tr td select {
                height: 28px;
                float: left;
                margin-bottom: 10px;
            }
            .a {
                color: rgb(206, 18, 18);
                font-size: 14px;
                text-decoration: none;
                cursor:pointer;
            }
            .a:hover {
                font-size: 14px;
            }
            div.gridbox_light table.row20px tr td {
                padding: 0px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px !important;
                color: #414141;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid white;
                border-right: 1px solid #D6D6D6;
            }
            div.gridbox table.row20px tr td {
                height: 20px;
                white-space: nowrap;
                padding: 0px;
            }
            div.gridbox_light table.row20px tr td {
                padding-right: 4px;
                padding-left: 4px;
            }
            div.gridbox table.obj td {
                border-bottom: 1px solid #eee;
            }
            a {
                color: #428bca;
                text-decoration: none;
                cursor: pointer;
            }
            .aCss {
                color: #428bca !important;
                text-decoration: none;
            }
            body a:hover {
                color: rgb(206, 18, 18);
                text-decoration: underline;
            }
            div.gridbox_light table.hdr td div.hdrcell {
                font-size: 12px;
            }
            .header {
                padding: 1rem .75rem;
                border-bottom: none;
                background: #f7f9fb;
                box-shadow: none;
                float: left;
                width: 100%;
            }
            .hdr-spn{
                font-size: 18px;
                color: #777;
                padding: 6px;
                float: left;
            }
            body{
                margin: 0;
                overflow-x: hidden;
            }
            .jqx-grid{
                border: 1px solid #ddd;
            }
            .noSidebarCell, .sidebarCell .fixed {
                padding: 2px 3px 10px 0px;
            }
            .jqx-rc-all{
                border-radius: 1px;
            }
            body .btn, .continue-bt {
                box-shadow: none;
                background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
                padding: 5px 15px;
                border: none;
                font-size: 14px;
                float: right;
                margin-left: 5px;
                border-radius: 0;
                color: #777;
                border: 1px solid #ddd;
                font-weight: normal;
            }
            body .btn:hover, .continue-bt:hover {
                color: #777;
            }
            .genarel-box2 h5 {
                background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
                background-color: rgba(0, 0, 0, 0);
                border-color: #eeeeee !important;
                padding: 10px;
                margin: 0;
                font-size: 14px;
                font-weight: bold;
                color: #555;
                float: left;
                width: 100%;
            }
            .genarel-box2{
                border: 1px solid #eee !important;
                float: left;
                width: 100%;
            }
            .dateFormat{
                display: none;
            }
            .jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
                border-color: #ddd;
            }
            .jqx-widget-header{
                background: #f3f3f3;
            }
            b{
                font-weight: 700;
                font-size: 13px;
                color: #555;
            }
            .genarel-box2 label{
                width: 100%;
            }
            .genarel-box2 .boolean {
                width: 30px !important;
                float: left;
            }
            .form-control{
                border-radius: 0;
                height: 30px;
            }
            .iframe{
                width: 100%;
                height: 38px;
                border: none;
                border-radius: 3px;
            }
        </style>
    </head>

    <body>
        <apex:form id="frm" style="background:white;font-family:Arial; font-size:12px;">
            <apex:actionfunction name="callSaveTo" action="{!CreateChagneOrderItems}" status="actionStatusLoader" rerender="prjRes" oncomplete="initGrid();" >
                <apex:param name="p1" value="" assignTo="{!dataSave}"/>
                <apex:param name="navigate" value="yes"/>
            </apex:actionFunction>
            
            <apex:actionfunction name="callUpdateTo" action="{!CreateChagneOrderItems}" status="actionStatusLoader" rerender="prjRes,subTotalPanel" oncomplete="initGrid();" >
                <apex:param name="p1" value="" assignTo="{!dataSave}"/>
                <apex:param name="navigate" value="no"/>
            </apex:actionFunction>
                
            <apex:actionStatus id="actionStatusLoader">
                <apex:facet name="start">
                    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                    <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                        <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <div class="row">
                <!-- Review Details Section -->
                <div class="col-md-12">
                    <div class="genarel-box">
                        <header class="header">
                            <span class="hdr-spn">Reivew - Add Billing Adjustment</span>
                            
                            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="window.location.href = '/{!IF($CurrentPage.parameters.projid != '', $CurrentPage.parameters.projid, $CurrentPage.parameters.id)}';">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="getSelectedRecRows();">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="$('#recomContainerDiv').slideDown();">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add Recommendation
                            </button>
                        </header>
                        
                        <div class="form-inline">
                            <!-- <div class="form-group col-md-3">
                                <br/>
                                <label style="margin-top:0;">Review Name: </label>
                                <b>{!rev.Name}</b>
                            </div> --->
                            <div class="form-group col-md-4">
                                <br/>
                                <label style="margin-top:0;">Review Status: </label>
                                <b>{!rev.Status__c}</b>
                            </div>
                            <div class="form-group col-md-4">
                                <br/>
                                <label style="margin-top:0;">Energy Assessment: </label>
                                <b>{!EAName}</b>
                            </div>
                            <div class="form-group col-md-4">
                                <br/>
                                <label style="margin-top:0;">Trade Ally Account: </label>
                                <b>{!TAName}</b>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-12" style="margin-top: 20px;">
                    <apex:outputPanel rendered="{!AND($CurrentPage.parameters.id != null, $CurrentPage.parameters.id != '')}">
                        <c:dsmtRecommendationComponentCO parentObjId="{!$CurrentPage.parameters.id}" parentObjField="Review__c"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!AND($CurrentPage.parameters.revid != null, $CurrentPage.parameters.revid != '')}">
                        <c:dsmtRecommendationComponentCO parentObjId="{!$CurrentPage.parameters.revid}" parentObjField="Review__c"/>
                    </apex:outputPanel>
                </div>                
                    
                <div class="col-md-12">
                    <div class="genarel-box">
                        <header class="header">
                            <span class="hdr-spn">Recommendation List</span>
                            <button class="btn btn-primary pull-right continue-bt" type="button" style="margin: 1px 10px;" onclick="calcSavings();">
                                <i class="glyphicon glyphicon-plus"></i>
                                Calculate Savings
                            </button>
                            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="callUpdate();">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Update
                            </button>
                        </header>
                    </div>  
                </div>
                    
                <div class="col-md-12">
                    <div id="grid">
                    </div>
                </div>     
                
                <div class="modal fade" id="savingsModalPopup" tabindex="-1" role="dialog" aria-labelledby="savingsModalPopup" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newRoofModalLabel">Calculating Savings</h5>
                            </div>
                            <div class="modal-body">
                                <div class="genarel-box" id="savingIframes" style="min-height: auto; border-color: transparent;">
                                    
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>           
                    
                <div class="col-md-12">
                    <apex:outputPanel id="subTotalPanel" style="text-align: center; font-size: 20px; float: left; width: 100%; margin-top: 10px;">
                        <div class="col-md-4">
                            <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;">
                                Total Job Cost <br/> <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!subTotal}"/></apex:outputText>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;">
                                Utility Incentive Share <br/> <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!utilityIncentive}"/></apex:outputText>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;">
                                Customer Contribution <br/> <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!customerContribution}"/></apex:outputText>
                            </div>
                        </div>
                    </apex:outputPanel>
                </div>
                    
                
                <apex:outputPanel id="prjRes">
                
                    <script>
            
                        function changeProj(v){
                            saveProjId(v);
                        }
                        
                        $(document).ready(function () {
                            initGrid();
                        });
                        
                        function removeILIJS(n){
                            removeILI(n);
                        }
                        
                        function Goback(InspId){
                            
                           window.location = '/' + InspId;
                        }
                        function initGrid(){
                            var rows = new Array();
                            var drows = new Array();
                            $("#grid").jqxGrid('clearselection');
                            
                            var renderer = function (row, column, value) {
                                return '<span style="margin-left: 4px; margin-top: 9px; float: left;">' + value + '</span>';
                            }
                            
                            var urlRec = "{!$Page.dsmtAddBillingAdjustmentXML}?id={!$CurrentPage.parameters.id}";
                            var sourceRec =
                            {
                                datafields: [
                                    { name: 'ProjectName', type: 'string' },
                                    { name: 'RecommendationName', type: 'string' },
                                    { name: 'RecommendationId', type: 'string' },
                                    { name: 'Quantity', type: 'string' },
                                    { name: 'InspectedQuanity', type: 'string' },
                                    { name: 'ChangeOrderQuantity', type: 'string' },
                                    { name: 'InstalledDate', type: 'string' },
                                    { name: 'ChangeOrderInstalledDate', type: 'date', format:'MM/dd/yyyy' }
                                ],
                                root: "Recommendations",
                                record: "Recommendation",
                                datatype: "xml",
                                url: urlRec
                                
                            };
                            
                            var adapterRec = new $.jqx.dataAdapter(sourceRec);
                            
                            $("#grid").jqxGrid({
                                width: '100%',
                                source: adapterRec,
                                altrows: true,
                                editable: true,
                                height: 306,
                                pagesize: 10,
                                pageable : true,
                                editmode: 'click',
                                selectionmode: 'checkbox',
                                ready: function () {
                                    $("#grid").jqxGrid('clearselection');
                                },
                                columns: [
                                  { text: 'RecommendationId', datafield: 'RecommendationId', hidden: true },
                                  { text: 'Project Name', datafield: 'ProjectName', width: 200, editable:false},
                                  { text: 'Recommendation Description', datafield: 'RecommendationName', width: 400, editable:false},
                                  { text: 'Installed Quantity', datafield: 'Quantity', editable:false},
                                  { text: 'Inspected Quantity', datafield: 'InspectedQuanity', editable:false},
                                  { text: 'Change Order Quantity', datafield: 'ChangeOrderQuantity', editable:true},
                                  { text: 'Original Installed Date', datafield: 'InstalledDate', editable:false},
                                  { text: 'New Installed Date', datafield: 'ChangeOrderInstalledDate', editable:true, columntype: 'datetimeinput', cellsformat: 'MM/dd/yyyy'}
                               ]
                            });
                        }
                        
                        function getSelectedRecRows(){
                            var ids = '';
                            rows = $('#grid').jqxGrid('getrows');
                            
                            if(rows.length > 0){
                                for(var i=0; i < rows.length; i++){
                                    var rid = rows[i].RecommendationId;
                                    var cqnt = rows[i].ChangeOrderQuantity;
                                    var iqnt = rows[i].ChangeOrderInstalledDate;
                                    
                                    var dt = new Date(iqnt);
                                    
                                    ids += rid +'-'+cqnt+','+(dt.getMonth()+1)+'/'+dt.getDate()+'/'+dt.getFullYear()+';';
                                }
                            }                        
                            
                            if(ids.length > 0 || delids.length > 0){
                                callSaveTo(ids);
                            }else
                                alert('Please select atleast one Recommendation.');
                        }
                        
                        function callUpdate(){
                            var ids = '';
                            rows = $('#grid').jqxGrid('getrows');
                            
                            if(rows.length > 0){
                                for(var i=0; i < rows.length; i++){
                                    var rid = rows[i].RecommendationId;
                                    var cqnt = rows[i].ChangeOrderQuantity;
                                    var iqnt = rows[i].ChangeOrderInstalledDate;
                                    console.log(iqnt);
                                    
                                    var dt = new Date(iqnt);
                                    
                                    ids += rid +'-'+cqnt+','+(dt.getMonth()+1)+'/'+dt.getDate()+'/'+dt.getFullYear()+';';
                                }
                            }                        
                            
                            if(ids.length > 0 || delids.length > 0){
                                callUpdateTo(ids);
                            }else
                                alert('Please select atleast one Recommendation.');
                        }
                        
                        //DO NOT REMOVE
                        function initDecimals()
                        {
                        
                        }
                        
                        function calcSavings(){
                            var rows = $('#grid').jqxGrid('getboundrows');
                            var recomIdsStr = '';
                            
                            for(var i = 0; i < rows.length; i++)
                            {
                                var row = rows[i];
                                
                                $('#savingIframes').append('<iframe id="iframe'+row.RecommendationId+'" class="iframe" src="/apex/dsmtUpdateRecommendation?id='+ row.RecommendationId +'"/>');       
                            }
                            
                            $('#savingsModalPopup').modal('show');
                        }
                        
                        function removeIframe(id)
                        {
                            $('#iframe'+id).remove();
                            
                            var lgnth = $('.iframe').length;
                            console.log(lgnth);
                            
                            if(lgnth == 0)
                                window.location.reload();
                        }
                    </script>
                </apex:outputPanel>
            </div>
            
            <input type="hidden" id="hidDispositionID" name="hidDispositionID" value="" />
            <input type="hidden" id="hidHide" name="hidHide" value="" />
        </apex:form>
    </body>
</apex:page>