<apex:page id="pg" standardController="Energy_Assessment__c" cache="false" extensions="dsmtenrgyassandprojController" standardStylesheets="false" sidebar="false" showHeader="false">
    <head>
        <script src="{!URLFOR($Resource.duke,'duke/js/libs/jquery-1.6.2.min.js')}"></script>

        <!-------- xxxxxxxxxxxxxxxxxxx GRID RESOURCES xxxxxxxxxxxxxxxxxx --------------->
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgrid.css')}"></link>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GridResource,'GridResource/codebase/skins/dhtmlxgrid_dhx_skyblue.css')}"></link>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.dhtmlxGrdpgn,'pgn/dhtmlxgrid_pgn_bricks.css')}"></link>

        <script  src="{!URLFOR($Resource.dhtmlxHF)}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgrid.js')}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/ext/dhtmlxgrid_srnd.js')}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/ext/dhtmlxgrid_filter.js')}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgridcell.js')}"></script>
        <script src="{!URLFOR($Resource.dhtmlxGrdpgn,'pgn/dhtmlxgrid_pgn.js')}"></script>
        <script src="{!URLFOR($Resource.dhtmlxgrid_excell_link)}"></script>
        
        <style>
            .oddRow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
            }
            .evenrow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: #F5F5F5;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
            }
            #gridbox table.obj td {
                border-right: 1px solid rgb(204, 204, 204);
                font-size:12px;
            }
            .inpTxt {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 28px;
                border-radius: 1px;
                margin-bottom: 10px;
                width: 100%;
                float: left;
            }
            .inpTxt:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            label {
                color: #454F6F !important;
                margin-left: 10px;
                font-size: 12px;
                margin-right: 10px;
                padding-bottom: 14px;
                font-weight: bold;
                float: left;
                margin-top: 7px;
                font-family: Arial;
            }
            .btn-lg {
                padding-top: 0px;
                padding-bottom: 0px;
                font-size: 12px;
                line-height: 0;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                padding: 5px 16px;
                border:none;
            }
            .btn-lg:hover {
                color: #fff;
                text-decoration: none;
                background: #38a3c5;
            }
            .filter input[type="text"] {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 26px !important;
                border-radius: 1px;
            }
            .filter input[type="text"]:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            .btn-success {
                background: #7EB4CE;
                border-radius: 1px;
                cursor: pointer;
                width: 185px;
                color: #fff;
            }
            .right-align {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }
            select {
                width: 100%;
                height: 28px;
                padding: 4px;
                border: 1px solid #ccc;
            }
            .req {
                border-left: 2px solid red !important;
                border-radius: 5px;
            }
            .dv_load {
                top: 45%;
                margin-left: 40%;
                padding: 15px;
                z-index: 20000;
                position: fixed;
                width: 250px;
                color: #394057;
                background: #D4D4D4;
                border: none;
                padding: 6px 20px;
                border-radius: 2px;
                box-shadow: 0 3px 5px #ddd;
            }
            .dialog {
                background: none repeat scroll 0 0 #FFFFFF;
                border: 1px solid #CCCCCC;
                box-shadow: 0 5px 5px #AAAAAA;
                left: 25%;
                padding: 0;
                position: fixed;
                top: 25%;
                width: 50%;
                z-index: 2;
                display: none;
            }
            .dialog label {
                font-weight: normal !important;
            }
            .dialog-header {
                background: none repeat scroll 0 0 #1797C0;
                box-shadow: 0 2px 2px #1797C0;
                float: left;
                font-weight: bold;
                padding: 10px 1%;
                width: 100%;
                color: white;
            }
            .overlay {
                width: 100%;
                top: 0;
                left: 0;
                background: #222;
                height: 1000px;
                opacity: 0.6;
                z-index: 1;
                position: fixed;
                display: none;
            }
            .rouncorner {
                border-radius: 1px;
            }
            .duke-dropdown table tr td select {
                height: 28px;
                float: left;
                margin-bottom: 10px;
            }
            .a {
                color: rgb(206, 18, 18);
                font-size: 14px;
                text-decoration: none;
                cursor:pointer;
            }
            .a:hover {
                font-size: 14px;
            }
            div.gridbox_light table.row20px tr td {
                padding: 0px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px !important;
                color: #414141;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid white;
                border-right: 1px solid #D6D6D6;
            }
            div.gridbox table.row20px tr td {
                height: 20px;
                white-space: nowrap;
                padding: 0px;
            }
            div.gridbox_light table.row20px tr td {
                padding-right: 4px;
                padding-left: 4px;
            }
            div.gridbox table.obj td {
                border-bottom: 1px solid #eee;
            }
            a {
                color: #428bca;
                text-decoration: none;
                cursor: pointer;
            }
            .aCss {
                color: #428bca !important;
                text-decoration: none;
            }
            body a:hover {
                color: rgb(206, 18, 18);
                text-decoration: underline;
            }
            div.gridbox_light table.hdr td div.hdrcell {
                font-size: 12px;
            }
            .cover{
                position: fixed;
                top: 10px;
                left: 15%;
                background: #fff;
                z-index: 100;
                width: 70%;
            }
            .DispositionCover{
                float: left;
                width: 25%;
                display: block;
                background: rgb(245, 245, 245);
                position: fixed;
                z-index: 1000;
                left: 38%;
                top: 20%;
            }
        </style>

        <script>
            var currentSelectedRow = '';
            var counter = 0;
            var isAddNewRow = true;
            $(document).ready(function() {
                $('.DispositionCover').hide();
                $('#gridbox').height(394);
                $('#tagridbox').height(250);
                $("#load-status2").hide();
                $('#gridbox table.hdr td').click(function() {
                    $('#gridbox').height(430);
                });
                $('#tagridbox table.hdr td').click(function() {
                    $('#tagridbox').height(255);
                });
            });

            
            
            function changeIdOfRow(){
                mygrid.changeRowId(currentSelectedRow,$("#hiddenNewinsertedExpId").val())  ;
            }
           
           function fillExptionTextarea(){
               var outboundMsg = $(".selectForStandardException option:selected").val();
               $("#excpectionMsg").val($("#excpectionMsg").val()+' '+ $(".selectForStandardException option:selected").text()+'\n');
               $("#outboundMsg").val($("#outboundMsg").val()+' '+outboundMsg+'\n');
               $("#tblOutboundMsg tr td:contains('" + outboundMsg+ "')").parent().find('td:first').find('input[type="checkbox"]').prop('checked', true);
           }
           
           function fillOutboundTextarea(outboundmsgId){
               var outboundMessage = '';
               if($("#"+outboundmsgId).is(":checked")){
                   $("#outboundMsg").val($("#outboundMsg").val()+' '+$("#"+outboundmsgId).val()+'\n');
               }else{
                   $("#outboundMsg").val($("#outboundMsg").val().replace($("#"+outboundmsgId).val()+'\n',''));
               }
           }
           
           function formatGrid(){
           }
           
           function reloadGrid(){
               $('#gridbox').height(430);
               $('.sssoooo').val('');
               var hidexceptio;
               if($('#hidHide').val() == true || $('#hidHide').val() == 'true')
               {
                   hidexceptio = true;                
               }
               
               getAllExistingExceptio(hidexceptio);
           }
           
           
           
           function reloadAddExpGrid(){
               reloadAddExp();
           }
        </script>
    </head>

    <body>
        <apex:form id="frm" style="background:white;font-family:Arial; font-size:12px;">
            

            
            
            <div id="load-status2" style="background:white;">
                <div class="overlay" style="background:white;"></div>
                <div class="status">
                    <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                    <span>Please wait...</span>
                </div>
            </div>

            
            
            <apex:actionStatus id="status">
                <apex:facet name="start">
                    <div id="load-status">
                        <div style="width: 100%; height:700px; background:rgba(241, 241, 241, 0.5); top:0px; left:0px; position: fixed; z-index:10000"></div>
                        <div class="dv_load">
                            <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>

            <div style="text-align:right;background-color:whitesmoke;height: 39px;">
                 <button type="button" class="btn-success btn-lg onProgramSelect rouncorner" Style="margin-top:7px;" onclick="NewProjectEnergyAssessment('{!Eaid}');">New</button> 
            </div>
            <apex:actionStatus id="status3">
                <apex:facet name="start">
                    <div id="load-status3">
                        <div style="width: 100%; height:700px; background:rgba(241, 241, 241, 0.5); top:0px; left:0px; position: fixed; z-index:10000"></div>
                        <div class="dv_load">
                            <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>

            <div style="width:100%; float:left;">
                
                
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div id="gridbox" style="width:100%;border-radius: 6px; border:1px solid #DDDDDD; height:394px !important;margin-top:10px; background-color:white;overflow:hidden;padding:0"></div>

                            <!-- Pagination -->
                            <div id="recinfoArea"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="clear: both;"></div>
            
            <apex:outputPanel id="expOpnl">
                <script>
                    mygrid = new dhtmlXGridObject('gridbox');
                    mygrid.setImagePath("{!URLFOR($Resource.GridResource,'GridResource/codebase/imgs/')}");
                    mygrid.setHeader("#,Name,Energy Assessment,Project,Special Incentive", ["text-align:left;", "text-align:left;", "text-align:center;", "text-align:center;", "text-align:center;", "text-align:center;", "text-align:center;"]);
                    mygrid.setStyle("font-weight:bold;font-size:12px", "vertical-align:middle;border-right:none;", "vertical-align:middle;", "vertical-align:middle;");
                    mygrid.setInitWidths("30,*,*,200,200,100");
                    mygrid.setColAlign("center,left,left,left,left,left");
                    mygrid.setColTypes("ro,ro,ro,ro,ro,ro");
                    mygrid.enablePaging(true, 10, 10, "recinfoArea", true);
                    mygrid.setPagingSkin("bricks");
                    mygrid.enableMultiline(true);
                    mygrid.enableTooltips("false,false,false,false,false,false");
                    mygrid.enableResizing("false,false,false,false,false,false");
                    mygrid.init();
                    mygrid.setColSorting("int,str,str,str,str,str");
                    mygrid.setSkin('light');
                    mygrid.setStyle("{!$Setup.ColorScheme__c.GridHeader__c}", "", "", "background:#eee;");
                    mygrid.enableAlterCss("oddRow", "evenrow");
                    mygrid.attachHeader(",#text_filter,#text_filter,#text_filter,#text_filter,#text_filter", ["background:white;", "background:white;", "background:white;", "background:white;", "background:white;", "background:white;", "background:white;"]);
                    mygrid.addRow('a',[]);
                    mygrid.deleteRow('a');
                    
                    
                    
                </script>
                
                <script>
                    function fillGrid() {
                        $('#gridbox').height(430);  
                      //  alert('test');              
                        <apex:variable value="{!0}" var="i" id="repeatgrid" />
                        <apex:repeat value="{!eaprojObjlist}" var="lst">
                            var flg = false;
                            
                               
                            <apex:variable var="i" value="{!i+1}" />
                            mygrid.addRow('{!lst.Id}', ['{!i}', '{!lst.Name}', '{!lst.energyassessment}','{!lst.project}','{!lst.specialincentive}']); 
                            
                            var i = 0;
                            
                            
                        </apex:repeat>  
                        counter  =   parseInt("{!i}");   
                        mygrid.adjustColumnSize(5);
                        $('#gridbox').height(430);
                        $('.DispositionCover').hide();
                        $('#hidDispositionID').val('');
                        $('#popexcpectionMsg').val('');
                        $('#ddlDisposition').val('');
                    }

                    

                    function refreshWindow() {
                        window.top.location = '/{!Energy_Assessment__c.id}';
                    }

                    
                    fillGrid();

                    function selAllgrdRows(obj, vl) {
                        if(vl == true){
                            var r = confirm("Are you sure you would like to override all open items?");
                            if (r == true) {
                                overrideAllExceptions();
                            } else {
                                obj.checked = false;
                            }
                        }else
                        {
                            obj.checked = false;
                        }
                    }

                    function hideExceptions(vl) {
                        $('#gridbox').height(430);
                        for (var i = 0; i < mygrid.getRowsNum(); i++) {
                            var rID = mygrid.getRowId(i);
                            if (mygrid.cellById(rID, 6).getValue() != 'Override')
                                mygrid.setRowHidden(rID, vl);
                        }
                        var hd;
                        if (vl == true) {
                            $('#hidHide').val(true);
                            hd = true;
                            hideAllExceptions(hd);
                        } else {
                            $('#hidHide').val(false);
                            hd = false;
                            hideAllExceptions(hd);
                        }
                    }
                    
                    function NewProjectEnergyAssessment(eaId){
                        window.open('/apex/dsmtNewProjectEnergyAssessment?Id='+eaId,'_tab');
                    }
                    function addExceptions(vl) {
                        var hideexception = false;
                        hideAllExceptions(hideexception);
                    }

                    function addRow() {
                        isAddNewRow = true;
                        $('#tagridbox').height(255);
                        AdExceptions();
                    }

                    function saveExceptions(rID) {
                        var saveString = '';
                        saveString += rID;
                        var col1 = tamygrid.cellById(rID, 2).getValue();
                        if (col1 == '') {
                            col1 = ' ';
                        }
                        var col2 = tamygrid.cellById(rID, 3).getValue();
                        if (col2 == '') {
                            col2 = ' ';
                        }

                        saveString += 'column' + col1;
                        saveString += 'column' + col2;

                        save(saveString);
                    }
                    
                    function opendownloadpopup(rcdId){
                       var OrgId = '{!$Organization.Id}';
                       var applicationType = '';
                       var documentType = '';

                       applicationType = 'Smart $aver Custom';
                       documentType = 'SSC_Form';
                       
                       if(OrgId.length > 15){
                          OrgId = OrgId.substring(0, 15);
                       }
                       
                       url = "{!$Setup.Dsmt_Salesforce_Base_Url__c.Document_Download_URL_for_Portal__c}?accountkey=nokia710lumia&securitykey=intelcore2duo&RecordId="+rcdId+"&serverurl={!$Api.Partner_Server_URL_250}&sessionid={!$Api.Session_ID}&orgid="+OrgId+"&AttachmentLookupCol=Energy_Assessment__c&applicationtype=Smart%20$aver%20Custom&theme=masssave"
                       win = window.open(url, "aa", "width=800px,height=600px");
                   }
                </script>
            </apex:outputPanel>
            <input type="hidden" id="hidDispositionID" name="hidDispositionID" value="" />
            <input type="hidden" id="hidHide" name="hidHide" value="" />
        </apex:form>
    </body>
</apex:page>