<apex:page id="pg" cache="false" standardController="Review__c" extensions="dsmtWorkScopeReviewSummaryController" standardStylesheets="false" sidebar="false" showHeader="true">
    <head>
        <c:dsmtJqxGridLibrary />
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        <style>
            .oddRow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
            }
            .evenrow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: #F5F5F5;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
            }
            #gridbox table.obj td {
                border-right: 1px solid rgb(204, 204, 204);
                font-size:12px;
            }
            .inpTxt {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 28px;
                border-radius: 1px;
                margin-bottom: 10px;
                width: 100%;
                float: left;
            }
            .inpTxt:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            label {
                color: #555 !important;
                font-size: 14px;
                float: left;
                margin-top: 7px;
                margin-bottom: 0px;
                font-weight: normal;
                margin-right: 10px;
            }
            .btn-lg {
                padding-top: 0px;
                padding-bottom: 0px;
                font-size: 12px;
                line-height: 0;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                padding: 5px 16px;
                border:none;
            }
            .btn-lg:hover {
                color: #fff;
                text-decoration: none;
                background: #38a3c5;
            }
            .filter input[type="text"] {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 26px !important;
                border-radius: 1px;
            }
            .filter input[type="text"]:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            .btn-success {
                background: #7EB4CE;
                border-radius: 1px;
                cursor: pointer;
                width: 185px;
                color: #fff;
            }
            .right-align {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }
            select {
                width: 100%;
                height: 28px;
                padding: 4px;
                border: 1px solid #ccc;
            }
            .req {
                border-left: 2px solid red !important;
                border-radius: 5px;
            }
            .dv_load {
                top: 45%;
                margin-left: 40%;
                padding: 15px;
                z-index: 20000;
                position: fixed;
                width: 250px;
                color: #394057;
                background: #D4D4D4;
                border: none;
                padding: 6px 20px;
                border-radius: 2px;
                box-shadow: 0 3px 5px #ddd;
            }
            .dialog {
                background: none repeat scroll 0 0 #FFFFFF;
                border: 1px solid #CCCCCC;
                box-shadow: 0 5px 5px #AAAAAA;
                left: 25%;
                padding: 0;
                position: fixed;
                top: 25%;
                width: 50%;
                z-index: 2;
                display: none;
            }
            .dialog label {
                font-weight: normal !important;
            }
            .dialog-header {
                background: none repeat scroll 0 0 #1797C0;
                box-shadow: 0 2px 2px #1797C0;
                float: left;
                font-weight: bold;
                padding: 10px 1%;
                width: 100%;
                color: white;
            }
            .overlay {
                width: 100%;
                top: 0;
                left: 0;
                background: #222;
                height: 1000px;
                opacity: 0.6;
                z-index: 1;
                position: fixed;
                display: none;
            }
            .rouncorner {
                border-radius: 1px;
            }
            .duke-dropdown table tr td select {
                height: 28px;
                float: left;
                margin-bottom: 10px;
            }
            .a {
                color: rgb(206, 18, 18);
                font-size: 14px;
                text-decoration: none;
                cursor:pointer;
            }
            .a:hover {
                font-size: 14px;
            }
            div.gridbox_light table.row20px tr td {
                padding: 0px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px !important;
                color: #414141;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid white;
                border-right: 1px solid #D6D6D6;
            }
            div.gridbox table.row20px tr td {
                height: 20px;
                white-space: nowrap;
                padding: 0px;
            }
            div.gridbox_light table.row20px tr td {
                padding-right: 4px;
                padding-left: 4px;
            }
            div.gridbox table.obj td {
                border-bottom: 1px solid #eee;
            }
            a {
                color: #428bca;
                text-decoration: none;
                cursor: pointer;
            }
            .aCss {
                color: #428bca !important;
                text-decoration: none;
            }
            body a:hover {
                color: rgb(206, 18, 18);
                text-decoration: underline;
            }
            div.gridbox_light table.hdr td div.hdrcell {
                font-size: 12px;
            }
            .cover{
                position: fixed;
                top: 10px;
                left: 15%;
                background: #fff;
                z-index: 100;
                width: 70%;
            }
            .DispositionCover{
                float: left;
                width: 25%;
                display: block;
                background: rgb(245, 245, 245);
                position: fixed;
                z-index: 1000;
                left: 38%;
                top: 20%;
            }
            div.recinfoArea > div{width:1280px !important;}
            .header {
                padding: 1rem .75rem;
                border-bottom: none;
                background: #f7f9fb;
                box-shadow: none;
                float: left;
                width: 100%;
            }
            .hdr-spn{
                font-size: 18px;
                color: #777;
                padding: 6px;
                float: left;
            }
            body{
                margin: 0;
                overflow-x: hidden;
            }
            .jqx-grid{
                border: 1px solid #eee;
            }
            .noSidebarCell, .sidebarCell .fixed {
                padding: 0px 0px 10px 0px;
                overflow: hidden;
            }
            body{
                font-size: 12px;
            }
            body .btn, .continue-bt {
                box-shadow: none;
                background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
                padding: 5px 15px;
                border: none;
                font-size: 14px;
                float: right;
                margin-left: 5px;
                border-radius: 0;
                color: #777;
                border: 1px solid #ddd;
                font-weight: normal;
            }
            body .btn:hover, .continue-bt:hover {
                color: #777;
            }
            .genarel-box2 h5 {
                background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
                background-color: rgba(0, 0, 0, 0);
                border-color: #eeeeee !important;
                padding: 10px;
                margin: 0;
                font-size: 14px;
                font-weight: bold;
                color: #555;
                float: left;
                width: 100%;
            }
            .genarel-box2{
                border: 1px solid #eee !important;
                float: left;
                width: 100%;
            }
            .panel-body{
                padding: 0;
            }
            .form-control {
                height: 30px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 0px;
                box-shadow: none;
            }
            .dateFormat{
                display: none;
            }
            .jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
                border-color: #ddd;
            }
            .jqx-widget-header{
                background: #f3f3f3;
            }
            b{
                font-weight: 700;
                font-size: 13px;
                color: #555;
            }
            .genarel-box2 label{
                width: 100%;
            }
            .genarel-box2 .boolean {
                width: 30px !important;
                float: left;
            }
        </style>
    </head>

    <body>
        <apex:form id="frm" style="background:white;font-family:Arial; font-size:12px;">
            
            <apex:actionStatus id="actionStatusLoader">
                <apex:facet name="start">
                    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                    <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                        <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <div class="row">
                <apex:actionfunction name="callSaveTo" action="{!saveProjId}" status="actionStatusLoader" rerender="prjRes" oncomplete="initGrid();redirectRev();" >
                    <apex:param name="p1" value="" assignTo="{!dataSave}"/>
                </apex:actionFunction>
                
                <apex:actionfunction name="callUpdateTo" action="{!loadRecommendations}" status="actionStatusLoader" rerender="subTotalPanel" oncomplete="initGrid();" >
                    <apex:param name="projects" value=""/>
                </apex:actionFunction>
                
                <!-- Review Details Section -->
                <div class="col-md-12">
                    <apex:outputPanel id="subTotalPanel" style="text-align: center; font-size: 15px; float: left; width: 100%; margin-bottom: 10px;">
                        <apex:pageMessages ></apex:pageMessages>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="{!if($Profile.Name == 'HPC Office' || $Profile.Name == 'HPC Energy Specialist', 'col-md-3', 'col-md-2')}">
                                        <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;height: 72px;">
                                            Total Job Cost <br/> 
                                            <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!subTotalVirtual}"/></apex:outputText><br/>
                                            <apex:outputText title="Total Job Cost" style="cursor:default; color: red; position: absolute; right: 22px; bottom: 2px; font-size: 13px;" value="{0, Number, Currency}"><apex:param value="{!subTotal}"/></apex:outputText>
                                        </div>
                                    </div>
                                    <div class="{!if($Profile.Name == 'HPC Office' || $Profile.Name == 'HPC Energy Specialist', 'col-md-3', 'col-md-2')}">
                                        <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;height: 72px;">
                                            Utility Incentive Share <br/> 
                                            <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!utilityIncentiveVirtual}"/></apex:outputText><br/>
                                            <apex:outputText title="Utility Incentive Share" style="cursor:default; color: red; position: absolute; right: 22px; bottom: 2px; font-size: 13px;" value="{0, Number, Currency}"><apex:param value="{!utilityIncentive}"/></apex:outputText>
                                        </div>
                                    </div>
                                    
                                    <apex:outputPanel rendered="{!AND($Profile.Name != 'HPC Energy Specialist',$Profile.Name != 'HPC Office')}">
                                        <div class="col-md-2">
                                            <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;height: 72px;">
                                                Customer Deposit <br/> <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!customerDeposit}"/></apex:outputText>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    
                                    <div class="col-md-3">
                                        <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;height: 72px;">
                                            Pre-Weatherization Incentive <br/> <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!preWeatherization}"/></apex:outputText>
                                        </div>
                                    </div>
                                    <!-- DSST-15177 -START BY PP -->
                                    <!-- <div class="col-md-3">
                                          <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;">
                                              {!if($Profile.Name == 'HPC Office' || $Profile.Name == 'HPC Energy Specialist', 'Total Customer Contribution', 'Customer Contribution')} <br/>
                                                <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!customerContributionVirtual}"/></apex:outputText>
                                                <apex:outputText style="cursor:default; color: red; position: absolute; right: 22px; bottom: 2px; font-size: 13px;" value="{0, Number, Currency}"><apex:param value="{!customerContribution}"/></apex:outputText>
                                          </div>
                                     </div> -->
                                     <div class="col-md-3">
                                        <div style="padding: 10px; border: 1px solid #eee; box-shadow: 0 1px 1px #eee;height: 72px;">
                                            Remaining Customer Contribution <br/> <apex:outputText style="color: green;" value="{0, Number, Currency}"><apex:param value="{!remainingCustomerContributionVirtual}"/></apex:outputText>
                                            <apex:outputText style="cursor:default; color: red; position: absolute; right: 22px; bottom: 2px; font-size: 13px;" value="{0, Number, Currency}"><apex:param value="{!remainingCustomerContribution}"/></apex:outputText>
                                        </div>
                                    </div>
                                    <!-- DSST-15177 - END BY PP -->
                                </div>
                            </div>
                         
                        </div>
                    </apex:outputPanel>
                </div>
                <!-- End Review Details Section -->
                
                <div class="col-md-12">
                    <div class="genarel-box">
                        <header class="header">
                            <span class="hdr-spn">Recommendation List</span>
                            
                            <apex:selectList size="1" value="{!projId}" styleClass="btn pull-right projects" style="width: 250px;height: 35px;padding: 8px;" onchange="callUpdateTo(this.value);">
                                <apex:selectOptions value="{!projList}"></apex:selectOptions>
                            </apex:selectList>
                        </header>
                    </div>  
                </div>
                
                <div class="col-md-12">
                    <div id="grid">
                    </div>
                </div>
                
                <apex:outputPanel id="prjRes">
                    <script>
                        $(document).ready(function () {
                            initGrid();
                        });
                        
                        function Goback(InspId){
                            
                           window.location = '/' + InspId;
                        }
                        
                        var ar = [];
                        function initGrid(){
                            var rows = new Array();
                            var drows = new Array();
                            
                            var rws = $('#grid').jqxGrid('getrows');
                            
                            if(rws != undefined && rws.length > 0){
                                for(var i=0; i < rws.length; i++){
                                    ar[rws[i].RecommendationId] = rws[i].ChangeOrderQuantity;
                                }
                            }  
                            
                            console.log(ar);
                            
                            var projects = $('.projects').val();
                            console.log(projects);
                            var urlRec = "{!$Page.dsmtWorkScopeReviewSummaryXML}?id={!$CurrentPage.parameters.id}&revid={!$CurrentPage.parameters.revid}&projects="+projects;
                            var sourceRec =
                            {
                                datafields: [
                                    { name: 'ProjectName', type: 'string' },
                                    { name: 'RecommendationName', type: 'string' },
                                    { name: 'RecommendationId', type: 'string' },
                                    { name: 'Quantity', type: 'string' },
                                    { name: 'PartCost', type: 'string' },
                                    { name: 'ChangeOrderQuantity', type: 'string' },
                                    { name: 'Reason', type: 'string' },
                                    { name: 'UtilityIncentive', type: 'string' },
                                    { name: 'PartId', type: 'string' },
                                    { name: 'UtilityBeingCharged', type: 'string' },
                                    { name: 'InstallDate', type: 'string' },
                                    { name: 'InvoiceType', type: 'string' },
                                    { name: 'InstalledQuantity', type: 'string' },
                                    { name: 'Status', type: 'string' }
                                ],
                                root: "Recommendations",
                                record: "Recommendation",
                                datatype: "xml",
                                url: urlRec
                            };
                            
                            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                if(isNaN(parseInt(value)))
                                    return '';
                                else
                                    return "<div style='margin:4px;'>" + parseInt(value) + "</div>";
                            }
                            
                            var adapterRec = new $.jqx.dataAdapter(sourceRec);
                            
                            $("#grid").jqxGrid({
                                width: '100%',
                                source: adapterRec,
                                altrows: true,
                                height: 324,
                                editable: true,
                                editmode: 'click',
                                pageable: true,
                                pagesize: 10,
                                columnsresize:true,
                                ready: function () {
                                    $("#grid").jqxGrid('clearselection');
                                },
                                columns: [
                                  {
                                      text: '#', sortable: false, filterable: false, editable: false,
                                      groupable: false, draggable: false, resizable: false,
                                      datafield: '', columntype: 'number', width: 30,
                                      cellsrenderer: function (row, column, value) {
                                          return "<div style='margin:4px;'>" + (value + 1) + "</div>";
                                      }
                                  },
                                  { text: 'RecommendationId', datafield: 'RecommendationId', hidden: true },
                                  { text: 'Project Name', datafield: 'ProjectName', width: 180,editable:false},
                                  { text: 'Recommendation Description', datafield: 'RecommendationName',editable:false},
                                  { text: 'Original Quantity', datafield: 'Quantity',editable:false, width: 120, cellsalign: 'right'},
                                  { text: 'Change Order Quantity', datafield: 'InstalledQuantity',editable:false, width: 130, cellsalign: 'right'},
                                  { text: 'Installed Date', datafield: 'InstallDate',editable:false, width: 120},
                                 // { text: 'Part Id', datafield: 'PartId',editable:false, width: 200},
                                  { text: 'Part Cost', datafield: 'PartCost',editable:false, width: 70, cellsalign: 'right'},
                                 // { text: 'Invoice Type', datafield: 'InvoiceType',editable:false, width: 100},
                                  { text: 'Status', datafield: 'Status',editable:false, width: 100},
                                  { text: 'Change Order Reason', datafield: 'Reason',editable:false, width: 180}
                                  
                               ]
                           });
                           
                           setTimeout(function()
                            {
                                rws = $('#grid').jqxGrid('getrows');
                                console.log(ar);
                                if(rws != undefined && rws.length > 0){
                                    for(var i=0; i < rws.length; i++){
                                        if(ar[rws[i].RecommendationId] != undefined)
                                            $("#grid").jqxGrid('setcellvalue', i, "ChangeOrderQuantity", ar[rws[i].RecommendationId]);
                                    }
                                }
                            },500);
                        }
                        
                        function getSelectedRecRows(){
                            var ids = '';
                            rows = $('#grid').jqxGrid('getrows');
                            
                            if(rows.length > 0){
                                for(var i=0; i < rows.length; i++){
                                    var rid = rows[i].RecommendationId;
                                    var qnt = rows[i].ChangeOrderQuantity;
                                    var rsn = rows[i].Reason;
                                    
                                    if(rsn === null || rsn === NaN || rsn === '')
                                        rsn = '~NaN~';
                                    ids += rid +','+qnt+','+rsn+';';
                                }
                            }                        
                            
                            if(ids.length > 0 || delids.length > 0){
                                callSaveTo(ids);
                            }else
                                alert('Please select atleast one Recommendation.');
                        }
                        
                        function callUpdate(){
                            var ids = '';
                            rows = $('#grid').jqxGrid('getrows');
                            
                            if(rows.length > 0){
                                for(var i=0; i < rows.length; i++){
                                    var rid = rows[i].RecommendationId;
                                    var qnt = rows[i].ChangeOrderQuantity;
                                    var rsn = rows[i].Reason;
                                    
                                    if(rsn === null || rsn === NaN || rsn === '')
                                        rsn = '~NaN~';
                                    ids += rid +','+qnt+','+rsn+';';
                                }
                            }                        
                            
                            if(ids.length > 0 || delids.length > 0){
                                callUpdateTo(ids);
                            }else
                                alert('Please select atleast one Recommendation.');
                        }
                        
                        function redirectRev(){
                            window.location.href = '/{!rev.Id}';
                        }
                    </script>
                </apex:outputPanel>
            </div>
            
            <input type="hidden" id="hidDispositionID" name="hidDispositionID" value="" />
            <input type="hidden" id="hidHide" name="hidHide" value="" />
        </apex:form>
    </body>    
</apex:page>