<apex:page standardStylesheets="false" applyHtmlTag="{!If(isPortal,false,true)}" showHeader="{!If(isPortal,false,true)}" sidebar="{!If(isPortal,false,true)}" controller="dsmtTradeAllyProfileViewCont" docType="html-5.0">

  <apex:composition template="{!headerPageName}">  
      <apex:define name="head-content">       
      <head>
   
    <link rel="shortcut icon" href="{!URLFOR($Resource.SiteFavoriteIcon)}" type="image/x-icon" />

        <script type="text/javascript">
            var $ = jQuery.noConflict();
    
            $(document).ready(function() {
    
                jQuery('#hideshow').on('click', function(event) {
                    openPopup();
                });
            });
    
            function openPopup() {
                var OrgId = '{!$Organization.Id}';
                OrgId = OrgId.substring(0, OrgId.length - 3);
                var url =
                    "{!$Setup.Dsmt_Salesforce_Base_Url__c.Attachment_Upload_Url__c}?AccountKey=nokia710lumia&SecurityKey=intelcore2duo&RecordId={!tradeallyAccount.Id}&AttachmentLookupCol=Trade_Ally_Account__c&ServerURL={!$Api.Partner_Server_URL_250}&SessionID={!$Api.Session_ID}&OrgId=" +
                    OrgId +
                    "&ApplicationType=&AttachmentType=&viewapplicationtype=Smart $aver Custom-Portal";
    
                // alert(url);
                win = window.open(url, "aa", "width=800px,height=450px");
                if (win == undefined) {
                    alert('Oops..seems like a pop-up blocker is enabled. Please disable');
                } else {
                    timer = setInterval('reTimer()', 1000);
                }
            }
    
            function reTimer() {
                try {
                    if (win != null && win.closed) {
                        clearInterval(timer);
                        location.reload()
                        // callInit();
    
                    }
                } catch (e) {
                    console.log('Exception occured while calling init back.');
                }
            }
        </script>
    
        <style>
            .download {
                padding-left: 15px;
                padding-right: 15px;
            }
            
            .panel {
                margin-bottom: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            }
            
            .form-group .row {
                margin-bottom: 5px;
            }
            
            .panel-heading {
                font-size: 14px;
            }
            
            .panel-body {
                padding: 15px;
                height: 510px;
                overflow-y: auto;
            }
            
            .h2 {
                padding: 10px 30px;
                text-align: center;
                margin-bottom: 1em;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                color: #656771;
                padding-top: 0;
                margin-top: 5px;
            }
            .h2 span {
                border-bottom: 2px solid #ce1141;
            }
            body{
                overflow-y: auto;
            }
            .content {
                margin: 30px 0px 0px 0px;
                padding: 0px 10px 20px 0px;
                font-size: 16px;
                line-height: 1.5;
            }
            .btn-accent, .btn-accent:hover, .btn-accent[disabled]:hover, .btn-accent:focus, .btn-accent.focus, .btn-accent[disabled]:focus, .btn-accent[disabled].focus {
                border-color: #00b6de;
                background: #00b6de;
                color: white;
                text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
            }
            .modal-dialog {
                z-index: 1041;
            }
            .modal-header .close{
                top: 2px;
            }
            .pull-right {
                right: 13px;
            }
            .modal-title {
                padding-top: 0;
            }
            
        </style>
    
    
        <script>
            function startProcess() {
                // document.getElementById("loading").style.display = 'block';
            }
    
            function endProcess() {
                // document.getElementById("loading").style.display = 'none';
            }
    
            function regivalidation() {
                jQuery('.req').attr('required', true);
    
                jQuery(".phone").each(function() {
                    jQuery(this).change(function() {
                        phone = jQuery(this).val();
    
                        phone = phone.replace(/\s+/g, "");
                        phone = phone.replace(/\-/g, "");
                        phone = phone.replace(/[a-zA-Z]/g, "");
    
                        formatted = phone.substr(0, 3) + '-' + phone.substr(3, 3) +
                            '-' + phone.substr(6, 4);
                        jQuery(this).val(formatted);
                    });
                });
    
                jQuery.validator.addClassRules({
                    pass: {
                        minlength: 10
                    },
                    confpass: {
                        minlength: 10,
                        equalTo: ".pass"
                    }
                });
    
                jQuery('.regfrm').validate();
                if (!jQuery('.regfrm').valid()) {
                    console.log('Not Required');
                } else {
                    startProcess();
                    registerInAction();
                }
            }
          
            function toggleChangePasswordPanel(flag){
                if(flag === true){
                    $('#infoAndDocumentPanel').fadeOut(300,function(){
                        $('#changePasswordPanel').fadeIn(300);
                    });
                }else{
                    $('#changePasswordPanel').fadeOut(300,function(){
                        $('#infoAndDocumentPanel').fadeIn(300);
                    });
                }
            }
            
            function updateCompanyInfo(){
               var taid = '{!tradeallyAccount.Id}';
               if(taid == null || taid == ''){
                  alert('Company Information is not available for this User.');
               }else{
                  window.location.href = '{!$Site.prefix}/apex/dsmtTradeAllyProfileUpdate?taid='+taid;
               }
            }
            
            function editPersonalInfo(){
                var dsmtid = '{!dsmtcontact.Id}';
                if(dsmtid == null || dsmtid == ''){
                   alert('Dsmtracker Contact is not found for this user.');
                }else{
                   window.location.href = '{!$Site.prefix}/apex/dsmtTradeAllyProfileUpdate?dcid='+dsmtid;
                }
            }
          
            function manageCompanyContacts(){
               var taid = '{!tradeallyAccount.Id}';
               if(taid == null || taid == ''){
                  alert('Company contacts are not available for this User.');
               }else{
                  window.location.href = '{!$Site.prefix}/apex/dsmtTradeAllyManageContacts?taid='+taid;
               }
            }
        </script>
        </head>
  </apex:define>
  
  <apex:define name="body-content">
   <body>
    <apex:form id="regform" styleClass="regfrm">
        
        <apex:actionStatus id="progress">
            <apex:facet name="start">
                <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                    <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                    <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                </div>
            </apex:facet>
        </apex:actionStatus> 
        
        <apex:actionFunction name="registerInAction" action="{!updateProfile}" oncomplete="endProcess();init();loadGrid();"
            rerender="errorPanel, btnPanel, infoPanel" />
        <apex:actionFunction name="callEdit" action="{!changeEditMode}" oncomplete="init();endProcess();"
            rerender="errorPanel, btnPanel, infoPanel" />
        <apex:actionFunction name="updtePswd" action="{!updatePassword}" status="progress" oncomplete="" rerender="changePswdPanel" />

        <div class="container">
            <apex:outputPanel id="infoPanel">
                <div class="row" id="infoAndDocumentPanel" style="margin-top:10px;">
                
                    <div class="col-md-4">
                        <div class="box_panel">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Trade Ally Company Information
                                </div>
                                <div class="panel-body" style="color: #676767;">
                                    <div style="margin-bottom: 10px;">
                                        <div class="text-right">
                                            <apex:outputPanel id="btnPanel" rendered="{!dsmtcontact.Portal_Role__c == 'Manager'}">
                                                <button type="button" class="btn btn-primary" onclick='updateCompanyInfo();'>Update Company Information and Documents</button>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText html-placeholder="Company Name" styleClass="req form-control dis"
                                                                value="{!tradeallyAccount.name}" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText html-placeholder="Address" styleClass="req form-control dis" value="{!tradeallyAccount.Street_Address__c}"
                                                                disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <apex:inputText html-placeholder="City" value="{!tradeallyAccount.Street_City__c}"
                                                                styleClass="req form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                            <div class="col-md-4" style="padding: 0px;">
                                                <apex:inputText id="ZipCode1" html-placeholder="Zipcode" styleClass="req zip form-control dis"
                                                                value="{!tradeallyAccount.Street_Zip__c}" disabled="{!!isEdit}" />
                                            </div>
                                            <div class="col-md-4">
                                                <apex:selectList styleclass="req form-control dis" size="1" value="{!tradeallyAccount.Street_State__c}"
                                                                 disabled="{!!isEdit}">
                                                    <apex:selectOptions value="{!StateList}" />
                                                </apex:selectList>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText html-placeholder="Website" styleClass="req form-control dis" value="{!tradeallyAccount.Website__c}"
                                                                disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText html-placeholder="Phone" styleClass="req form-control dis" value="{!tradeallyAccount.Phone__c}"
                                                                disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText html-placeholder="Email" styleClass="req form-control dis" value="{!tradeallyAccount.Email__c}"
                                                                disabled="{!!isEdit}" />
                                                <input type="hidden" name="usertype" id="utype" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 10px;">
                                        <div class="text-right">
                                            <apex:outputPanel id="btnPanel2">
                                                <button type="button" class="btn btn-primary" onclick="editPersonalInfo()">Edit my information</button>
                                                <button type="button" class="btn btn-primary upbtn" onclick="toggleChangePasswordPanel(true);">Change Password</button>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText id="firstname" html-placeholder="First Name" value="{!dsmtContact.First_Name__c}"
                                                    styleClass="req form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText id="lastname" html-placeholder="Last Name" value="{!dsmtContact.Last_Name__c }"
                                                    styleClass="req form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText id="phone" html-placeholder="Phone" value="{!dsmtContact.Phone__c}"
                                                    styleClass="req phone form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText id="email" html-placeholder="Enter Email" value="{!dsmtContact.Email__c}"
                                                    styleClass="req email form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <apex:inputText id="address" html-placeholder="Address" value="{!dsmtContact.Address__c}"
                                                    styleClass="req address form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <apex:inputText id="City" html-placeholder="City" value="{!dsmtContact.City__c}"
                                                    styleClass="req form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                            <div class="col-md-4" style="padding: 0px;">
                                                <apex:inputText id="State" html-placeholder="State" value="{!dsmtContact.State__c}"
                                                    styleClass="req form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                            <div class="col-md-4">
                                                <apex:inputText id="Zip" html-placeholder="Zip" value="{!dsmtContact.Zip__c}"
                                                    styleClass="req form-control dis" disabled="{!!isEdit}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-md-4">
                        <div class="box_panel">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Documents
                                </div>
                                
                                <div class="panel-body" style="color: #676767;">
                                    
                                    <table style="width: 100%;">
                                        <tr style="display:{!if(companyAttachList.size > 0 && dsmtContAttachList.size > 0,'','none')}">
                                            <td colspan="2">
                                                <h4>Company Documents</h4>
                                            </td>
                                        </tr>
                                        <apex:repeat value="{!companyAttachList }" var="att">
                                            <tr>
                                                <td style="padding-right: 15px;">
                                                    <div style="font-size:15px;color:{!IF(att.Expired_Text__c = 'Expired, please update now.', '#e02222', '#78af0b')}">
                                                        <apex:outputtext >{!att.Attachment_Name__c}</apex:outputtext>
                                                    </div>
                                                    <div style="font-size:12px;">
                                                        <apex:outputtext >{!att.Expired_Text__c }</apex:outputtext>
                                                    </div>
                                                    
                                                </td>
                                                <td>
                                                   <div>
                                                        <apex:outputtext >{!att.Attachment_Type__c}</apex:outputtext>
                                                    </div>
                                                </td>
                                                <td class="download">
                                                    <apex:outputPanel rendered="{!If(att.FileKey__c != null,true,false)}">
                                                        <a href="{!att.File_Url__c}"> <span class="glyphicon glyphicon-download-alt"></span></a>
                                                    </apex:outputPanel>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <hr style="margin: 7px;" />
                                                </td>
                                            </tr>
                                        </apex:repeat>
                                        <tr style="display:{!if(dsmtContAttachList.size > 0 && companyAttachList.size > 0,'','none')}">
                                            <td colspan="2">
                                                <h4>My Documents</h4>
                                            </td>
                                        </tr>
                                        <apex:repeat value="{!dsmtContAttachList}" var="att">
                                                <tr>
                                                    <td style="padding-right: 15px;">
                                                        <div style="font-size:15px;color:{!IF(att.Expired_Text__c = 'Expired, please update now.', '#e02222', '#78af0b')}">
                                                            <apex:outputtext >{!att.Attachment_Name__c}</apex:outputtext>
                                                        </div>
                                                        <div style="font-size:12px;">
                                                            <apex:outputtext >{!att.Expired_Text__c }</apex:outputtext>
                                                        </div>
                                                        
                                                    </td>
                                                    <td>
                                                       <div>
                                                            <apex:outputtext >{!att.Attachment_Type__c}</apex:outputtext>
                                                        </div>
                                                    </td>
                                                    <td class="download">
                                                        <apex:outputPanel rendered="{!If(att.FileKey__c != null,true,false)}">
                                                            <a href="{!att.File_Url__c}"> <span class="glyphicon glyphicon-download-alt"></span></a>
                                                        </apex:outputPanel>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <hr style="margin: 7px;" />
                                                    </td>
                                                </tr>
                                            </apex:repeat>
                                        
                                    </table>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Company Contacts
                                <apex:outputPanel rendered="{!dsmtcontact.Portal_Role__c == 'Manager'}">
                                   <button class="btn btn-default btn-xs pull-right" style="margin-right: 0px; padding: 2px !important;" type="button" onclick="manageCompanyContacts();">
                                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add/Update
                                    </button>
                                </apex:outputPanel>
                                
                            </div>
                            <div class="panel-body" style="color: #676767;">
                                <table style="width: 100%;">
                                    <apex:variable var="count" value="{!1}"/>
                                    <apex:repeat value="{!contactList}" var="contact">
                                         <tr>
                                             <td style="color:#78af0b;">{!contact.Name}</td>
                                             <td style="color:#78af0b;text-align:right;"><b>{!Contact.Title__c}</b></td>
                                            
                                        </tr>
                                        <tr><td colspan="2">{!contact.Phone__c}</td></tr>
                                        <tr><td colspan="2">{!contact.Email__c}</td></tr>
                                        
                                        <tr>
                                            <td colspan="2">
                                                <apex:outputPanel rendered="{!contact.Active__c}">
                                                  <span style='color:#78af0b;'><b>Active</b></span>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!!contact.Active__c}">
                                                  <span style='color:red;'><b>Inactive</b></span>
                                                </apex:outputPanel>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2"><hr style="margin: 7px 0 7px 0;" /></td></tr>
                                        <apex:variable var="count" value="{!count + 1}"/>
                                    </apex:repeat>
                                    
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="changePasswordPanel" style="margin-top:10px;display:none;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Change Password</div>
                            <div class="panel-body" style="color: #676767;height: auto;">
                                <div class="form-group">
                                    <apex:outputPanel id="changePswdPanel">
                                      <apex:outputPanel rendered="{!isShowError}">
                                        <div class="col-md-12 success" style="display:{!IF(isPasswordChanged, '', 'none')};">
                                            <div class="alert alert-success">
                                                Your password has been updated.
                                            </div>
                                        </div>
                                        <div class="col-md-12 success" style="display:{!IF(isPasswordChanged, 'none', '')};">
                                            <div class="alert alert-danger" style="margin-left:0">
                                                Your password has not been updated. <br/> Please make sure you enter the
                                                correct current password or you have not used last two old passwords.
                                            </div>
                                        </div>
                                       </apex:outputPanel> 
                                    </apex:outputPanel>
                                  
                                  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="b-bottom">
                                                Please enter current password and confirm new password.
                                            </div>
                                        </div> 
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <apex:inputSecret id="username" html-placeholder="Enter current password" value="{!currentPassword}"
                                                              styleClass="req form-control username txt" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <apex:inputSecret id="password" html-placeholder="Password" styleClass="req form-control pass txt"
                                                              value="{!Password}" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <apex:inputSecret id="confirmpassword" html-placeholder="Confirm Password" styleClass="req form-control confpass txt"
                                                value="{!confirmPassword}" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb10">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-primary upbtn" onclick="updtePswd();">Update Password</button>
                                                <button type="button" class="btn btn-default" onclick="toggleChangePasswordPanel(false);">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    
                    
                </div>
                
            </apex:outputPanel>
            
            <!--<a href="http://gtesdemo.dsmtracker.com/TradeAlly/Demo/default.aspx" class="btn btn-primary" style="diplay:{!IF(Showbutton, '', 'none')};float:right; margin-bottom: 20px;">Renew my annual registration</a>
            <br/>-->
        </div>
        
    </apex:form>
    </body>
  </apex:define>
  </apex:composition>
</apex:page>