<apex:page sidebar="{!If(isPortal,false,true)}" applyHtmlTag="{!If(isPortal,false,true)}" showHeader="{!If(isPortal,false,true)}" standardStylesheets="false" docType="html-5.0" controller="dsmtAddEditScheduleRequestCntrl" tabStyle="Schedule_Request__tab">
    
  <apex:composition template="{!headerPageName}">  
  
  <apex:define name="head-content">
      <head>
          <link href="{!URLFOR($Resource.Bootstrap311, '/bootstrap/bootstrap-datetimepicker.css')}" rel="stylesheet"/>
          <style>
          .navbarTitle{
                border: 0px solid transparent;
                min-height: 0px;
                margin-bottom: 10px;
                position: absolute;
                right: 0;
                top: 0px;
                width: 100%;
                background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
                color: #555;
                border-bottom: 1px solid #ccc;
                border-radius: 0px;
                font-weight: bold;
            }
            .btn-accent, .btn-accent:hover, .btn-accent[disabled]:hover, .btn-accent:focus, .btn-accent.focus, .btn-accent[disabled]:focus, .btn-accent[disabled].focus {
                border-color: #00b6de;
                background: #00b6de;
                color: white;
                text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
            }
            .form-control-error {
                border: 2px solid #a94442 !important;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
            }
            input.error, select.error,textarea.error {
                border: 1px solid red;
            }
            label.error{
               display : none !important;
            }
            select {
                max-width: 100% !important;
            }
            .dateFormat{
               display : none ;
            }
          </style>
          
          <script>
              function saveAndSubmitClick(){
                   $('.req').attr('required', true); 
                   $('.regfrm').validate();
                    if (!$('.regfrm').valid()) {
                        console.log('Not Required');
                    } else {
                       saveAndSubmitJS();
                    }
                  
              }
              
              function uploadAttachLink(){
                  var parentId = $('[id$=srId]').val();
                  var tempTickId = '{!$CurrentPage.parameters.id}';
                  var redirectUrl = '';
                  if(tempTickId !=NaN && tempTickId !=''){
                    redirectUrl = window.location.href;
                  }
                  else{
                    redirectUrl = window.location.href +'?id='+parentId ;
                  }
                  //redirectUrl = redirectUrl +'?id='+parentId ;
                  var atTyp = 'Schedule Request Type';
                  var uploadUrl = '{!PortalURL}?RecordId='+parentId+'&AccountKey=nokia710lumia&AttachmentLookupCol=Service_Request__c&OrgId={!orgId}&SecurityKey=intelcore2duo&RedirectURL='+encodeURIComponent(redirectUrl)+'&ServerURL={!$Api.Partner_Server_URL_260}&SessionID={!GETSESSIONID()}&ApplicationType=Smart $aver Prescriptive&UploadLocation=FileCloud&AttachmentType='+atTyp;
                    console.log(uploadUrl);
                   window.location.href = uploadUrl;
              }
              
              function appendAttachments() {

                    var attachmentText = '<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped"><tr><th class="text-center">Document Name</th><th class="text-center">Document Type</th><th class="text-center">Created Date</th><th class="text-center">Download URL</th><th class="text-center">Action</th></tr>';
                    var newTid = $('[id$=srId]').val();
                   
                    dsmtAddEditScheduleRequestCntrl.getAttachmentsBysrId(newTid, function(result, event) {
                        if (event.status) {
                         try{
                            var res = htmlDecode(result);
                            var r = $.parseJSON(res);
                            if (r == null) {
                                document.getElementById('uploadedAttachments').innerHTML = '';
                            }
                            else{
                                for (var i = 0; i < r.length; i++) {
                                    attachmentText += '<tr><td class="text-center">' + r[i].Attachment_Name__c + '</td><td class="text-center">' + r[i].Attachment_Type__c + '</td><td class="text-center">' + r[i].CreatedDate.substring(0, 10) + '</td><td class="text-center">' + r[i].File_Download_Url__c + '</td><td class="text-center"><a href="javascript:void(0);"  style="display: {!IF(editable,"","none")}" onclick=deleteAttachment("' + r[i].Id + '")><i class="glyphicon lyphicon-remove">Delete</a></i></td></tr>';
                                }
                                attachmentText += '</table>';
                                document.getElementById('uploadedAttachments').innerHTML = attachmentText;
                            }
                         }catch(e){}   
                        }
                    });
                }
                
                function deleteAttachment(id) {
                if (!confirm('Are you sure')) {
                    return false;
                }
                var parentId = $('[id$=srId]').val();
                var attachmentText = '<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped"><tr><th class="text-center">Document Name</th><th class="text-center">Document Type</th><th class="text-center">Created Date</th><th class="text-center">Download URL</th><th class="text-center">Action</th></tr>';
                dsmtAddEditScheduleRequestCntrl.delAttachmentsById(id, parentId , function(result, event) {
                    if (event.status) {
                        var res = htmlDecode(result);
                        var r = $.parseJSON(res);
                        if (r == null) {
                            document.getElementById('uploadedAttachments').innerHTML = '';
                        }
                        for (var i = 0; i < r.length; i++) {
                            attachmentText += '<tr><td class="text-center">' + r[i].Attachment_Name__c + '</td><td class="text-center">' + r[i].Attachment_Type__c + '</td><td class="text-center">' + r[i].CreatedDate.substring(0, 10) + '</td><td class="text-center">' + r[i].File_Download_Url__c + '</td><td class="text-center"><a href="javascript:void(0);" onclick=deleteAttachment("' + r[i].Id + '")><i class="glyphicon lyphicon-remove">Delete</a></i></td></tr>';
                        }
                        attachmentText += '</table>';
                        document.getElementById('uploadedAttachments').innerHTML = attachmentText;
                    }
                });
            }
                
                function htmlDecode(value) {
                    if (value) {
                        return $('<div />').html(value).text();
                    } else {
                        return '';
                    }
                }
                
                function backScheduleRequestTab(){
                    window.location.href = '{!$Site.prefix}/apex/dsmtScheduleRequest';
                }
                
           $( document ).ready(function() {
                    appendAttachments();
                    $('.tickStatus').attr('disabled',true);
                    $('.tickType').attr('disabled',true);
                    $('.datetimefield').datetimepicker();
               
                    if('{!editable}' == 'false'){
                        $('input[type="text"]').prop('disabled',true);
                        $('select').prop('disabled',true);
                        $('textarea').prop('disabled',true);
                        $('button').hide();
                        $('a[data-class="attachment-help"]').hide();
                    }
                });
                
                function subTypeChange(stype){
                   $('.custAcct').attr('required', false); 
                   $('.workorder').attr('required', false); 
                   $('.fromdatetime').attr('required', false); 
                   $('.todatetime').attr('required', false); 
                   $('.requestreason').attr('required', false); 
                   $('.requestreason').val('');
                   $('.todatetime').removeClass('req'); 
                   $('.todatetime').val('');
                   $('.fdatetimelabel').html('Date Time');
                   
                   if(stype != null && stype != ''){
                       if(stype == 'Request Return Visit/Combustion Safety Test' || stype == 'Customer Cancellation/No Show' || stype == 'Appointment Request'){
                          $('.custAcct').addClass('req');
                          $('.workorder').addClass('req');
                          $('.fromdatetime').addClass('req'); 
                       }else{
                          $('.custAcct').removeClass('req');
                          $('.workorder').removeClass('req');
                          $('.fromdatetime').removeClass('req');
                       }

                       if(stype == 'Request PTO'){
                           $('.fromdatetime').addClass('req'); 
                           
                           $('.requestreasondiv').show();
                           $('.requestreason').addClass('req'); 
                       }else{
                           $('.requestreasondiv').hide();
                           $('.requestreason').removeClass('req'); 
                       }
                       
                       if(stype == 'Request PTO' || stype == 'Bonus Slot Request'){
                            $('.todatetimediv').show();
                            $('.todatetime').addClass('req'); 
                            $('.fdatetimelabel').html('From Date Time');
                       }else{
                           $('.todatetimediv').hide();
                           $('.todatetime').removeClass('req'); 
                           
                       }
                   }else{
                      $('.requestreasondiv').hide();
                      $('.todatetimediv').hide();
                   }
                }
             
          </script>
      </head>
  </apex:define>
  <apex:define name="body-content">
      
    
    <body>

        <section>
            <apex:form id="pageForm" styleClass="regfrm">
                <apex:actionFunction name="saveAndSubmitJS" action="{!SaveAsSubmit}" status="progress" oncomplete="backScheduleRequestTab();"/>
                <apex:actionFunction name="saveAsDraftJS" action="{!SaveAsDraft}" status="progress" reRender="idPanel" oncomplete="uploadAttachLink();"/>
                <br/>
                <div id="loading" style="display:none;">
                    <div style="width: 100%; height:100%; background:#000; opacity: 0.4; top:0px; left:0px; position: fixed; z-index:1000000;"></div>
                    <div class="dv_load" style="position:fixed;top:40%;left:50%;z-index:1000000">
                        <img src="https://c.cs17.visual.force.com/img/loading24.gif" style="vertical-align:middle;" />
                        <span>Loading...</span>
                    </div>
                </div>
                 <apex:actionStatus id="progress">
                    <apex:facet name="start">
                        <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                        <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                            <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                            <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                        </div>
                    </apex:facet>
                </apex:actionStatus>   
                
               <apex:outputPanel id="idPanel">
                  <apex:inputHidden value="{!srId}" id="srId"/>
               </apex:outputPanel> 
               
               <apex:outputPanel id="addEditScheduleRequestPanel">
                <div id="addteam12" style="padding: 10px; padding-top: 0;overflow:hidden;">
                    <div class="col-sm-12">
                        <div class="panel panel-primary" style="border: 1px solid #ccc;">
                            <div class="panel-heading" style="font-weight: 600; font-size: 20px;">Schedule Request</div>
                            <apex:outputPanel layout="block" styleClass="panel-body" >
                                <div class="row">
                                    <apex:outputPanel layout="block" styleClass="col-sm-12 form-group">
                                        <div class="pull-right">
                                            <button type="button" onclick="saveAndSubmitClick();" class="btn btn-accent">Save And Submit</button>
                                            <button type="button" onclick="backScheduleRequestTab();" class="btn btn-accent" oncomplete="endProcess();">Cancel</button>
                                        </div>
                                    </apex:outputPanel>
                                    <div class="col-sm-12 form-group">
                                        <label for="restitle">Title</label>
                                        <apex:inputField id="restitle" value="{!objSr.Subject__c}" styleClass="form-control restitle req" html-placeholder="Title"/>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="ressubtype">Request Type</label>
                                        <apex:inputField value="{!objSr.Ticket_Request_Type__c}" styleClass="form-control req" onchange="subTypeChange(this.value)"/>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="respriority">Priority</label>
                                        <apex:inputField id="respriority" value="{!objSr.Priority__c}" styleClass="form-control req"/>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="respriority">Customer / Account</label>
                                        <apex:inputField value="{!objSr.Customer_Account_Text__c}" styleClass="form-control custAcct"/>

                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="respriority">Work Order</label>
                                        <apex:inputField value="{!objSr.Work_Order_Text__c}" styleClass="form-control workorder"/>

                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="respriority" class="fdatetimelabel">Date Time</label>
                                        <apex:inputField value="{!objSr.Schedule_Request_From_Date_Time__c}" styleClass="form-control fromdatetime datetimefield req"/>

                                    </div>
                                    <div class="col-md-6 form-group todatetimediv" style="display:{!if(objSr.Sub_Type__c == 'Request PTO' || objSr.Sub_Type__c == 'Bonus Slot Request','','none')}">
                                        <label for="respriority">To Date Time</label>
                                        <apex:inputField value="{!objSr.Schedule_Request_To_Date_Time__c}" styleClass="form-control todatetime datetimefield req"/>

                                    </div>
                                    <div class="col-md-6 form-group requestreasondiv" style="display:{!if(objSr.Sub_Type__c == 'Request PTO','','none')}">
                                        <label for="respriority">Request Reason</label>
                                        <apex:inputField value="{!objSr.Reason_for_Request__c}" styleClass="form-control requestreason "/>

                                    </div>
                                    <div class="col-md-12 mb10 form-group">
                                        <label for="respriority">Description</label>
                                        <apex:inputfield value="{!objSr.Description__c}" styleClass="form-control " html-placeholder="Description"/>

                                    </div>
                                    <div class="col-lg-12 mb10">
                                        <div class="box_panel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h2 class="panel-title"><span>Attachments</span></h2>
                                                </div>
                                                <div class="col-md-6 mb10 slds">
                                                    <a data-class="attachment-help" class="query pull-right" href="#" data-toggle="modal" data-target=".contact-info"><i class="glyphicon glyphicon-question-sign"></i></a>
                                                    <button type="button" class="btn btn-accent pull-right" id="upb" onclick="saveAsDraftJS();">Upload Attachment</button>
                                                </div>
                                            </div>
                                            <div style="margin-top: 5px;" class="non-responsive-tabuler" id="uploadedAttachments">
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                </apex:outputPanel>
                        </div>
                        
                        <apex:outputPanel rendered="true">
                            
                        </apex:outputPanel>
                      </div>
                      </div>
                      
                      <script src="{!URLFOR($Resource.Bootstrap311, '/bootstrap/moment-with-locales.js')}" />
                      <script src="{!URLFOR($Resource.Bootstrap311, '/bootstrap/bootstrap-datetimepicker.js')}" />
                         
                      
                   </apex:outputPanel>
             </apex:form>
             </section>
        </body>
      
  </apex:define>
  </apex:composition>
                       
</apex:page>