<apex:page sidebar="true" showHeader="true" controller="dsmtCreateProjectOnRecommCntrl" applyBodyTag="false">
    <head>
        <title>Create Project</title>
        <apex:stylesheet value="{!URLFOR($Resource.Lightning, 'assets/styles/salesforce-lightning-design-system-vf.css')}"/>
        <apex:stylesheet value="https://code.jquery.com/ui/1.12.0/themes/flick/jquery-ui.css"/>
        <apex:includescript value="{!URLFOR($Resource.jQueryUI, 'js/jquery-1.9.1.js')}" />
        <apex:stylesheet value="{!URLFOR($Resource.TimePickerNew, 'jquery.timepicker.css')}" />
        <apex:includescript value="{!URLFOR($Resource.TimePickerNew, 'jquery.timepicker.js')}" />
        <link href="{!URLFOR($Resource.dsmtSelfScheduling, 'css/bootstrap.min.css')}" rel="stylesheet"/>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{!URLFOR($Resource.dsmtSelfScheduling, 'js/bootstrap.min.js')}"></script>
        <script src="https://use.fontawesome.com/8766598729.js"></script>

        <style>
            .dateFormat{
                display: none;
            }
            #moveTeamModal {
                border: 2px solid #d8d8d8;
                color: #394057;
                font-size: 12px;
                //min-height: 360px;
                overflow: hidden;
                padding: 10px;
                top: -100px;
                width: 70%;
                z-index: 123;
                margin: 1px;
                position: absolute;
                left: 15%;
                padding-bottom: 0px;
            }
            .box {
                background-color: #fcfcfc !important;
                border-radius: 4px !important;
                -moz-border-radius: 4px !important;
                -webkit-border-radius: 4px !important;
                //-webkit-box-shadow: inset 0 0 30px 0 rgba(195,195,195,0.9), 0 0 7px 0 rgba(156,156,156,0.9) !important;
                //box-shadow: inset 0 0 30px 0 rgba(195,195,195,0.9), 0 0 7px 0 rgba(156,156,156,0.9) !important;
                border: 1px solid #fff;
            }
            .dhx_cal_ltitle {
                padding: 2px 0 2px 5px;
                overflow: hidden;
                white-space: nowrap;
            }
            .dhx_cal_ltitle {
                height: 30px;
                line-height: 30px;
                border-bottom: 1px solid #CECECE;
            }
            .dhx_cal_ltitle {
                padding: 2px 0 2px 5px;
                overflow: hidden;
                white-space: nowrap;
            }
            .dhx_cal_ltitle {
                height: 30px;
                line-height: 30px;
                border-bottom: 1px solid #CECECE;
            }
            .dhx_time {
                font-size: 16px;
                padding-left: 10px;
                color: #555;
            }
            .dhx_time {
                font-weight: 700;
            }
            .btn_green {
                background: none;
                background-color: #03A9F4;
                border: 1px solid #03A9F4;
                font-weight: bold;
                color: #fff !important;
                height: 24px;
                border-radius: 2px;
                cursor: pointer;
                font-size: 15px;
                font-family: calibri;
                margin-left: 5px !important;
                float: right;
            }
            .ui-menu-item a{
                text-align: left;
            }
            .ui-timepicker-standard {
                height: 185px !important;
            }
            .ui-timepicker {
                height: 165px;
            }
            .overlay{
                background: none repeat scroll 0 0 #000;
                height: 1500px;
                left: 0;
                opacity: 0.2;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1123423423423411;
            }
            .status{
                background: none repeat scroll 0 0 #f3f3f3;
                border: 1px solid #ccc;
                border-radius: 3px;
                box-shadow: 0 2px 2px #999;
                left: 40%;
                padding: 1%;
                position: fixed;
                top: 35%;
                width: 20%;
                z-index: 1123423423423412;
            }
            .status span{
                color: #555;
                float: left;
                font-size: 14px;
                margin-left: 10px;
                margin-top: 4px;
            }
            .status img{
                float: left;
            }
            .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
                position: absolute;
                margin-top: 4px\9;
                margin-left: 0px; 
            }
            .schedule{
                display: none;
            }
            
            .schedule1,.schedule2,.schedule3,.schedule4,.schedule5{
                display: block;
            }
            .modal-footer {
                padding: 0px;
                text-align: right;
                border-top: 0px solid #e5e5e5;
                padding-bottom: 10px;
                float: left;
                width: 100%;
                margin-top: 10px;
            }
            .show_next_options{
                float: left;
                border-radius: 2px !important;
                padding: 0 5px !important;
                font-size: 14px !important;
                font-weight: normal !important;
                background: #fff !important;
                color: #03A9F4 !important;
                border: none !important;
            }
            
            .dhx_time {
                font-size: 14px;
                padding-left: 10px;
            }
            
            .dhx_cal_ltitle {
                height: 25px;
                line-height: 10px;
                border-bottom: 1px solid #dfdfdf;
            }
            
            .form-control-error {
                border: 2px solid #a94442 !important;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
            }
            
            .errorspn{
                float: left;
                width: 100%;
                color: #a94442 !important;
                font-size: 12px;
            }
            
            .calldate{
                display: none;
            }
        </style>

        <script>
            
            
            $(document).ready(function(){
                var dateToday = new Date();
                $('.datefield').datepicker(
                    { minDate: dateToday}
                );
                
                $('.datefield').each(function(){
                    var dt = $(this).val();
                    if(dt != ''){
                        dt = new Date(dt);
                        $(this).val(dt.getMonth()+1+'/'+dt.getDate()+'/'+dt.getFullYear());
                    }
                });
            });

            
            
            function initDP(){
                var dateToday = new Date();
                $('.datefield').datepicker(
                    { minDate: dateToday}
                );
            }
        </script>
    </head>
    <body>
        <apex:form >
            <apex:detail subject="{!$CurrentPage.parameters.id}"/>
            <div class="overlay" style="z-index: 111;"></div>
            <apex:actionStatus id="status">
                <apex:facet name="start">
                    <div class="overlay"></div>
                    <div class="status">
                        <img src="/img/loading24.gif"/>
                        <span>Please wait...</span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <apex:actionStatus id="status2">
                <apex:facet name="start">
                    <div class="overlay"></div>
                    <div class="status">
                        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                        <span style="width:85%; float:left;margin-left: 10px; font-size: 13px; margin-top: 2px; font-weight: bold; color: #474747">
                            Create Project
                        </span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            <apex:actionFunction name="updateTer" action="{!updateTerr}" status="status2"/>               
            <div id="moveTeamModal" class="box">
                <div class="dhx_cal_ltitle" style="text-align:center;">
                    <span class="dhx_mark">&nbsp;</span>
                    <span class="dhx_time">Create Project</span>
                    <span class="dhx_title"></span>
                </div>

                <div style="padding:5px 0px;" class="slds">
                   
                    
                    <apex:outputPanel id="moveTeamPnl">
                        <apex:outputPanel id="changemodal">
                            <apex:pageMessages escape="false"></apex:pageMessages>
                        </apex:outputPanel>
                        
                        

                        <div style="width:100%;float:left;">
                            

                            <div style="width:100%;float:right; border:1px solid #ccc; border-radius: 3px;background: #fff;">
                                <div style="width: 100%; height:auto; ">

                                    <table class="tblCustInfo" cellspacing="3" cellpadding="3" width="100%" style="margin:10px 0px;">
                                        <tr >
                                            <th style="padding: 5px;">Territory</th>
                                        </tr>
                                        <tr>
                                            <td style="padding: 5px;" class="field-control">
                                                <apex:inputField styleClass="required2" id="rWoR" value="{!emp.Territory__c}"/>
                                            </td>
                                        </tr>
                                        <tr><td style="height: 10px;"></td></tr>
                                        <tr>
                                            <th style="padding: 5px;">Start Date</th>
                                        </tr>
                                        <tr>
                                            <td style="padding: 5px;">
                                                <apex:inputText styleClass="ms_form_control required datefield" value="{!custInteraction.Start_Date__c}" required="false" />
                                            </td>
                                        </tr>
                                        <tr><td style="height: 10px;"></td></tr>
                                        <tr>
                                            <th style="padding: 5px;">End Date</th>
                                        </tr>
                                        <tr>
                                            <td style="padding: 5px;">
                                                <apex:inputText styleClass="ms_form_control required datefield" value="{!custInteraction.Start_Date__c}" required="false" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            
                            

                            <div style="float:left;width:100%; margin-top:15px;">
                                <apex:outputPanel id="butnPanl"> 
                                    <input type="button" class="btn_green" style=" margin-left: 10px;float: right;"
                                     value="Update" onclick="updateTer();" />
                                    
                                </apex:outputPanel>
                            </div>
                            
                            
                        </div>
                    </apex:outputPanel>
            <!------- xxxxxxxxxxxxxxx MOVE WORKORDER xxxxxxxxxxxxxxxxxxxxxxx ----------------->
                </div>
            </div>
        </apex:form>
    </body>
</apex:page>