<apex:page standardController="Invoice__c"  extensions="dsmtInvoiceSummaryController"  contenttype="application/vnd.ms-excel#Summary{!sdate}{!Invoice__c.Invoice_Type__c}.xls" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" sidebar="false" showHeader="false">
    <head>
        <title> Invoice Summary - {!Invoice__c.Name} </title>
    </head>
    
 
    <body style="font-family: Arial;" >
        <table border="1" style="border-collapse: collapse; border-color: #ddd;">
            <tr>
                <td width="150px"><br/></td>
                <td colspan="12" style="text-align:center">
                    <h3 style="margin:0;">Item Summary - Invoice Number: {!Invoice__c.Name}  {!sdate}-{!lastnInvType}</h3>
                    
                </td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td colspan="12" style="text-align:center">
                    <h3 style="margin:0;">{!Invoice__c.Provider__c}</h3>
                </td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td colspan="12" style="text-align:center">
                    <br/>
                </td>
            </tr>
            
            <tr>
                <th></th>
                <th colspan="3" style="text-align: left;" width="350px">Description</th>
                <th width="70px"></th>
                <th colspan="2">Quantity</th>
                <th colspan="2">Customer Price</th>
                <th colspan="2">Program Price</th>
                <th colspan="2">BTU Savings (est.)</th>
            </tr>
            
            <tr>
                <apex:repeat value="{!transactionList}" var="t">
                    <tr>
                        <td>{!t.title}</td>
                        <td colspan="3">{!t.description}</td>
                        <td></td>
                        
                        <td style="text-align:right;" width="150px">{!t.quantity}</td>
                        <td width="10px"></td>
                        
                        <td style="text-align:right;" width="150px">
                            <apex:outputText value="{0, Number, Currency}" rendered="{!t.customerPrice!= null}">
                                <apex:param value="{!t.customerPrice}"/>
                            </apex:outputText>
                            <apex:outputText value="$0.00" rendered="{!t.customerPrice== null}">
                               
                            </apex:outputText>
                        </td>
                        <td width="10px"></td>
                        
                        <td style="text-align:right;" width="150px">
                             <apex:outputText value="{0, Number, Currency}" rendered="{!t.programPrice != null}">
                                <apex:param value="{!t.programPrice}"/>
                            </apex:outputText>
                            <apex:outputText value="$0.00" rendered="{!t.programPrice == null}">
                               
                            </apex:outputText>
                        </td>
                        <td width="10px"></td>
                        
                        <td style="text-align:right;" width="150px">
                           
                            <apex:outputText value="{0, Number}" rendered="{!t.btuSavings!= null}">
                                <apex:param value="{!t.btuSavings}"/>
                            </apex:outputText>
                            <apex:outputText value="0.00" rendered="{!t.btuSavings== null}">
                               
                            </apex:outputText>
                        </td>
                        <td width="10px"></td>
                    </tr>
                </apex:repeat>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th style="text-align:right;">Invoice Total:</th>
                    <td></td>
                    <th style="text-align:right;">
                        <apex:outputText value="{0, Number, Currency}">
                            <apex:param value="{!customerPriceTotal }"/>
                        </apex:outputText>
                    </th>
                    <td></td>
                    <th style="text-align:right;">
                        <apex:outputText value="{0, Number, Currency}">
                            <apex:param value="{!programPriceTotal }"/>
                        </apex:outputText>
                    </th>
                    <td></td>
                    <th style="text-align:right;">
                        <apex:outputText value="{0, Number, Currency}">
                            <apex:param value="{!btuTotal }"/>
                        </apex:outputText>
                    </th>
                    <td></td>
                </tr>
            </tr>
        </table>
    </body>
</apex:page>