<apex:page standardStylesheets="false"  sidebar="false" controller="InvoiceApprovalQueueCntrl" title="Invoice Approval Queue" id="exceptions_page" >
    <head>
        <apex:includeScript value="{!URLFOR($Resource.duke,'duke/js/jquery.min.js')}" />
        <!-------- xxxxxxxxxxxxxxxxxxx GRID RESOURCES xxxxxxxxxxxxxxxxxx --------------->
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgrid.css')}"></link>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GridResource,'GridResource/codebase/skins/dhtmlxgrid_dhx_skyblue.css')}"></link>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.dhtmlxGrdpgn,'pgn/dhtmlxgrid_pgn_bricks.css')}"></link>
        
        <!--<script  src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxcommon.js')}"></script>-->
        <script  src="{!URLFOR($Resource.dhtmlxHF)}"></script>
        <script  src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgrid.js')}"></script>
        <script  src="{!$Resource.dhtmlx}"></script>
        <script  src="{!URLFOR($Resource.GridResource,'GridResource/codebase/ext/dhtmlxgrid_srnd.js')}"></script>
        <script  src="{!URLFOR($Resource.GridResource,'GridResource/codebase/ext/dhtmlxgrid_filter.js')}"></script>    
        <script  src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgridcell.js')}"></script>
        <script  src="{!URLFOR($Resource.dhtmlxGrdpgn,'pgn/dhtmlxgrid_pgn.js')}"></script>
        <script  src="{!URLFOR($Resource.dhtmlxgrid_excell_link)}"></script>
        
        <style>
            .overlay{
                width: 100%;
                height:100%;
                background:transparent;
                opacity : 0.6;
                top:0px;
                left:0px;
                position: fixed;
                z-index:500;
            }
            .overlayy{
                width: 100%;
                height:100%;
                min-height:700px;
                background:#000;
                opacity : 0.6;
                top:0px;
                left:0px;
                position: fixed;
                z-index:50000;
            }
            body .bDetailBlock.bPageBlock, body .individualPalette .bDetailBlock.bPageBlock{
                margin:0;
            }
            .status {
                background: #7eb4ce;
                border-radius: 2px;
                color: #fff;
                font-weight: bold;
                text-transform: inherit;
                cursor: pointer;
                margin: 2px;
                width: 250px;
                opacity: 1;
                height: auto;
                margin-top: 100px;
                position: fixed;
                left: 40%;
                padding: 15px;
                z-index: 100000;
                border: 2px solid #fff;
            }
            .status span{
                position: absolute;
                left: 50px;
                font-size: 14px;
                top: 19px;
            }
            /*body{
                background: #fafafa;
                font-family: sans-serif;
            }*/
            .main{
                width:90%;
                padding:2%;
                margin: 0 auto;
                overflow: hidden;
                height: auto;
                font-family: sans-serif;
            }
            .row{
                width: 100%;
                float: left;
            }
        
            .dgTop{
                margin-bottom: 0px;
            }
            
            .dg_head {
                width: auto;
                height: 40px;
                background: #4299BB;
                border-bottom: 4px solid #38A3C5;;
                margin: 0;
                padding: 0;
                margin-bottom:10px;
            }
            
            .row_head {
                margin: 0;
            }
            
            .button_head_refresh {
                float: right;
                /*margin-left: 4px;
                padding: 15px 0px;
                background: #38A3C5;
                width: 45px;
                height: 17px;
                border-top-right-radius: 5px;
                right: 0;
                margin-right: 0;*/
            }
            .refresh-btn {
                background: url("{!URLFOR($Resource.queueResource,'queueResource/refresh.png')}") no-repeat center;
                padding: 0;  
                height: 40px;
                width: 40px;
                //margin-left: 7px;
            }
            
            .refresh-btn:hover {
            }

            .button_head {
                float: left;
                margin-left: 4px;
                padding: 5px 0px;
            }
            
            .bt-head {
                cursor:no-drop;
                background: #38A3C5;
                padding: 7px 9px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                color: #fff;
                font-weight:600;
                font-family: Arial;
                font-size: 11px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff;
            }
            
            .bt-headnew {
                background: #38A3C5;
                padding: 7px 9px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                color: #fff;
                font-weight:600;
                font-family: Arial;
                font-size: 11px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff;
            }
            
            .btn-head {
                cursor:no-drop;
                background: #38A3C5;
                padding: 7px 9px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                color: #fff;
                font-weight:600;
                font-family: Arial;
                font-size: 11px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff;
            }
            
            .btn-hd {
                cursor:pointer;
                background: #38A3C5;
                padding: 7px 9px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                color: #fff;
                font-weight:600;
                font-family: Arial;
                font-size: 11px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff;
            }
            
            .btn-hd:hover{
                background: #4299BB;
                padding: 7px 9px;  
                color: #fff;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            } 
            
            .btn-head:hover{
                background: transparent;
                padding: 7px 9px;  
                color: #fff;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }                
            
            select{
                background-color: #f9f9f9 !important;
                border: none;
                //border-radius: 5px;
                cursor: pointer;
                font-size: 12px;
                //line-height: 28px;
                padding: 3px;
                float:left;                
                height:28px;
                margin-top:2px;
            }     
            
            select option{
                color: #333;
                text-shadow: 0 1px #fff;   
                height:22px; 
                padding:5px;        
            }        
            
            select:hover {           
            }
            
            .white {
                color: #fff;
            }
            
            .regular {
                font-size: 14px;
                padding-top: 2px;
            }
            
            .head-checkbox {
                padding: 3px 9px;
            }
            .marginleft {
                margin-left: 0px;
                padding: 6px 0 0;
            }
            .chk_head {
                float: left;
                padding: 10px 0px 0 10px;
            }
            
            .bodyDiv {
            }
            
            table td .dataCell{
                padding:12px 10px;
                color: #000000;
                font-size: 13px;
                border-bottom: 1px solid #EAEBF0;
                height:30px;
            }
            
            .mytblDiv table th {
                background: none repeat scroll 0 0 #eeeeee;
                color: #928e8e !important;
                font-size: 13px !important;
                padding: 11px 10px;
                text-align: left;
                height:25px;
            }
            .mytblDiv {
                padding-top: 0%;
                border-radius:8px;
                margin-top: 5px;
                float: left;
                border: 1px solid rgb(221, 221, 221);
                min-height:382px;
            }
            
            .disqualified {
                color: #df0000 !important;
                font-size: 15px !important;
                font-weight: bold !important;
            }
            body .bRelatedList .pbBody table.list, body .apexp .pbBody table.list{
                border:none;
            }
            .inprogress {
                color: #656869 !important;
                font-size: 15px !important;
                font-weight: bold !important;
            }
            .committed {
                color: #8cc152 !important;
            }
            
            .enrolment-id {
                width: 107px;
            }
            .hide-container {

            }
            .hide-this {
                display:none;            
                max-width: 500px;
            }
            .viewall {
                background: url("{!URLFOR($Resource.queueResource,'queueResource/v-all.png')}") no-repeat scroll left center rgb(58, 178, 201);
                border-radius: 2px;
                color: #fff;
                cursor: pointer;
                float: right;
                padding: 4px 6px 4px 20px;
            }
            //-------------------------------------------------------------------------------------------
            
            [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
                background: none repeat scroll 0 0 #f8f8f8;
                border: 1px solid #aaa;
                border-radius: 3px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
                content: "";
                height: 17px;
                left: 4px
                position: absolute;
                top: -2px;
                width: 17px;
            }
            
            .lbl{
                background: none repeat scroll 0 0 #f8f8f8;
                border: 1px solid #aaa;
                border-radius: 3px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
                content: "✔";
                height: 17px;                
                //position: absolute !important;
                //padding-left:15px  !important;
                top: 2px;
                width: 6px;
            }
            
            
            [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }
            [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
                color: #09ad7e;
                content: "✔";
                font-size: 14px;
                //left: -14px;
                left: 3px;
                position: absolute;
                //top: -7px;
                top: -2px;
                transition: all 0.2s ease 0s;
            }
            [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
                border-radius: 4px;
                cursor: pointer;
                padding-left: 14px;
                padding-top: 0px;
                position: relative;
            }
            .regular {
                font-size: 14px;
                padding-top: 2px;
            }
            .white {
                color: #fff;
            }
            body .pbBody table.list tr.headerRow th{
                {!$Setup.ColorScheme__c.GridHeader__c};
                color: #fff !important;
                text-align: center;
                white-space: normal;
            }
            .dataRow odd{
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
            }
            .dataRow even{
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
            }
            .dataRow, .dataCell{
                border-bottom: 1px solid #EEEBEB;
            }
            table td .dataCell{
                padding: 3px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                font-size: 12px !important;
                color: #414141 !important;
                text-align: center;
            }
            table td .dataCell a{
                color: #414141 !important;
            }
            .viewall{
                float:none;
            }
            table td .dataCell{height:20px;}
            .dataRow:hover{background-color:#f9f9f9 !important;}
            a{
                text-decoration:none;
                font-size:12px;
                cursor:pointer;
            }
            .a{
                color:rgb(206, 18, 18);
            }
            .a:hover{
                color:rgb(206, 18, 18);
                text-decoration:underline;
            }
            a:hover{
                color:rgb(206, 18, 18);
                text-decoration:none;
            }
            .exp{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Exceptions.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .exp:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Exceptions_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .rej{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Mark_Rejected.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .rej:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Mark_Rejected_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .cmp{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Mark_Completed.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .cmp:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Mark_Complete_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .mir{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Request_Info.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .mir:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Request_More_Info_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .pm{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Request_PM_Review.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .pm:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Request_PM_Review_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .nte{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Notes.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .nte:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Notes_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .inc{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Mark_Incomplete.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
                cursor: pointer;
            }
            .inc:hover{
                background-image: url("{!URLFOR($Resource.QueueIcons,'Incomplete_Color.png')}");
                height: 30px;
                width: 25px;
                background-size: contain;
                float: left;padding-left: 5px;
            }
            .inc span, .nte span, .pm span, .mir span, .cmp span, .rej span, .exp span{
                background: #fff;
                border: 1px solid #ccc;
                white-space: nowrap;
                top: 15px;
                position: relative;
                left: 15px;
                padding: 2px 5px;
                box-shadow: 0 10px 10px #ccc;
                color: rgb(206, 18, 18);
                display : none;
            }
            select::-ms-expand {
                display: none;
            }
            .errorConsole .x-grid3-row-over, body .pbBody table.list tr.dataRow.highlight td, body .pbBody table.list tr.dataRow.highlight th {
                background-color: #fff;
                border-bottom: 1px solid #EEEBEB;
            }
            body .pbBody table.list tr.last>th, body .pbBody table.list tr.last>td, .bPageBlock.bEditBlock .bRelatedList tr.dataRow.last>td, .bPageBlock.bEditBlock .bRelatedList tr.dataRow.last>th{
                border-bottom-width:1px;
            }
            .bg{
                background: #7EB4CE;
            }
            .bg:hover{
                background: #38A3C5 !important;
            }
            .oddRow{
                padding: 0px 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
                border-top: 1px solid #EEEBEB;
                max-height:40px;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid white;
                border-right: 1px solid #D6D6D6;
                font-family: Tahoma;
                font-size: 11px;
                padding-right: 4px;
                padding-left: 4px;
            }

            .evenrow{
                padding: 0px 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
                max-height:40px;
            }
            .oddRow:hover, .evenrow:hover{
                background: #f9f9f9;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid #eeebeb;
                border-right: 1px solid #eeebeb;
                font-family: Tahoma;
                font-size: 11px;
                padding-right: 4px;
                padding-left: 4px;
                border-bottom: 1px solid #eeebeb;
                padding: 2px 4px;
                max-height:40px !important;
                overflow: hidden;
            }
            .filter input[type="text"] {
                border: 1px Solid #DDDDDD !important;
                background: #f9f9f9;
                height: 25px !important;
                border-radius: 3px;
            }
            textarea{
                background: #f9f9f9 !important;
                border: none;
            }
            .clse{
                float: right;
                font-weight: normal;
                font-size: 12px;
                color: #fff;
                margin-top: -2px;
                border: 1px solid #fff;
                padding: 1px 4px 1.5px;
                border-radius: 3px;
            }
            #gridbox table.hdr td{
                border-width: 0 0 1px 1px;
            }
            .noSidebarCell, .sidebarCell .fixed {
                padding: 0px;
            }
            #gridbox{
                border-radius: 0px !important;
            }
            div.gridbox_light table.hdr{
                padding-right: 0px !important;
            }
            .overlay{
                background: #00000042;
            }
            
        </style>
        <script>
            var stage_name = '';
            var stage_nm = '';
            var ea_id = '';
            var pay_id = '';
            $(document).ready(function(){
               // $('[id$="program_selection"]').val('');
               $('.cncll').click(function(){
                   $('textarea').val('');
               });
             });
            
            function enableCheck(){
                var enable = false;
                $('.hdnChk').each(function(){
                    if($(this).prop('checked'))
                        enable = true;
                });
                if(enable){
                    $('.btn-head').attr('disabled',false).css('cursor','pointer');
                }else{
                    $('.btn-head').attr('disabled',true).css('cursor','no-drop');
                }
            }
            
            function selectAll(checkAllBox){              
                var boxIsChecked = $(checkAllBox).prop('checked');
                $('.enrlchk')
                    .prop('checked', boxIsChecked);    
                $('.hdnChk')
                    .prop('checked', boxIsChecked);  
                mygrid.forEachRow(function(rowId){
                    mygrid
                        .cellById(rowId, 0)
                        .setValue(boxIsChecked ? 1 : 0);
                });
                enableChk();      
            }
            
            function fillHdnchkBx(ths){
                $(ths).prev().prop('checked',$(ths).prop('checked'));
                enableCheck();
            }
            
            function hideExceptions(obj,txt){                
                var rjct = false;
                var minfo = false;
                if(txt == 'reject'){
                    rjct = $(obj).prop('checked');
                }
                if(txt == 'moreinfo'){
                    minfo = $(obj).prop('checked');
                }              
                reloadEx(rjct,minfo);
                enableCheck();
            }
            
            function refreshWindow(){
                window.location.href = '/apex/dsmtInvoiceApprovalQueue';
            }
            
            function viewEARecord(id){
                if(id.length > 0){
                    window.open('/'+id,'_blank');
                }            
            }
            
            function changePayTo(stg_nm){
                stage_name = stg_nm;
                $('#ssp2').hide();
                $('#ssp1').show();
                Save_Pay();
            }
            
            function voidPayment(stg_nm){
                var rowIds = '';
                mygrid.forEachRow(function(rowId){
                    var vl = mygrid.cellById(rowId, 0).getValue();
                    if(vl == 1)
                        rowIds += rowId+'~~~';
                });
                console.log('00000000000000000');
                if(rowIds == '')
                    alert('Please select at-least one invoice record.');
                else
                {
                    $('.overlay').show();
                    $('#note-pop-void').fadeIn();
                }
                console.log('111111111111111');
            }
            
            function saveVoidPayments()
            {
                var rowIds = '';
                mygrid.forEachRow(function(rowId){
                    var vl = mygrid.cellById(rowId, 0).getValue();
                    if(vl == 1)
                        rowIds += rowId+'~~~';
                });
                
                $('#note-pop-void').hide();
                $('.overlay').hide();
                callVoidPayments(rowIds, $('#voidcomment').val());
            }
            
            function Save_Pay(){
                $('.note-coverr, .overlay').fadeOut(500);
                var count = 0;
                mygrid.forEachRow(function(rowId){
                    count += mygrid.cellById(rowId, 0).getValue();
                });
                var confirmationMessage = 'You are approving all ' + count + ' records in your queue. Please select Yes to approve all invoices, or Cancel to cancel.';
                if (count === mygrid.getRowsNum() 
                        && !confirm(confirmationMessage)) 
                    { return; }
                appPaymnts();
            }
            
            function appPaymnts(){
                var rowIds = '';
                mygrid.forEachRow(function(rowId){
                    var vl = mygrid.cellById(rowId, 0).getValue();
                    if(vl == 1)
                        rowIds += rowId+'~~~';
                });
                
                appPay(rowIds);
                stage_name = '';
            }
            
            function Save_Pays(){
                $('.note-coverr, .overlay').fadeOut(500);
                appPay(pay_id);
                stage_name = '';
            }
            
            function upStg(eaid, stg){
                stage_nm = stg;
                ea_id = eaid;
                $('#svi').show();
                $('.overlay,.note-cover').fadeIn(500);
            }
            function Save_Inline_EA(){
                $('.note-cover, .overlay').fadeOut(500);
                changStgTo(ea_id, stage_nm);
                stage_nm = '';
                ea_id = '';
            }
            function alrt(err){
                if(err == 'true')
                $('.ea-cover, .overlay').fadeIn(500);
            }
            function change_url(obj){
                var url = '/apex/dsmtExceptions?id='+ $(obj).val(); 
                $('#ifrm').attr('src', url);
            }
            window.setInterval(function(){
                if({!payProcess}){
                  check_print_collateral_status();
                }
            }, 5000);
            
            function reloadPage(){
                 
                if({!pageReload}){
                
                    window.location.href = '/apex/dsmtInvoiceApprovalQueue';

                }
            }
            function redirectToReport(invtype){
               window.open('{!$Label.InvURL}'+invtype,'_blank');
            }
            function CloseInvoice(InvType){
                CloseInvoiceRecord(InvType);
            }
        </script>
    </head>
    <body>
        
        <apex:form id="form">    
         
        
            <apex:actionFunction name="reloadEx" action="{!buildPaymentWrapperList}" reRender="exceptions_pageblock,pgmsg" status="status">
                <apex:param assignTo="{!hide_rejected}"  name="ar1" value=""/>
                <apex:param assignTo="{!hide_more_info}"  name="ar2" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="changStgTo" action="{!set_EnrlApps_stage}" reRender="exceptions_pageblock,top_section,pgmsg,pnlexx,form" status="status" oncomplete="alrt('{!err_msg}');">
                <apex:param assignTo="{!ea_id}"  name="ar4" value=""/>
                <apex:param assignTo="{!stage}"  name="ar5" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="changStgToRej" action="{!set_EnrlApps_stage}" reRender="exceptions_pageblock,top_section,pgmsg,pnlexx,form" status="status" oncomplete="alrt('{!err_msg}');">
                <apex:param assignTo="{!ea_id}"  name="ar4" value=""/>
                <apex:param assignTo="{!stage}"  name="ar5" value=""/>
                <apex:param assignTo="{!excep_msg}" name="ar10" value=""/>
                <apex:param assignTo="{!pay_id}" name="are10" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="ftchOpenExc" action="{!fetchActiveExceptions}" reRender="ra-pnll" status="status" oncomplete="fillGrid2();">
                <apex:param assignTo="{!ea_id}"  name="ar9" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="appPay" action="{!applyPayments}" reRender="exceptions_pageblock,top_section,pgmsg,pnlexx,payProcessPanel, payProcessPanel2" status="status"  oncomplete="window.top.location.reload()">
                <apex:param name="payIds" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="CloseInvoiceRecord" action="{!CloseInvoiceRecord}" reRender="exceptions_pageblock,top_section,pgmsg,pnlexx,payProcessPanel, payProcessPanel2" status="status"  oncomplete="window.top.location.reload()">
                <apex:param name="InvType" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="callVoidPayments" action="{!voidPayments}" reRender="exceptions_pageblock,top_section,pgmsg,pnlexx,payProcessPanel, payProcessPanel2" status="status" oncomplete="window.top.location.reload()">
                <apex:param name="payIds" value=""/>
                <apex:param name="voidcomment" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="check_print_collateral_status" action="{!check_print_collateral_status}" reRender="payProcessPanel"/>
            
            <apex:actionStatus id="status">
                <apex:facet name="start">
                    <div id="load-status" > 
                        <div class="overlayy"></div>
                        <div class="status">
                            <img src="/img/loading24.gif"/>
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <apex:outputpanel id="payProcessPanel" rendered="{!payProcess}" layout="block" style="text-align:center;width:20%;">
                   <!-- <script>alert();</script> -->
                    <div id="load-status"> 
                        <div class="overlay"></div>
                        <div class="status">
                            <img src="/img/loading24.gif"/>
                            <span>Running approval process...</span>
                        </div>
                    </div>
               
            </apex:outputpanel>
            <apex:outputpanel id="payProcessPanel2" style="text-align:center;width:20%;">
                <apex:outputPanel rendered="{!pollerBool}">
                    <div id="load-status" class="dsfsdfsdf"> 
                        <div class="overlayy"></div>
                        <div class="status">
                            <img src="/img/loading24.gif" style="float:left;"/>
                            <span>Please wait...</span>
                        </div>
                    </div>
                    <script>
                        setTimeout(function(){$('.dsfsdfsdf').hide()}, 5000);
                    </script>
                    <apex:actionPoller interval="5" action="{!checkBatchStatus}" enabled="{!pollerBool}" reRender="payProcessPanel,form" status="status"/>
                </apex:outputPanel>
            </apex:outputpanel>
            
            <apex:pageMessages id="pgmsg" />
            
            <div style="width:100%; float:left;"> 
            <apex:outputPanel id="mainTable">           
            <div style="width:100%;float:left;">
            <apex:pageBlock mode="MainDetail" id="top_pageblock">
                <div style="width:100%;float:left;">                         
                    <div class="dgTop">
                        <div class="dg_head">
                            <div class="row_head">
                                <div class="chk_head" style="margin:0; padding:0;float: left;width: 30px;">                                    
                                    <input type="checkbox" id="test4" style="display:none;" onclick="selectAll(this);"/>      
                                    <label style="float: left;width: 3px;margin-top: 12px;margin-left: 5px;" class="lbl" for="test4"></label> 
                                </div>
                                <div class="button_head">
                                    <div class="dropdown">                                        
                                        <apex:selectList value="{!selected_program}" size="1" style="width:170px;" id="program_selection">
                                            <apex:selectOptions value="{!program_list}" id="program_options" />
                                            <apex:actionSupport event="onchange" action="{!buildPaymentWrapperList}" reRender="mainTable" status="status"/>                                            
                                        </apex:SelectList>                                           
                                    </div>
                                </div>
                                <div class="button_head" style="margin-right:10px;float:left;">                                    
                                    <input type="button" disabled="disabled" class="bt-head" onclick="voidPayment('Void');" value="Void Billing Review Invoices"/>
                                </div>
                               <div class="button_head" style="margin-right:5px; float:left;">                                    
                                    <input type="button" disabled="disabled" class="bt-head" onclick="changePayTo('Approved');" value="Approve Line Items"/>
                                </div>
                                <div class="button_head" style="margin-right:5px; float:left;">                                    
                                    <input type="button"  class="bt-head" onclick="CloseInvoice('{!selected_program}');" value="Close Invoice"/>
                                </div> 
                                
                                <div class="button_head" style="margin-right:5px; float:right;">                                    
                                    <input type="button"  class="bt-headnew" onclick="redirectToReport('{!selected_program}');" value="Download Excel"/>
                                </div>
                                
                            </div>
                        </div>
                    </div>                   
                </div>
            </apex:pageBlock>
            
            <br/>
            
            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>                                            
                        <div id="gridbox" style="margin-left:5px; width:99.9%;border-radius: 6px; height:500px;margin-top:5px; background-color:white;overflow:auto;padding:0"></div>
                        
                        <div id="recinfoArea" ></div>
                    </td>
                </tr>
            </table>
            </div>
            <script>
                mygrid = new dhtmlXGridObject('gridbox');
                mygrid.setImagePath("{!URLFOR($Resource.GridResource,'GridResource/codebase/imgs/')}");
                mygrid.setHeader(",,Invoice Line Item #,Review Id,Project Type,Customer Name,Account Number,Billed Provider,Primary Heat,MEA ID,Part ID,Quantity,Amount,Total Amount,Installed Date,Energy Savings,City,Voided",["text-align:left;","text-align:center;","text-align:left;","text-align:left;","text-align:left;","text-align:left;","text-align:left;","text-align:left;","text-align:left;","text-align:center;","text-align:center;","text-align:center;","text-align:center;","text-align:center;","text-align:center;","text-align:center;"]);
                mygrid.setStyle("font-weight:bold;font-size:12px","vertical-align:middle;border-right:none;", "vertical-align:middle;", "vertical-align:middle");
                mygrid.setInitWidths("25,30,80,100,100,100,100,150,100,150,150,80,100,100,100,60,60,60,60");
                mygrid.setColAlign("center,center,center,center,center,center,center,center,center,center,center,center,center,center,center,center,center,center,center");           
                mygrid.setColTypes("ch,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ch");
                mygrid.enablePaging(true,20,20,"recinfoArea",true);            
                mygrid.setPagingSkin("bricks");
                mygrid.enableMultiline(true);            
                mygrid.enableResizing("false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false");                
                mygrid.init();
                mygrid.setColSorting("str,str,str,str,str,str,str,str,str,str,str,,str,str,str,str,str,str,str,str"); 
                mygrid.setSkin('light');
                //mygrid.setImagePath('../imgs/');
                mygrid.setStyle("{!$Setup.ColorScheme__c.GridHeader__c}","","","background:#eee;");
                mygrid.enableAlterCss("oddRow" , "evenrow");
                
                mygrid.attachHeader(",,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter",["text-align:left;background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;",,"background:white;","background:white;","background:white;","background:white;"]);
                fillGrid();
                
                mygrid.attachEvent("onEditCell",function(stage,rid,cind){
                    if(stage == 1 && cind == 0){
                        enableChk();
                    }
                    return true;
                });
                function fillGrid(){      
                    mygrid.addRow('1',[]);
                    mygrid.deleteRow('1');             
                    <apex:variable value="{!0}" var="x"/> 
                    <apex:repeat value="{!invoiceWrappers}" var="invoiceWrapper">  
                            <apex:variable value="{!x+1}" var="x"/>
                            var invLIName = '<a href="/{!JSENCODE(invoiceWrapper.invoicelineitem.Id)}" target="_blank">{!JSENCODE(invoiceWrapper.invoicelineitem.Name)}</a>'
                            var reviewNumber = '<a href="/{!JSENCODE(invoiceWrapper.invoicelineitem.Review__c)}" target="_blank">{!JSENCODE(invoiceWrapper.invoicelineitem.Review__r.Name)}</a>'
                            var voided = '';
                            if('{!invoiceWrapper.invoicelineitem.Voided__c}' === 'true'){
                                voided = '<input type="checkbox" checked disabled/>';
                            }
                            else{
                                voided = '<input type="checkbox" disabled/>';
                            }
                            
                           
                            mygrid.addRow('{!invoiceWrapper.invoicelineitem.id}',[false,'{!x}',invLIName,reviewNumber,'{!JSENCODE(invoiceWrapper.projectName)}','{!JSENCODE(invoiceWrapper.customerName)}','{!JSENCODE(invoiceWrapper.accountnumber)}','{!JSENCODE(invoiceWrapper.billedprovider)}','{!JSENCODE(invoiceWrapper.primaryheat)}','{!JSENCODE(invoiceWrapper.meaid)}','{!JSENCODE(invoiceWrapper.partid)}','{!JSENCODE(invoiceWrapper.quantity)}','{!JSENCODE(invoiceWrapper.amount)}','{!JSENCODE(invoiceWrapper.totalamt)}','{!JSENCODE(invoiceWrapper.installdate)}','{!JSENCODE(invoiceWrapper.energysaving)}','{!JSENCODE(invoiceWrapper.city)}',voided]);
                            var rId = '{!invoiceWrapper.invoicelineitem.id}';
                            var i = 0;
                          
                    </apex:repeat>
                    setTimeout(function(){
                        mygrid.sortRows(3);
                    },500);
                    
                    
                           
                }
                
                function enableChk(){
                    var enable = false;
                    <apex:repeat value="{!invoiceWrappers}" var="invoiceWrapper">  
                            if(mygrid.cellById('{!invoiceWrapper.invoicelineitem.id}',0).getValue() == 1 && !enable){
                                enable = true;
                            }
                    </apex:repeat>
                    if(enable){
                        $('.bt-head').attr('disabled',false).css('cursor','pointer').removeClass('bt-head').addClass('btn-head');
                    }else{
                        $('.btn-head').attr('disabled',true).css('cursor','no-drop').removeClass('btn-head').addClass('bt-head');
                    }
                }
                function mrkRej(eaid, stg){
                    stage_nm = stg;
                    ea_id = eaid;
                    $('#svi').show();
                    // $('#sv').hide();
                    if(stg == 'Rejected')
                        $('#box-ttl').text('Mark Rejected');
                    if(stg == 'MoreInformationRequested')
                        $('#box-ttl').text('Request More Information');
                    if(stg == 'Incomplete')
                        $('#box-ttl').text('Mark Incomplete');
                    $('.overlay,.note-cover').fadeIn(500);
                }
                
                function ftchOpenExcp(eaid, stg){
                    stage_nm = stg;
                    ea_id = eaid.split('-')[0];
                    pay_id = eaid.split('-')[1]; 
                    ftchOpenExc(eaid);
                }
                
               
                
                function ftchExcp(eaid){
                    var url = '/apex/dsmtExceptions?id='+eaid;
                    $('#ifrm2').attr('src',url);
                    $('.overlay,#all-pop').fadeIn(500);
                }
            </script>
            </apex:outputPanel>       
                      
            <div class="overlay" style="display:none;"></div>
            
            <div id="note-pop" class="note-cover" style="width:60%;top:10%;left:20%;position:fixed; z-index:10000;display:none;border:4px solid #4299BB; border-radius:4px;">
                <div style="background-color:#7EB4CE;height:15px;padding:7px;">
                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;"><b id="box-ttl"></b></div>
                    <a href="javascript:void(0);" onclick="$('.note-cover, .overlay').fadeOut(500);" class="clse">x</a>
                </div>
                <div class="pc" style="text-align:left;width: 96%; padding:2%;float: left; overflow:hidden;height: auto;background: #fff;">
                    <b style="color:#555;">Add Note</b><br/>
                    <apex:inputtextarea id="comments" value="{!comments}" cols="40" style="border:1px solid #ccc; width:98%;height:200px;"/>
                </div>
                <div class="pc" style="border-top:1px solid #ddd;text-align:right;width: 98%;padding: 1%;float: left;max-height: 250px; overflow:auto;height: auto;background: #fff;">
                    <input type="button" id="svi" class="btn-hd bg" style="min-width:80px;display:none; cursor:pointer;" onclick="Save_Inline_EA();" value="Save"/> 
                    <input type="button" class="btn-hd bg cncll" style="min-width:80px; cursor:pointer;" onclick="stage_name = ''; $('.overlay,.note-cover').hide();" value="Cancel"/>
                </div>
            </div>
            
            <div id="note-popp" class="note-coverr" style="width:60%;top:10%;left:20%;position:fixed; z-index:10000;display:none;border:4px solid #4299BB; border-radius:4px;">
                <div style="background-color:#7EB4CE;height:15px;padding:7px;">
                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;"><b>&nbsp; Approve Payment</b></div>
                    <a href="javascript:void(0);" onclick="$('.note-coverr, .overlay').fadeOut(500);" class="clse">x</a>
                </div>
               <div class="pc" style="text-align:left;width: 96%; padding:2%;float: left; overflow:hidden;height: auto;background: #fff;">
                    <b style="color:#555;">Add Note</b><br/>
                    <apex:inputtextarea value="{!commentsss}" cols="40" style="border:1px solid #ccc;width:98%;height:400px;"/>
                </div> 
                <div class="pc" style="border-top:1px solid #ddd;text-align:right;width: 98%;padding: 1%;float: left;max-height: 250px; overflow:auto;height: auto;background: #fff;">
                    <input type="button" id="ssp1" class="btn-hd bg" style="min-width:80px; cursor:pointer;" onclick="Save_Pay();" value="Save"/>
                    <input type="button" id="ssp2" class="btn-hd bg" style="min-width:80px; cursor:pointer;" onclick="Save_Pays();" value="Save"/>
                    <input type="button" class="btn-hd bg" style="min-width:80px; cursor:pointer;" onclick="stage_name = ''; $('.overlay,.note-coverr').hide();" value="Cancel"/>
                </div>
            </div>
            
           
            
            <div id="pop" class="cover" style="width: 40%;top: 10%;left: 30%;position: fixed;z-index: 10000;display: block;border: 4px solid #4299BB;border-radius: 4px;background: #fff;overflow: hidden;display:none;">
                <div style="background-color:#7EB4CE;height:15px;padding:7px;">
                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;"><b>&nbsp;Processor Comments</b></div>
                    <a href="#" onclick="$('.cover, .overlay').fadeOut(500);" class="clse">x</a>
                </div>
                <div id="pcnote" class="pc" style="text-align:left;width: 96%;padding: 2%;float: left;max-height: 250px; overflow:auto;height: auto;background: #fff;">
                    
                </div>
            </div>
            
            <div class="overlay" style="display:none;"></div>
            
            <div id="note-pop-void" class="note-cover" style="width:60%;top:10%;left:20%;position:fixed; z-index:10000;display:none;border:4px solid #4299BB; border-radius:4px;">
                <div style="background-color:#7EB4CE;height:15px;padding:7px;">
                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;"><b id="box-ttl"></b></div>
                    <a href="javascript:void(0);" onclick="$('.note-cover, .overlay').fadeOut(500);" class="clse">x</a>
                </div>
                <div class="pc" style="text-align:left;width: 96%; padding:2%;float: left; overflow:hidden;height: auto;background: #fff;">
                    <b style="color:#555;">Add Note</b><br/>
                    <textarea id="voidcomment" class="voidcomment" cols="40" style="border:1px solid #ccc; width:98%;height:200px;"/>
                </div>
                <div class="pc" style="border-top:1px solid #ddd;text-align:right;width: 98%;padding: 1%;float: left;max-height: 250px; overflow:auto;height: auto;background: #fff;">
                    <input type="button" id="svi" class="btn-hd bg" style="min-width:80px; cursor:pointer;" onclick="saveVoidPayments();" value="Save"/> 
                    <input type="button" class="btn-hd bg cncll" style="min-width:80px; cursor:pointer;" onclick="stage_name = ''; $('.overlay,.note-cover').hide();" value="Cancel"/>
                </div>
            </div>
            
            <div id="all-pop" class="cover" style="width:80%;top:10%;left:10%;position:fixed; z-index:10000;display:none; border:4px solid #4299BB; border-radius:4px;">
                <div style="background-color:#7EB4CE;height:15px;padding:7px; ">
                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;"><b>&nbsp; Exceptions</b></div>
                    <a href="#" onclick="$('.cover, .overlay').fadeOut(500);" class="clse">x</a>
                </div>
                <apex:outputPanel id="ex-pnll">
                    <div id="pcexc" class="pc" style="text-align:left;width: 100%;float: left;height:auto; overflow:hidden;height: auto;background: #fff;">
                        <div class="pc" style="border-top:1px solid #ddd;text-align:left;width: 100%;float: left;height: auto; overflow:auto;height: auto;background: #fff;">
                            <iframe id="ifrm2" src="/apex/dsmtExceptions?id={!enr_app_id}" style="border: none;width: 100%;height:600px;float:left;"/>
                        </div>
                    </div>
                </apex:outputPanel>
            </div>
            
            <div id="ra-pop" class="cover" style="width:60%;top:10%;left:20%;position:fixed; z-index:10000;display:none;border:3px solid #4299BB; border-radius:4px;">
                <div style="background-color:#7EB4CE;height:15px;padding:7px;">
                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;"><b>&nbsp; Reject Application</b></div>
                    <a href="#" onclick="$('.cover, .overlay').fadeOut(500);" class="clse">x</a>
                </div>
                <div class="pc" style="text-align:left;width: 98%;float: left; padding:1%; overflow:auto;height: auto;background: #fff;">
                    <b style="color:#555;">Add Custom Rejection Reasons</b><br/>
                    <apex:inputtextarea value="{!rejectionReasons}" cols="40" style="width:99%;height:95px;border: 1px solid #ddd; border-radius: 2px;"/>
                </div>
                <apex:outputPanel id="ra-pnll">
                    <div id="pcexc" class="pc" style="text-align:left;width: 100%;float: left;max-height: 350px; overflow:auto;height: auto;background: #fff;">
                        <div>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>       
                                        <b style="color:#555;margin-left: 1%;">Add Existing Rejection Reasons</b><br/>                                     
                                        <div id="gridbox2" style="margin:0 auto;width:98%;height:300px;margin-top:5px; background-color:white;overflow:hidden;padding:0"></div>
                                        
                                        <div id="recinfoArea2" style="margin-left:10px;"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <script>
                            mygrid2 = new dhtmlXGridObject('gridbox2');
                            mygrid2.setImagePath("{!URLFOR($Resource.GridResource,'GridResource/codebase/imgs/')}");
                            mygrid2.setHeader(", Exception Message, Outbound Message, Measures",null,["text-align:left;","text-align:center;","text-align:center;","text-align:center;","text-align:center;","text-align:center;","text-align:center;","text-align:center;"]);
                            mygrid2.setStyle("font-weight:bold;font-size:12px", "vertical-align:middle;border-right:none;", "vertical-align:middle;", "vertical-align:middle");
                            mygrid2.setInitWidths("40,*,*,*");
                            mygrid2.setColAlign("center,left,left,center");           
                            mygrid2.setColTypes("ch,link,ro,ro");
                            mygrid2.enablePaging(true,10,10,"recinfoArea2",true);            
                            mygrid2.setPagingSkin("bricks");
                            mygrid2.enableMultiline(true);   
                            mygrid2.enableSmartRendering(false);         
                            mygrid2.enableResizing("false,false,false,false");                
                            mygrid2.init();
                            mygrid2.setColSorting("int,str,str,str"); 
                            mygrid2.setSkin('light');
                            mygrid2.setStyle("{!$Setup.ColorScheme__c.GridHeader__c}","","","background:#eee;");
                            mygrid2.enableAlterCss("oddRow" , "evenrow");
                            mygrid2.attachHeader(",#text_filter,#text_filter,#text_filter",["background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;","background:white;"]);
                            
                            function fillGrid2(){     
                                <apex:variable value="{!0}" var="x"/>               
                                <apex:repeat value="{!exceptions}" var="exc">  
                                    <apex:variable value="{!x+1}" var="x"/>     
                                    mygrid2.addRow('{!exc.id}',[false,'{!JSENCODE(exc.Exception_Message__c)}','{!JSENCODE(exc.Outbound_Message__c)}','']);
                                </apex:repeat>
                                $('.overlay, #ra-pop').show(); 
                                var count = 0;
                                $('#gridbox2 .hdrcell').each(function(){
                                    $(this).click();
                                    return false;
                                });
                            }
                            
                            function rej_application(){
                                var ex_msg = '';
                                var count = 0;
                                <apex:repeat value="{!exceptions}" var="exc"> 
                                    if(mygrid2.cellById('{!exc.id}',0).getValue() == 1){
                                        count = count+1; 
                                        ex_msg += count+'. '+ mygrid2.cellById('{!exc.id}',2).getValue()+'<br>';
                                    }
                                </apex:repeat>
                                changStgToRej(ea_id, stage_nm, ex_msg, pay_id);
                                $('.overlay,.cover').hide();
                            }
                        </script>
                    </div>
                </apex:outputPanel>
                <div class="pc" style="text-align:right;width: 98%;padding: 1%;float: left;max-height: 250px; overflow:auto;height: auto;background: #fff;">
                    <input type="button" class="btn-hd bg" style="min-width:80px; cursor:pointer;" onclick="rej_application();" value="Save"/> 
                    <input type="button" class="btn-hd bg cncll" style="min-width:80px; cursor:pointer;" onclick="stage_name = ''; $('.overlay,.cover').hide();" value="Cancel"/>
                </div>
            </div>
            
            <!--</apex:pageblock>--> </div>      
        </apex:form>
    </body>
    <script>
        function viewAll(obj,i){
           $(obj).closest('td').find('.hide-this').toggle();            
        }
    </script>
</apex:page>