<apex:page sidebar="false" showHeader="false" standardStylesheets="false" docType="html-5.0" controller="dsmtForgotPasswordController">
  <apex:composition template="dsmtTradeallyHeaderTemplate">
  <apex:define name="head-content">
   
  <head>
        
        <style>
                .form-control-error {
                    border: 2px solid #a94442 !important;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                }
                .errorspn{
                    float: left;
                    width: 100%;
                    color: #a94442 !important;
                    margin-top: -15px;
                }
                .search-form {
                    margin-left: 1%;
                    margin-top: 15px;
                    overflow: hidden;
                    padding: 0 2%;
                    width: 98%;
                    padding-bottom: 15%;
                }
                .app-search-form {
                    background: #fff none repeat scroll 0 0;
                    //border: 1px solid #193048;
                    border: 1px solid #ddd;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                    margin-left: 5%;
                   // margin-top: 5%;
                    overflow: hidden;
                    padding: 0 0%;
                    width: 90%;
                }
                
                @media (max-width: 750px){
                    .app-search-form {
                        margin-left: 10%;
                        margin-top: 5%;
                        padding: 0 2%;
                        width: 80%;
                        float:left;
                    }
                    .instruction{
                        float: left;
                        margin-top: 5%;
                        padding: 0 0%;
                    }
                }
                
                @media (max-width: 570px){
                    .app-search-form {
                        margin-left: 1%;
                        margin-top: 10px;
                        padding: 0 2%;
                        width: 96%;
                        float:left;
                        margin-bottom:20px;
                    }
                    .instruction{
                        float: left;
                        margin-top: 5%;
                        padding: 0 0%;
                    }
                    .col-lg-12{
                        margin: 0px -30px;
                    }
                }
                .ms_form_control {
                    width: 100%;
                    background: #fff;
                    border: 1px solid #d8d8d8;
                    border-radius: 3px;
                    padding: 8px;
                }
                 .header-row{
                    background: #f3f3f3;
                    border-bottom: 2px solid #193048;
                    padding-left:1%;
                }
                .page-header{
                    font-size: 24px;
                    margin: 8px 0 0;
                    border-bottom: 0 solid #eee;
                    color: #287fdc;
                    font-weight: bold;
                    padding-bottom: 9px;
                }
                .error {
                    color: red;
                }
                label.error{
                   display :none !important;
                }
                input.error, select.error{
                    border : 1px solid red;
                }
                .messageCell{
                   color : #cc0000;
                }
                
            </style>
            
            <script>
                function startProcess() {
                    document.getElementById("loading").style.display = 'block';
                }
    
                function endProcess() {
                    document.getElementById("loading").style.display = 'none';
                }
    
                function enterEvent(e) {
                    if (window.event) {
                        key = e.keyCode; //IE, chrome
                    } else {
                        key = e.which; //firefox              
                    }
                    if (key == 13) {
                        var btn;
                        var $elems = $(".btnlogin");
                        if ($elems != null & $elems.length > 0) {
                            btn = $elems[0];
                        }
    
                        if (btn != null) {
                            btn.click();
                            if (window.event) {
                                e.keyCode = 0;
                            } else {
                                e.which = 0;
                            }
                        }
                        return false;
                    }
                }
                
                function loginbtnClick(){
                   $('.req').attr('required', true);
                   
                   $('.form-signin').validate();
                    if (!$('.form-signin').valid()) {
                        console.log('Not Required');
                    } else {
                        startProcess(); 
                        loginJS();
                    }
                }
            </script>
            
        </head>
        </apex:define>
        
        <apex:define name="body-content">
        <body>
        
            <section class="section_top text-center">
                <!--<img src="{!URLFOR($Resource.TradeAllyPortal, 'img/header_bg.jpg')}" />
                <div class="label_header">
                    <div class="container">
                        <h2>Trade Ally Portal</h2> 
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, <br/> consectetur, adipisci velit. Dolorem ipsum quia dolor </p>
                    </div>
                </div>-->
            </section>
            
            <c:dsmtTradeAllyCheckListComponent checkList="{!pgCheckList}" showHelp="false" />
        
          <div class="wrapper row-offcanvas row-offcanvas-left" id="js-bootstrap-offcanvas">
            <div class="search-form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="login-wrap app-search-form">
                            <div class="box_panel">
                                <div class="row mb10 header-row">
                                    <div class="col-md-12">
                                        <h4 class="page-header hide-sm">{!sectionTitle}</h4>
                                    </div>
                                </div>
                                <br/>
                                <div class="col-sm-6">
                                    <apex:repeat value="{!Checklists}" var="c">
                                        <apex:outputText value="{!c.Checklist_Information__c}" escape="false"/>
                                    </apex:repeat>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-lg-12">
                                        <apex:form id="signinform" styleClass="form-signin" style="border:1px solid #ddd;padding:2%;margin-bottom:20px;">
                                            
                                            <apex:actionStatus id="progress">
                                                <apex:facet name="start">
                                                    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                                                    <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                                                        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                                                        <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                                                    </div>
                                                </apex:facet>
                                            </apex:actionStatus>   
                                            
                                            <apex:pageMessages id="error" />
                                            
                                            <p>Please enter your email below.</p>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                <apex:inputText id="username" value="{!username}" styleClass="form-control" />
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                            <div style="text-align:right;">
                                                <apex:commandButton status="progress" style="line-height: 1.4;" id="submit" value="{!$Label.site.submit}" action="{!forgotPassword}" styleClass="btn btn_next btnlogin" reRender="signinform"/>
                                                <a style=" line-height: 1.4;" href="{!$Site.Prefix}/dsmtTradeallyLogin" class="btn btn_next btnlogin">Cancel</a>
                                            </div>
                                        </apex:form>
                                        <div class="clearfix" style="margin-bottom: 10px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Modal For Help Starts -->
        <div class="modal fade login-help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <!--<div class="modal-content">-->
                <div class="modal-header">
                    <!--&times;-->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove-circle pull-right"></i></button>
                    <h4 id="myModalLabel" class="modal-title">Forgot Password?</h4>
                </div>
                <div class="modal-body">
                    <p>Please provide the registered email address and we will send you an email with a temporary password to login.</p>
                    <br/>

                    <div class="mb30">
                        <a class="btn btn-block btn-lg bg-blue" style="background: #355068 none repeat scroll 0 0 !important; line-height: 1.4;" href="#" data-dismiss="modal" aria-hidden="true">Close</a>
                        <!--<a class="btn btn-sm btn-warning pull-right" href="#">Request More Information</a>-->
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
        <!--Modal For Help Ends -->
        
      
    </body>
    </apex:define>
  </apex:composition>
</apex:page>