<apex:page standardStylesheets="false" showHeader="false" sidebar="false" controller="dsmtEligibilityCheckController">
    <head>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="description" content="Demo of United Power" />
        <meta name="generator" content="Joomla! - Open Source Content Management" />
        <title>Mass Save</title>
        
        <link href="https://jea.dsmtracker.com/templates/it_thestore5/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
        <link href="https://jea.dsmtracker.com/component/search/?id=153&amp;format=opensearch" rel="search" title="Search Demo JEA" type="application/opensearchdescription+xml"/>
        <link href="{!URLFOR($Resource.MassSave, 'css/owl.carousel.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.MassSave, 'css/template.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.MassSave, 'css/template_responsive.css')}" rel="stylesheet" type="text/css"/>
        <link href="https://sandbox-thebetzteam.cs45.force.com/aboutyou/PurchaseQuestionnaire" rel="stylesheet" type="text/css"/>
        
        <style type="text/css">
            div.mod_search35 input[type="search"] {
                width: auto;
            }
        </style>
        
        <script src="{!URLFOR($Resource.MassSave, 'js/caption.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/jquery.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/jquery-noconflict.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/jquery-migrate.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/bootstrap.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/template.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/owl.carousel.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/html5fallback.js')}" type="text/javascript"></script>
        
        <script type="text/javascript">
            jQuery(window).on('load', function() {
                new JCaption('img.caption');
            });
            
            window.setInterval(function() {
                var r;
                try {
                    r = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject(
                        "Microsoft.XMLHTTP")
                } catch (e) {}
                if (r) {
                    r.open("GET", "/index.php?option=com_ajax&format=json", true);
                    r.send(null)
                }
            }, 840000);
            
            jQuery(function($) {
                jQuery(".hasTooltip").tooltip({
                    "html": true,
                    "container": "body"
                });
            });
        </script>
    
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    
        <link id="stylesheet" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.MassSave, 'css/style3.css')}"/>
    
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.MassSave, 'css/custom.css')}"/>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
        <style type="text/css" media="screen">
            body {
                background-image: url("/templates/it_thestore5/assets/images/styles/style6/bg_pattern.png");
            }
            /* Custom CSS code through template paramters */
            /* Enter Your CSS Code below  */
            
            #mainmenu {
                background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #CE1141, #8e0f0f) repeat-x scroll 0 0 !important;
            }
            
            #header #logo {
                animation: none !important;
            }
            
            @media (max-width: 768px) {
                #slideshow {
                    margin: 120px 0 0 0 !important;
                }
            }
            
            .yallowbox {
                background-color: #ffff00;
                border-color: #ffff00;
                color: #000;
                padding: 8px 35px 8px 14px;
                border-radius: 4px;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            }
            
            .box{
                border: 1px solid #ccc;
                margin: 25px 0px;
                padding: 25px;
                border-radius: 3px;
            }
        </style>
        
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Coming+Soon' rel='stylesheet' type='text/css' />
    
    
        <!--[if !IE]><!-->
        <script>
            if (Function('/*@cc_on return document.documentMode===10@*/')()) {
                document.documentElement.className += ' ie10';
            }
            var b = document.documentElement;
            b.setAttribute('data-useragent', navigator.userAgent);
            b.setAttribute('data-platform', navigator.platform);
        </script>
        <!--<![endif]-->
    
        <style type="text/css">
            /* IE10 hacks. add .ie10 before */
            
            .ie10 ul#ice-switcher,
            html[data-useragent*='rv:11.0'] ul#ice-switcher {
                padding-right: 20px;
            }
            
            .ie10 ul#ice-switcher:hover,
            html[data-useragent*='rv:11.0'] ul#ice-switcher:hover {
                padding-right: 35px
            }
            
            .ie10 ul#ice-switcher li.active a,
            .ie10 ul#ice-switcher li a:hover {
                padding-top: 0;
                padding-bottom: 0
            }
            
            .ie10 ul#ice-switcher li a span,
            html[data-useragent*='rv:11.0'] ul#ice-switcher li a span {
                padding-left: 30px;
            }
            
            .ie10 #gotop .scrollup,
            html[data-useragent*='rv:11.0'] #gotop .scrollup {
                right: 40px;
            }
            
            .exc-footer-company {
                float: left;
                width: 100%;
                background-color: #64b006;
                color: #fff;
                font-family: Open-Sans,Arial,Helvetica Neue,Helvetica,sans-serif;
                padding: 26px 0;
            }
            
            .nav-frame {
                float: left;
                width: 100%;
                background: #64b006;
            }
            
            .checkbox, .radio {
                position: relative;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .checkbox, .radio {
                padding-left: 20px;
            }
            .checkbox+.checkbox, .radio+.radio {
                margin-top: -5px;
            }
            input[type=checkbox], input[type=radio] {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0;
            }
            input[type=checkbox], input[type=radio] {
                margin: 4px 0 0;
                margin-top: 1px\9;
                line-height: normal;
            }
            .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
                position: absolute;
                margin-top: 4px\9;
                margin-left: -20px;
            }
            .checkbox input[type="checkbox"] {
                cursor: pointer;
                opacity: 0;
                z-index: 1;
                outline: none !important;
            }
            .checkbox label, .radio label {
                min-height: 20px;
                padding-left: 20px;
                margin-bottom: 0;
                font-weight: 400;
                cursor: pointer;
            }
            .checkbox label {
                display: inline-block;
                padding-left: 5px;
                position: relative;
                font-family: "Noto Sans", sans-serif;
                font-weight: normal;
            }
            .checkbox label::before {
                -o-transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
                background-color: #ffffff;
                border-radius: 2px;
                border: 1px solid gainsboro;
                content: "";
                display: inline-block;
                height: 17px;
                left: 0;
                margin-left: -20px;
                position: absolute;
                transition: 0.3s ease-in-out;
                width: 17px;
                outline: none !important;
                margin-top: 2px;
            }
            .checkbox-success input[type="checkbox"]:checked + label::before {
                background-color: #4fc55b;
                border-color: #4fc55b;
            }
            .checkbox label::after {
                color: #7a7d84;
                display: inline-block;
                font-size: 11px;
                height: 16px;
                left: 0;
                margin-left: -20px;
                padding-left: 3px;
                padding-top: 1px;
                position: absolute;
                top: 2px;
                width: 16px;
            }
            .checkbox input[type="checkbox"]:checked + label::after {
                content: "\F12C";
                font-family: 'Material Design Icons';
                font-weight: bold;
            }
            .checkbox-success input[type="checkbox"]:checked + label::after {
                color: #ffffff;
            }
            input, textarea, .uneditable-input, select {
                width: 100%;
                height: 30px !important;
                border-radius: 2px !important;
            }
            h2{
                margin-top: 0px;
            }
            .stepfooter{
                text-align: right;
                padding-right: 15px;
                margin-top: 15px;
            }
            .spnhdr {
                float: left;
                width: 100%;
                padding: 4px;
                font-size: 16px;
                background: #f3f3f3;
                border: 1px solid #eee;
                border-radius: 2px;
                margin-top: 15px;
                margin-bottom: 10px;
            }
            .txt {
                margin-bottom: 15px !important;
            }
            .exc-footer-company{
                //position: absolute;
                //bottom: 0;
            }
            .box {
                margin-bottom: 100px;
                float: left;
                width: 100%;
            }
            .rcul{
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                background: #fff;
                width: 90%;
                top: 30px;
                border: 1px solid #ddd;
                border-radius: 2px;
                box-shadow: 0 2px 2px #ccc;
                left: 15px;
                display:none;
            }
            
            .rcul li
            {
                margin: 0;
                padding: 6px 15px;
            }
            
            .rcul li:hover
            {
                background: #f8f8f8;
                cursor: pointer;
            }
            
            .ecaList{
                display:none;
            }
            
            .ecaList0{
                display:block;
            }
            
            .radio input[type="radio"] {
                cursor: pointer;
                opacity: 0;
                z-index: 1;
                outline: none !important;
            }
            .radio label {
                display: inline-block;
                padding-left: 5px;
                position: relative;
                font-family: "Noto Sans", sans-serif;
                font-weight: normal;
            }
            .radio-success input[type="radio"]:checked + label::before {
                border-color: #4fc55b;
            }
            .radio label::before {
                -o-transition: border 0.5s ease-in-out;
                -webkit-transition: border 0.5s ease-in-out;
                background-color: #ffffff;
                border-radius: 50%;
                border: 1px solid gainsboro;
                content: "";
                display: inline-block;
                height: 17px;
                left: 0;
                margin-left: -20px;
                outline: none !important;
                position: absolute;
                transition: border 0.5s ease-in-out;
                width: 17px;
            }
            .radio label::after {
                -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -ms-transform: scale(0, 0);
                -o-transform: scale(0, 0);
                -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -webkit-transform: scale(0, 0);
                -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                background-color: #7a7d84;
                border-radius: 50%;
                content: " ";
                display: inline-block;
                height: 11px;
                left: 3px;
                margin-left: -20px;
                position: absolute;
                top: 3px;
                transform: scale(0, 0);
                transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                width: 11px;
            }
            .radio-success input[type="radio"] + label::after {
                background-color: #4fc55b;
            }
            .radio input[type="radio"]:checked + label::after {
                -ms-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            .radio-success input[type="radio"]:checked + label::after {
                background-color: #4fc55b;
            }
            .form-control-error {
                border: 2px solid #a94442 !important;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
            }
            
            .errorspn{
                float: left;
                width: 100%;
                color: #a94442 !important;
                margin-top: -15px;
            }
        </style>
        
        <script>
            var customerId, zipcode;
            var chkValidate = true;
            var isLandloard;
            
            function goWithNonFlow(isLandlord){
                if(isLandlord){
                    startElg('step2', 'step3');
                    jQuery('.landlord').show();
                }else{
                    startElg('step2', 'step5');
                    jQuery('.landlord').hide();
                }
            }
            
            var stepArray = [];
            stepArray['step1'] = 'Landlord Check';
            stepArray['step2'] = 'Gas/Electric';
            stepArray['step3'] = 'Home Check';
            stepArray['step4'] = 'Apartments Check';
            stepArray['stepError'] = 'Eligibility Fail';
            stepArray['step5'] = 'Time Slot';
            stepArray['step6'] = 'Finish';
            
            function startElg(hideDv, showDv){
                if(!validateApexForm() && chkValidate)
                    return false;
                
                jQuery('#'+hideDv).hide();
                jQuery('#'+showDv).fadeIn();
                jQuery('#'+hideDv+'Footer').hide();
                jQuery('#'+showDv+'Footer').fadeIn();
                
                if(showDv == 'cSearch')
                    jQuery('#searchmodal').html('Customer Search');
                else{
                    var htm = '';
                    jQuery('.modalstep').each(function(){
                        var id = jQuery(this).attr('id');
                        
                        if(isLandloard && id != 'step3')
                            htm += '<span>' + stepArray[id] + '</span>' + ' > ';
                            
                        if(!isLandloard && id != 'step4')
                            htm += '<span>' + stepArray[id] + '</span>' + ' > ';
                            
                        if(jQuery(this).is(':visible'))
                            return false;
                    });
                    jQuery('#searchmodal').html(htm);
                }
            }
            
            function enableFields(){
                dsmtEligibilityCheckController.getContractors(function(res){
                    if(res){
                        var htm = '';
                        for(var i=0; i < res.length; i++){
                            htm += '<li id="'+res[i].Id+'" onclick="addValue(this);">'+res[i].Name+'</li>';
                        }
                        jQuery('.rcul').html(htm);
                    }
                });
            }
            
            function showCustomerFields(){
                jQuery('[id$="op_searchResults"]').hide();
                jQuery('#cnfFields').show();
            }
            
            function chkYesNo(val, cls, cval){
                if(val == cval){
                    jQuery('.'+cls).show();
                }else{
                    jQuery('.'+cls).hide();
                    jQuery('.'+cls).val('');
                }
            }
            
            function checkTAC(val)
            {
                if(val.trim().length == 0){
                    jQuery('.rcul').hide();
                }else{
                    jQuery('.rcul').show();
                    jQuery('.rcul li').each(function(){
                        if(jQuery(this).text().toLowerCase().indexOf(val.toLowerCase()) != -1){
                            jQuery(this).show();
                        }else{
                            jQuery(this).hide();
                        }
                    });
                }
            }
            
            function addValue(t)
            {
                jQuery('[id$="referringContractor"]').val(jQuery(t).text());
                jQuery('.rcul').hide();
            }
            
            function applyGAS(){
                isLandloard = true;
                var fuel = jQuery('.fuel').val();
                jQuery('.geBlock').hide();
                if(fuel == 'Yes')
                    jQuery('.gasBlock').show();
                if(fuel == 'No')
                    jQuery('.elecBlock').show();
            }
            
            function checkGEUtility()
            {
                if(!validateApexForm() && chkValidate)
                    return false;
                
                var zipcode = jQuery('.zipcode').val();
                var pcode = jQuery('.pcode').val();
                var fuel = jQuery('.fuel').val();
                var unit = jQuery('.unit').val();
                var condo = jQuery('.condo').val();
                
                var fname = jQuery('.fname1').val();
                var lname = jQuery('.lname1').val();
                var emal = jQuery('.emal1').val();
                var phn = jQuery('.phn1').val();
                var iswifi = jQuery('.assessment').prop('checked');
                
                dsmtEligibilityCheckController.CheckCustomer(fname, lname, emal, zipcode, phn, function(res){
                    if(res){
                        customerId = res.Id;
                        jQuery(obj).closest('.row').find('.fname').val(res.First_Name__c);
                        jQuery(obj).closest('.row').find('.lname').val(res.Last_Name__c);
                    }
                });
                
                dsmtEligibilityCheckController.checkZipEligibility(zipcode, fuel, unit, condo, iswifi, function(res){
                    if(res){
                        var c = jQuery('.doYouOwnCount').val();
                        
                        if(res == 'Valid'){
                            if(c == 'Single family')
                                startElg('step1', 'step2');
                            else if(c.indexOf('units') != -1){
                                var units = c.replace(' units');
                                callApartments(parseInt(units));
                            }
                        }else{
                            jQuery('#step1').hide();
                            jQuery('#step1Footer').hide();
                            jQuery('#stepError').html(res);
                            startElg('step1', 'stepError');
                        }   
                        
                        jQuery('.geBlock').hide();
                        if(fuel == 'Yes')
                            jQuery('.gasBlock').show();
                        if(fuel == 'No')
                            jQuery('.elecBlock').show();
                                   
                        /*jQuery('.geBlock').hide();
                        if(res.isGasChecked)
                            jQuery('.gasBlock').show();
                        
                        if(res.isElectricChecked)
                            jQuery('.elecBlock').show();
                        
                        isLandloard = res.isLandloard;    
                        if(res.isLandloard)
                            jQuery('.landlord').show();
                        else
                            jQuery('.landlord').hide();*/
                        
                    }
                });
            }
            
            function copyContactData(obj){
                dsmtEligibilityCheckController.getContactValues(customerId, function(res){
                    if(res){
                        console.log(res);
                        jQuery(obj).closest('.row').find('.fname').val(res.First_Name__c);
                        jQuery(obj).closest('.row').find('.lname').val(res.Last_Name__c);
                    }
                });
            }
            
            function goWithFlow(){
                /*if(isLandloard){
                    var c = jQuery('.doYouOwnCount').val();
                    if(c == '')
                        c = 1;
                        
                    callApartments(c);
                }else{*/
                    startElg('step2', 'step3');
                //}
            }
            
            function backWithFlow(){
                if(isLandloard){
                    startElg('step4', 'step2');
                }else{
                    startElg('step3', 'step2');
                }
            }
            
            function backWithFlowStep5(){
                if(isLandloard){
                    startElg('step5', 'step4');
                }else{
                    startElg('step5', 'step3');
                }
            }
            
            function itrApartments()
            {
                var lstSize = parseInt(jQuery('[id$="ecaListSize"]').val());
                for(var i=0; i < lstSize; i++){
                    var visible = jQuery('.ecaList'+i).is(':visible');
                    if(visible){
                        if((i+1) < lstSize){
                            jQuery('.ecaList'+i).hide();
                            jQuery('.ecaList'+(i+1)).show();
                        }else{
                            startElg('step4', 'step5');
                        }
                        
                        return false;
                    }
                }
            }
            
            function backApartments()
            {
                var lstSize = parseInt(jQuery('[id$="ecaListSize"]').val());
                for(var i=0; i < lstSize; i++){
                    var visible = jQuery('.ecaList'+i).is(':visible');
                    if(visible){
                        jQuery('.ecaList'+i).hide();
                        if((i-1) >= 0){
                            jQuery('.ecaList'+(i-1)).show();
                        }else{
                            startElg('step4', 'step1');
                        }
                        
                        return false;
                    }
                }
            }
            
            function sveEligibility(){
                callSveEligibility(customerId);
            }
            
            function validateEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            
            function validatePhone(phone){
                phone = phone.split(' ').join('');
                phone = phone.split('(').join('');
                phone = phone.split(')').join('');
                phone = phone.split('-').join('');
                var RE = /^[\d\.\-]+$/;
                if(!RE.test(phone) || phone.trim().length != 10)
                {
                    return false;
                }
                return true;
            }
            
            function initValidations(){
                var focused = false;
                
                jQuery('.required').unbind('change');
                jQuery('.required').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() == ''){
                        if(jQuery(this).is(':visible')){
                            valid = false;
                            jQuery(this).addClass('form-control-error');
                            jQuery(this).closest('.field-control').append('<span class="errorspn">This field is required.</span>');
                        }
                    }
                });
                
                jQuery('.email').unbind('change');
                jQuery('.email').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(!validateEmail(jQuery(this).val())){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Email.</span>');
                            }
                        }
                    }
                });
                
                jQuery('.cellphone').unbind('change');
                jQuery('.cellphone').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');
                    
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(!validatePhone(jQuery(this).val())){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Phone number.</span>');
                            }
                        }
                    }
                });
            }
            
            function validateApexForm(){
                var valid = true;
                var rules = [];
                rules["FirstName"] = "required";
                rules["contLName1"] = "required";
                rules["contEmail1"] = "required";
                rules["contFName2"] = "required";
                rules["contLName2"] = "required";
                rules["contEmail2"] = "required";
                
                var messages = [];
                messages["FirstName"] = "Please enter your firstname";
                messages["contLName1"] = "Please enter your lastname";
                messages["contEmail1"] = "Please enter your email";
                messages["contFName2"] = "Please enter your firstname";
                messages["contLName2"] = "Please enter your lastname";
                messages["contEmail2"] = "Please enter your email";
                
                var focused = false;
                for(var prop in rules){
                    var valdtion = rules[prop];
                    if(valdtion == 'required'){
                        var vlObj = jQuery('[id$="'+prop+'"]');
                        if(jQuery(vlObj).val() != undefined){
                            jQuery(vlObj).closest('.field-control').find('.span-error').remove();
                            jQuery(vlObj).closest('.field-control').find('.errorspn').remove();
                            if(jQuery(vlObj).val().trim() == ''){
                                valid = false;
                                jQuery(vlObj).addClass('form-control-error');
                                jQuery(vlObj).closest('.field-control').append('<span class="errorspn">'+messages[prop]+'</span>');
                            }else{
                                jQuery(vlObj).removeClass('form-control-error');
                            }
                        }
                    }
                }
                
                jQuery('.required').each(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() == ''){
                        if(jQuery(this).is(':visible')){
                            valid = false;
                            jQuery(this).addClass('form-control-error');
                            jQuery(this).closest('.field-control').append('<span class="errorspn">This field is required.</span>');
                        }
                    }
                });
                
                if(valid){
                    jQuery('.email').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');                    
                            
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(!validateEmail(jQuery(this).val())){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Email.</span>');
                                }
                            }
                        }
                    });
                }
                
                if(valid){
                    jQuery('.cellphone').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');
                        
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(!validatePhone(jQuery(this).val())){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Phone number.</span>');
                                }
                            }
                        }
                    });
                }
                
                initValidations();
                
                return valid;
            }
            
            function chkCheckbox(chkd, cls){
                jQuery('.'+cls).prop('checked', chkd);
            }
        </script>
    </head>
    
    <body class=" ">
    
        <div class="top-frame">
            
            <c:dsmtSiteHeader />        
    
            <div class="nav-frame">
                <div class="container">
                    <div class="mega-menu">
                        <div class="toggle_icon">Menu</div>
                        <a href="#" class="menu-mobile">Navigation</a>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Outages</a>
                            </li>
                            <li><a href="#">Ways to Save</a>
                            </li>
                            <li><a href="#">Smart Energy</a>
    
                            </li>
                            <li><a href="#">Safety &amp; Community</a>
                            </li>
                        </ul>
                    </div>
    
                    <script>
                        jQuery(window).load(function() {
                            jQuery('body').removeClass('body_preload');
                            
                            /*** ADD TO CART TEST ***/
                            jQuery('.mega-menu li.menu-dropdown-icon, .mega-menu li').mouseout(
                                function() {
                                    //jQuery('ul',this).hide();
                                    jQuery(this).children('ul').hide();
                                });
    
                        });
                    </script>
                </div>
            </div>
            
            <apex:form >
                <apex:actionFunction name="callApartments" action="{!getApartmentList}" status="status" reRender="apartmentPanel" oncomplete="applyGAS(); startElg('step1', 'step4');">
                    <apex:param name="argcallListLineItemIdeerere" value="" assignTo="{!numberOfApartment}"/>
                </apex:actionFunction>
                
                <apex:actionStatus id="status">
                    <apex:facet name="start">
                        <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                        <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                            <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                            <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                        </div>
                    </apex:facet>
                </apex:actionStatus>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-1"><br/></div>
                        
                        <div class="col-md-10">
                            <div class="box" id="cSearch">
                                <h1 style="margin-top: 0px;">Welcome to Mass Save !</h1>
                                
                                <p>
                                    Eversource and National Grid customers can use this tool to schedule their own no-cose home energy assessment.
                                    Thse assessments are availble to most customers who reside in as single family home or 2-4 unit building.How can we help you ? All  you need is your utility account number!
                                </p>
                                
                                <span style="font-size:12px;">(please select all that apply)</span>
                                
                                <br/>
                                
                                <div class="checkbox checkbox-success">
                                    <input id="co-borrower-details" type="checkbox" class="chk" onchange="chkCheckbox(this.checked, 'thermostat');"/>
                                    <label for="co-borrower-details">
                                        I&#39;d like a no-cost home energy assessment.<br/>
                                    </label>
                                </div>
                                <apex:inputCheckbox style="display:none;" styleClass="thermostat" value="{!custInteraction.Purchase_a_discounted_smart_thermostat__c}"/>
                                
                                <div class="checkbox checkbox-success">
                                    <input id="co-borrower-detailss" type="checkbox" class="chk" onchange="chkCheckbox(this.checked, 'assessment');"/>
                                    <label for="co-borrower-detailss">
                                        I&#39;d like to purchase a discounted smart thermostat and have it installed at no cost.<br/>
                                    </label>
                                </div>
                                <apex:inputCheckbox style="display:none;" styleClass="assessment" value="{!custInteraction.No_cost_home_energy_assessment__c}"/>
                                
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center; margin-bottom: 10px;">
                                        <input type="button" class="btn btn-success" value="Let's go!" onclick="enableFields(); startElg('cSearch', 'step1');"/>
                                    </div>
                                </div>
                                
                                <ul>
                                    <li>
                                        If you need to change an already scheudled appointment, please call us at 877-475-1635.
                                    </li>
                                    <li>
                                        Masssave customers not served by Eversource or National Grid can schedule an assessment by calling 866-527-SAVE(7283).
                                    </li>
                                </ul>
                            </div>
                            
                            <div id="step1" class="box" style="display:none;">    
                                <div>
                                    <h2>Great! Let&#39;s make sure you are eligible.</h2><br/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">First Name
                                                <span style="color:red; font-size:14px;">*</span>
                                            </div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt required fname1" value="{!custInteraction.First_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Last Name
                                                <span style="color:red; font-size:14px;">*</span>
                                            </div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt required lname1" value="{!custInteraction.Last_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Phone
                                                <span style="color:red; font-size:14px;">*</span>
                                            </div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt required cellphone phn1" value="{!custInteraction.Phone__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Email
                                                <span style="color:red; font-size:14px;">*</span>
                                            </div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt required email emal1" value="{!custInteraction.Email__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">ZIP
                                                <span style="color:red; font-size:14px;">*</span>
                                            </div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt required zipcode" value="{!custInteraction.Zip__c}" required="false"/>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">Do you heat with natural Gas ?
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt required fuel" onchange="chkYesNo(this.value, 'hhw', 'No');" value="{!custInteraction.Do_you_heat_with_natural_Gas__c}" required="false"/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6 hhw" style="display:none;">
                                                    <div class="col-md-5 field-label">I heat my home with
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt hhw required" value="{!custInteraction.I_heat_my_home_with__c}" required="false"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">My home [is/is not] part of condo association or apartment complex.
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt required condo" value="{!custInteraction.Condo_association_or_Apartment_complex__c}" required="false"/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">How many units?
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt required doYouOwnCount unit" value="{!custInteraction.How_many_units__c}" required="false"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">Do you own or rent?
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt required" onchange="chkYesNo(this.value, 'oor', 'Own');" value="{!custInteraction.Do_you_own_or_rent__c}" required="false"/>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-6 oor" style="display:none;">
                                                    <div class="col-md-5 field-label">How many do you own ?
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt oor required" value="{!custInteraction.How_many_do_you_own__c}" required="false"/>
                                                    </div>
                                                </div>
                                                
                                                 <div class="col-md-6 oor" style="display:none;">
                                                    <div class="col-md-5 field-label">Do you live there?
                                                        <span style="color:red; font-size:14px;">*</span>
                                                    </div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt oor required" value="{!custInteraction.Do_you_live_there__c}" required="false"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">How did you hear about this program?</div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt" onchange="chkYesNo(this.value, 'rc', 'Contractor');" value="{!custInteraction.How_did_you_hear_about_this_program__c}" required="false"/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6 rc" style="display:none;">
                                                    <div class="col-md-5 field-label">Referring Contractor</div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputText id="referringContractor" onkeyup="checkTAC(this.value);" styleClass="txt rc" required="false"/>
                                                        <apex:inputHidden id="referringContractorId" value="{!custInteraction.Trade_Ally_Account__c}"/>
                                                        <ul class="rcul">
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Promo Code</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt pcode" value="{!custInteraction.Promo_Code__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="stepfooter" id="step1Footer">
                                        <input class="btn btn-default" value="Back" type="button" onclick="chkValidate = false; startElg('step1', 'cSearch');"/>
                                        <input class="btn btn-success" value="Continue" type="button" onclick="chkValidate = true; checkGEUtility();"/>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div id="step2" class="box" style="display:none;">    
                                <div>
                                    <h2 class="steph2">Great! Let&#39;s make sure you are eligible.</h2><br/>
                                    <div class="row geBlock gasBlock">
                                        <div class="col-md-12">
                                            <span class="spnhdr" style="margin-top: 0px;">Gas Utility</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Gas Utility Account #</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Gas_Account__c}" required="false"/>
                                            </div>
                                        </div>
                                       <!-- <div class="col-md-6">
                                            <div class="col-md-12" style="text-align:right;">
                                                <input class="btn btn-success" style="margin-bottom: 15px !important;" value="Copy Name from Contact" type="button" onclick="copyContactData(this);"/>
                                            </div>
                                        </div> -->
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Account Holder First Name</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt fname" value="{!custInteraction.Gas_Account_Holder_First_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Account Holder Last Name</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt lname" value="{!custInteraction.Gas_Account_Holder_Last_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 landlord">
                                            <div class="col-md-5 field-label">This tenent has electricity but is not the account holder.</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Has_Gas_but_not_Account_Holder__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row geBlock elecBlock">
                                        <div class="col-md-12">
                                            <span class="spnhdr">Electric Utility</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Electric Utility Account #</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Electric_Account__c}" required="false"/>
                                            </div>
                                        </div>
                                       <!-- <div class="col-md-6">
                                            <div class="col-md-12" style="text-align:right;">
                                                <input class="btn btn-success" style="margin-bottom: 15px !important;" value="Copy Name from Contact" type="button" onclick="copyContactData(this);"/>
                                            </div>
                                        </div> -->
                                        
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Account Holder First Name</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt fname" value="{!custInteraction.Electric_Account_Holder_First_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Account Holder Last Name</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt lname" value="{!custInteraction.Electric_Account_Holder_Last_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 landlord">
                                            <div class="col-md-5 field-label">This tenent has electricity but is not the account holder.</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Has_Electricity_but_not_Account_Holder__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Service Address</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Service_Address__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">City</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.City__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">Zip</div>
                                            <div class="col-md-7 field-control">
                                                <span class="step1zip"></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="stepfooter" id="step2Footer">
                                        <input class="btn btn-default" value="Back" type="button" onclick="chkValidate = false; startElg('step2', 'step1');"/>
                                        <input class="btn btn-success" value="Continue" type="button" onclick="chkValidate = true; goWithFlow();"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="stepError" class="box" style="font-size: 22px; color: #bf1313;display:none;overflow-y: auto; max-height: 600px;">    
                            
                            </div>
                            
                            <div id="step3" class="box" style="display:none;">    
                                <div>
                                    <h2 class="steph2">Let&#39;s learn more about your home.</h2><br/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">My home is</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Home_Size__c}" required="false"/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">My home is a</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Home_Style__c}" required="false"/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">My home was built in</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Year_built_in__c}" required="false"/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">My attic have ducts</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Attic__c}" required="false"/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="col-md-5 field-label">My home has thermostats</div>
                                            <div class="col-md-7 field-control">
                                                <apex:inputField styleClass="txt" value="{!custInteraction.Thermostats__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="stepfooter" id="step3Footer">
                                        <input class="btn btn-default" value="Back" type="button" onclick="chkValidate = false; backWithFlow();"/>
                                        <input class="btn btn-success" value="Continue" type="button" onclick="chkValidate = true; startElg('step3', 'step5');"/>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div id="step4" class="box" style="display:none;">    
                                <div>
                                    <h2 class="steph2">Let&#39;s learn more about this apartment.</h2><br/>
                                    <apex:outputPanel id="apartmentPanel">
                                        <input type="hidden" value="{!ecaList.size}" id="ecaListSize"/>
                                        <apex:variable value="{!0}" var="x"/>
                                        <apex:repeat value="{!ecaList}" var="e">
                                            <!--<div class="row ecaList ecaList{!x}">
                                                <div class="col-md-6">
                                                    <apex:variable value="{!x+1}" var="x"/>
                                                    <div class="col-md-5 field-label">This apartment is</div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt" value="{!e.This_apartment_is__c}" required="false"/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">This building was built in</div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt" value="{!e.The_building_was_built_in_Year__c}" required="false"/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="col-md-5 field-label">This apartment have an attic with ducts.</div>
                                                    <div class="col-md-7 field-control">
                                                        <apex:inputField styleClass="txt" value="{!e.Have_an_attic_with_ducts__c}" required="false"/>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <div class="row ecaList ecaList{!x}">
                                                <div class="col-md-12">
                                                    <div class="row geBlock gasBlock">
                                                        <div class="col-md-12">
                                                            <apex:variable value="{!x+1}" var="x"/>
                                                            <span class="spnhdr" style="margin-top: 0px;">Gas Utility</span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Gas Utility Account #</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt" value="{!e.Gas_Account__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-6">
                                                            <div class="col-md-12" style="text-align:right;">
                                                                <input class="btn btn-success" style="margin-bottom: 15px !important;" value="Copy Name from Contact" type="button" onclick="copyContactData(this);"/>
                                                            </div>
                                                        </div> -->
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Account Holder First Name</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt fname" value="{!e.Gas_Account_Holder_First_Name__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Account Holder Last Name</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt lname" value="{!e.Gas_Account_Holder_Last_Name__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 landlord">
                                                            <div class="col-md-5 field-label">This tenent has electricity but is not the account holder.</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt" value="{!e.Tenant_has_gas_but_not_acct__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row geBlock elecBlock">
                                                        <div class="col-md-12">
                                                            <span class="spnhdr">Electric Utility</span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Electric Utility Account #</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt" value="{!e.Electric_Account__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-6">
                                                            <div class="col-md-12" style="text-align:right;">
                                                                <input class="btn btn-success" style="margin-bottom: 15px !important;" value="Copy Name from Contact" type="button" onclick="copyContactData(this);"/>
                                                            </div>
                                                        </div> -->
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Account Holder First Name</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt fname" value="{!e.Electric_Account_Holder_First_Name__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Account Holder Last Name</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt lname" value="{!e.Electric_Account_Holder_Last_Name__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 landlord">
                                                            <div class="col-md-5 field-label">This tenent has electricity but is not the account holder.</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt" value="{!e.Tenant_has_elec_but_not_acct__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row" style="margin-top: 15px;">
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Service Address</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt" value="{!e.Service_Address__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">City</div>
                                                            <div class="col-md-7 field-control">
                                                                <apex:inputField styleClass="txt" value="{!e.City__c}" required="false"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-5 field-label">Zip</div>
                                                            <div class="col-md-7 field-control">
                                                                <span class="step1zip"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </apex:repeat>
                                    </apex:outputPanel>
                                    
                                    <div class="stepfooter" id="step4Footer">
                                        <input class="btn btn-default" value="Back" type="button" onclick="chkValidate = false; backApartments();"/>
                                        <input class="btn btn-success" value="Continue" type="button" onclick="chkValidate = true; itrApartments();"/>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div id="step5" class="box" style="display:none;">    
                                <div>
                                    <h2 class="steph2">What&#39;s a good time for us to visit?</h2><br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12 field-label">
                                                <p style="font-size: 14px;">Based on your choices, plan for</p>
                                            </div>
                                            <div class="col-md-12 field-control">
                                                <ul style="font-size: 15px; list-style: none; padding: 0;">
                                                    <li>
                                                        <div class="radio radio-success">
                                                            <input id="co-borrower-detailss1" name="time" type="radio" class="chk" />
                                                            <label for="co-borrower-detailss1">
                                                                10 a.m., Monday, Feb 13
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="radio radio-success">
                                                            <input id="co-borrower-detailss2" name="time" type="radio" class="chk" />
                                                            <label for="co-borrower-detailss2">
                                                                1:30 p.m., Monday, Feb 13
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="radio radio-success">
                                                            <input id="co-borrower-detailss3" name="time" type="radio" class="chk" />
                                                            <label for="co-borrower-detailss3">
                                                                4:30 p.m., Wednesday, Feb 15
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="radio radio-success">
                                                            <input id="co-borrower-detailss4" name="time" type="radio" class="chk" />
                                                            <label for="co-borrower-detailss4">
                                                                8 a.m., Thursday, Feb 16
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="radio radio-success">
                                                            <input id="co-borrower-detailss5" name="time" type="radio" class="chk" />
                                                            <label for="co-borrower-detailss5">
                                                                1 p.m., Monday, Feb 20
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 field-label" style="text-align: right;">
                                                <input class="btn btn-success" value="Please show me the next five options" type="button"/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="stepfooter" id="step5Footer">
                                        <input class="btn btn-default" value="Back" type="button" onclick="chkValidate = false; backWithFlowStep5();"/>
                                        <input class="btn btn-success" value="Continue" type="button" onclick="chkValidate = true; startElg('step5', 'step6');"/>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div id="step6" class="box" style="display:none;">    
                                <div>
                                    <h2 class="steph2">You&#39;re all set!</h2><br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12 field-label">
                                                <p>We will arrive between 9.30 a.m. and 10.30 a.m. on Monday,
                                                   February 26. Please check your email for a confirmation.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="stepfooter" id="step6Footer">
                                        <input class="btn btn-success" value="Ok" type="button" onclick="sveEligibility(); jQuery('#search-lead-or-contact-modal').modal('hide');"/>
                                        <apex:actionFunction name="callSveEligibility" action="{!saveEligibility}" status="status" reRender="erpanel" oncomplete="startElg('step6', 'cSearch');">
                                            <apex:param assignTo="{!customerId}" name="sf" value=""/>
                                        </apex:actionFunction>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-1"><br/></div>
                    </div>
                </div>
            </apex:form>
        </div>
    
        <c:dsmtSiteFooter />
    
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var height = jQuery(document).height();
                var html_height = jQuery('html').height();
                if (html_height < height) {
                    //jQuery('.exc-footer-company').addClass('fixedFooter');
                }
            });
        </script>
    </body>
</apex:page>