<apex:page standardController="Invoice__c"  extensions="dsmtInvoiceCoverSheetController"  contenttype="application/vnd.ms-excel#Cover{!sdate}{!Invoice__c.Invoice_Type__c}.xls" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" sidebar="false" showHeader="false">
    <head>
        <title> Cover Sheet </title>
    </head>

    <body style="font-family: Arial;">
        <table border="1" style="border-collapse: collapse; border-color: #ddd;">
            <tr>
                <td width="150px"></td>
                <td width="50px"></td>
                <td width="40px"></td>
                <td width="350px"></td>
                <td width="30px"></td>
                <td width="50px"></td>
                <td width="150px">Invoice Date:</td>
                <td width="50px"></td>
                <td width="140px"><apex:outputField value="{!Invoice__c.Invoice_Date__c}"/></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Invoice Number:</td>
                <td></td>
                <td>{!Invoice__c.Name}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td colspan="1">
                  
                  
                 <img src="{!url}/servlet/servlet.ImageServer?id={!Id}&oid={!$Organization.Id}" max-width="50px"  max-height="20px"/>
                    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td rowspan="4"><h3> Remit To: </h3></td>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="3">{!Invoice__c.Remit_Address__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="3">{!Invoice__c.Remit_State__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="1">{!Invoice__c.Remit_City__c}  {!Invoice__c.Remit_Postal_Code__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td rowspan="5"><h3> Bill To: </h3></td>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="3">{!Invoice__c.Billing_Street__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="3">{!Invoice__c.Billing_State_Province__c}-{!Invoice__c.Billing_Zip_Postal_Code__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="3">{!Invoice__c.Bill_To_Email__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="3">{!Invoice__c.Bill_To_Phone__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td colspan="4">Attn:{!Invoice__c.Bill_to_Attn__c}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td><br/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th></th>
                <th colspan="3" style="text-align: left;">Description</th>
                <th></th>
                <th></th>
                <th style="text-align:right;">Quantity</th>
                <th></th>
                <th style="text-align:right;">Program Price</th>
            </tr>
            
            <tr>
                <apex:repeat value="{!transactionList}" var="t">
                    <tr>
                        <td>{!t.title}</td>
                        <td colspan="3">{!t.description}</td>
                        <td></td>
                        <td></td>
                        <td style="text-align:right;">{!t.quantity}</td>
                        <td></td>
                        <td style="text-align:right;">
                            <apex:outputText value="{0, Number, Currency}" rendered="{!t.programPrice != null}">
                                <apex:param value="{!t.programPrice}"/>
                            </apex:outputText>
                            <apex:outputText value="$0.00" rendered="{!t.programPrice == null}">
                               
                            </apex:outputText>
                        </td>
                    </tr>
                </apex:repeat>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th style="text-align:right;">Invoice Total:</th>
                    <td></td>
                    <th style="text-align:right;">
                        <apex:outputText value="{0, Number, Currency}">
                            <apex:param value="{!invoiceTotal}"/>
                        </apex:outputText>
                    </th>
                </tr>
            </tr>
        </table>
    </body>
   
</apex:page>