<apex:page standardStylesheets="false" showHeader="false" sidebar="false" applyBodyTag="false" controller="dsmtRecommendationController" action="{!validateRequest}">
    <style>
        .gicon{
            margin: 5px;
        }
        .price span{
            color: green;
            float: right;
        }
    </style>
    <apex:composition template="dsmtEnergyAssessmentTemplate">
        
        <apex:define name="header-action-buttons">
            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="$('#technicalBundlePanel').slideToggle();">
                <i class="glyphicon glyphicon-plus"></i>
                Add Technical Bundle
            </button>
            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="$('#recomContainerDiv').slideDown();">
                <i class="glyphicon glyphicon-plus"></i>
                Add Recommendation
            </button>
        </apex:define>
        
        <apex:define name="body-content">
            <apex:actionRegion id="dsmtRecommendationRegion">
                <apex:actionFunction name="DeleteRecommendation" status="actionStatusLoader" action="{!DeleteRecommendation}" reRender="dsmtRecommendationRegion,recListPanel" oncomplete="window.location.reload();">
                    <apex:param name="p2" id="p2" assignTo="{!RecommendationId}" value="" />
                </apex:actionFunction>
                
                <apex:actionFunction name="sveTechBundle" status="actionStatusLoader" action="{!saveTechBundle}" reRender="dsmtRecommendationRegion,recListPanel" oncomplete="window.location.reload();">
                    <apex:param name="p3" id="p3" assignTo="{!RecommendationId}" value="" />
                </apex:actionFunction>
                
                <apex:actionFunction name="deleteTechnicalBundle" status="actionStatusLoader" action="{!deleteTechnicalBundle}" reRender="dsmtRecommendationRegion,recListPanel" oncomplete="window.location.reload();">
                    <apex:param name="p4" id="p4" assignTo="{!RecommendationId}" value="" />
                </apex:actionFunction>
                
                <apex:outputPanel layout="block" styleClass="col-md-12">
                    <div class="row" id="technicalBundlePanel" style="display:none;">
                        <div class="col-md-3">
                            <label>Technical Bundle Name</label>
                            <apex:inputField value="{!technicalBundle.Name}" styleClass="form-control tbname"/>
                        </div>
                        
                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary continue-bt" onclick="saveTechBundle();" style="float: left; margin-top: 27px;">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Save Technical Bundle
                            </button>
                        </div>
                    </div>
                </apex:outputPanel>
                
                <apex:outputPanel id="airFlowAirLieakageDetailsPanel" layout="block" styleClass="col-md-12">
                    <div class="row">
                        <c:dsmtRecommendationComponent parentObjId="{!$CurrentPage.parameters.assessId}" parentObjField="Energy_Assessment__c"/>
                        
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Technical Bundles
                                </div>
                                <apex:outputPanel layout="block" rendered="{!technicalBundleList.size > 0}" styleClass="panel-body">
                                    <apex:variable value="{!0}" var="blowerDor"/>
                                    <table class="tbl table_data" style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <th width="20px">#</th>
                                                <th>Name</th>
                                                <th style="text-align:center">Total Cost</th>
                                                <th style="text-align:center">Total Incentive</th>
                                                <th style="text-align:center">Total Annual Energy Savings</th>
                                                <th width="30px"></th>
                                            </tr>
                                            <apex:repeat value="{!technicalBundleList}" var="b">
                                                <tr>
                                                    <td>
                                                        <apex:variable value="{!blowerDor+1}" var="blowerDor"/>
                                                        {!blowerDor}.
                                                    </td>
                                                    <td>
                                                        <a href="/{!b.Id}" target="_blank">{!b.Name}</a>
                                                    </td>
                                                    <td class="price">
                                                        <apex:outputField value="{!b.Total_Cost__c}"/>
                                                    </td>
                                                    <td class="price">
                                                        <apex:outputField value="{!b.Total_Incentive__c}"/>
                                                    </td>
                                                    <td class="price">
                                                        <apex:outputField value="{!b.Total_Annual_Energy_Savings__c}"/>
                                                    </td>
                                                    <td>
                                                        <i class="glyphicon glyphicon-trash" title="Delete" onclick="if(confirm('Are you sure to delete ?'))deleteTechnicalBundle('{!b.Id}');"></i>
                                                    </td>
                                                </tr>
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                </apex:outputPanel>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <c:dsmtRecommendationListComponent showCheckbox="true" parentObjId="{!$CurrentPage.parameters.assessId}" parentObjField="Energy_Assessment__c"/>
                        </div>
                    </div>
                </apex:outputPanel>
                <div class="clearfix"></div>
            </apex:actionRegion>
        </apex:define>
        
        <apex:define name="footer-scripts-content">
            <script>
                $("#accessorName").html('{!accessorName}');
                $("#auditNumber").html('{!ea.Name}');
                function initDates(){
                    $('.date').datetimepicker();
                }
                function init(){
                    initDates();
                    //initGrid();
                }
                $(document).ready(function(){
                    $('#addRecommendationBtn').focus();
                    init();
                });
                
                function saveTechBundle()
                {
                    selectRecRecords();
                    if($('.tbname').val().trim().length == 0){
                        alert('Please enter Technical Bundle name.');
                    }
                    else if(recomIdsStr == ''){
                        alert('Please select atleast one recommendation.');
                    }else{
                        sveTechBundle(recomIdsStr);
                    }
                }
            </script>
        </apex:define>
    </apex:composition>
</apex:page>