<apex:page standardStylesheets="false" applyHtmlTag="false" showHeader="false" sidebar="false" docType="html-5.0">
  <apex:composition template="dsmtTradeallyHomePageHeaderTemplate">  
      <apex:define name="head-content">   
      <link rel="shortcut icon" href="{!URLFOR($Resource.SiteFavoriteIcon)}" type="image/x-icon" />
      </apex:define>
      <apex:define name="body-content">   
         <apex:form >
             <!--<apex:iframe src="https://masssave.dsmtracker.com/kb/?user=notifier&passw=$2y$10$J9ByhFxHAnmNMkgAkF6CHOfD3ZOGP8JFKQA6E7ElUUPizTHDpdLc6&sftab=1" scrolling="true" id="theIframe" />-->
             <apex:iframe src="https://kb.dsmtracker.com/contractor/?user=notifier&passw=$2y$10$J9ByhFxHAnmNMkgAkF6CHOfD3ZOGP8JFKQA6E7ElUUPizTHDpdLc6&sftab=1" scrolling="true" id="theIframe"/>
         </apex:form>
      </apex:define>
  </apex:composition>    
</apex:page>