<apex:page standardController="Recommendation__c" standardStylesheets="false" extensions="dsmtUpdateRecommendationController" sidebar="false" showHeader="false" action="{!updateRecommendation}">
    
    <style>
        .dv{
            width: 100%;
            text-align: center;
            background: #7196ad;
            padding: 9px 0px;
            color: #fff;
            font-size: 15px;
            border: none;
            border-radius: 3px;
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.125) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.125) 75%, transparent 75%, transparent);
            background-size: 64px 64px;
        }
    </style>
    
    <script>
        window.onload = function() { 
            //if('{!isError}' != 'true')
            //{
                setTimeout(function(){
                    parent.removeIframe('{!$CurrentPage.parameters.id}');
                }, 1000);
            //}
        }
    </script>
    
    <div class="dv">
        <apex:pageMessages ></apex:pageMessages>
        Calculating Savings for {!Recommendation__c.Name}
    </div>
</apex:page>