<apex:page standardController="Energy_Assessment__c" extensions="dsmtNewProjectEnergyAssessmentController" standardStylesheets="false" sidebar="false" showHeader="true">
    <head>
        <c:dsmtJqxGridLibrary />
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" type="text/css" rel="stylesheet" media="all" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
        
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        <c:dsmtMSIIUIComponent />
    </head>

    <body>
        <apex:form id="frm" style="background:white;font-family:Arial; font-size:12px;">
            <apex:pageMessages ></apex:pageMessages>
            
            <apex:actionFunction name="callSaveRecords" action="{!saveRecords}" reRender="frm" status="actionStatusLoader"/>
            <apex:actionFunction name="addNewProject" action="{!addNewRecord}" reRender="dataPanel" status="actionStatusLoader"/>
            
            <apex:actionStatus id="actionStatusLoader">
                <apex:facet name="start">
                    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                    <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                        <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <div class="row">
                
                <!-- Review Details Section -->
                <div class="col-md-12">
                   <div class="genarel-box">
                        <header class="header">
                            <span class="hdr-spn">Add Special Incentive</span>
                            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="window.location.href = '/{!$CurrentPage.parameters.id}';">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary pull-right continue-bt" onclick="callSaveRecords();">
                                <i class="glyphicon glyphicon-floppy-disk" style="top: 3px;"></i>
                                Save
                            </button>
                        </header>
                    </div>
                </div>
                <!-- End Review Details Section -->
                
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="genarel-box2" style="margin: 10px 0px 0 0px;">
                            <h5>
                                <span style="float: left; margin-top: 5px; font-size: 18px; font-weight: normal;">
                                    Energy Assessment Projects
                                </span>
                                
                                <button type="button" class="btn btn-primary pull-right continue-bt" onclick="addNewProject();" style="background: #80a5b1; color: #fff; padding-bottom: 2px;">
                                    Add New
                                </button>
                            </h5>
                            <div class="form-inline">
                                <apex:outputPanel id="dataPanel">
                                    <table class="table table-striped" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="width: 300px;">Project</th>
                                                <th>Special Incentive</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <apex:repeat value="{!peaList}" var="r">
                                                <tr>
                                                    <td>
                                                        <apex:selectList value="{!r.Project__c}" style="height: 28px;" size="1">
                                                            <apex:selectOptions value="{!projectSOList}"></apex:selectOptions>
                                                        </apex:selectList>
                                                    </td>
                                                    <td><apex:inputField value="{!r.Special_Incentive__c}" style="width: 350px;"/></td>
                                                </tr>
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                </apex:outputPanel>
                            </div>  
                        </div>
                    </div>    
                </div>
            </div>
        </apex:form>
    </body> 
    <script>
        
        $(document).ready(function(){
        });
    </script>   
</apex:page>