<apex:page standardStylesheets="false" docType="html-5.0" showHeader="false" sidebar="false" applyBodyTag="false" controller="dsmtEligibilityCheckController">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
   
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Mass Save - Self Scheduling</title>
    
        <!-- Bootstrap -->
        <link href="{!URLFOR($Resource.dsmtSelfScheduling, 'css/bootstrap.min.css')}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link href="{!URLFOR($Resource.dsmtSelfScheduling, 'css/style.css')}" rel="stylesheet"/>
        <link href="{!URLFOR($Resource.dsmtSelfScheduling, 'css/responsive.css')}" rel="stylesheet"/>
    
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://use.fontawesome.com/8766598729.js"></script>
        
        <style>
            .form_row {
                margin-bottom: 15px;
            }
            
            .rcul{
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                background: #fff;
                width: 35%;
                top: 42px;
                border: 1px solid #ddd;
                border-radius: 2px;
                box-shadow: 0 2px 2px #ccc;
                left: 60%;
                display:none;
            }
            
            .rcul li
            {
                margin: 0;
                padding: 6px 15px;
            }
            
            .rcul li:hover
            {
                background: #f8f8f8;
                cursor: pointer;
            }
            
            .form-control-error {
                border: 2px solid #a94442 !important;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
            }
            
            .errorspn{
                float: left;
                width: 100%;
                color: #a94442 !important;
                font-size: 12px;
            }
            
            .link{
                float: right !important;
                font-size: 13px !important;
                color: #64b006 !important;
                cursor: pointer !important;
                margin-top: 5px !important;
            }
            
            .show_next_options {
                color: #64b006;
                font-weight: bold;
                padding-left: 25px;
                cursor: pointer;
            }
            
            .ecaList{
                display:none;
            }
            
            .ecaList0{
                display:block;
            }
            
            .radio input[type="radio"] {
                cursor: pointer;
                opacity: 0;
                z-index: 1;
                outline: none !important;
            }
            .radio label {
                display: inline-block;
                padding-left: 5px;
                position: relative;
                font-family: "Noto Sans", sans-serif;
                font-weight: normal;
            }
            .radio-success input[type="radio"]:checked + label::before {
                border-color: #4fc55b;
            }
            .radio label::before {
                -o-transition: border 0.5s ease-in-out;
                -webkit-transition: border 0.5s ease-in-out;
                background-color: #ffffff;
                border-radius: 50%;
                border: 1px solid gainsboro;
                content: "";
                display: inline-block;
                height: 17px;
                left: 0;
                outline: none !important;
                position: absolute;
                transition: border 0.5s ease-in-out;
                width: 17px;
            }
            .radio label::after {
                -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -ms-transform: scale(0, 0);
                -o-transform: scale(0, 0);
                -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -webkit-transform: scale(0, 0);
                -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                background-color: #7a7d84;
                border-radius: 50%;
                content: " ";
                display: inline-block;
                height: 11px;
                left: 3px;
                position: absolute;
                top: 3px;
                transform: scale(0, 0);
                transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                width: 11px;
            }
            .radio-success input[type="radio"] + label::after {
                background-color: #4fc55b;
            }
            .radio input[type="radio"]:checked + label::after {
                -ms-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
            .radio-success input[type="radio"]:checked + label::after {
                background-color: #4fc55b;
            }
            
            .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
                position: absolute;
                margin-top: 4px\9;
            }
            
            .radio {
                position: relative;
                display: block;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 10px;
            }
            
            .radio label {
                padding-left: 30px;
                font-family: 'Roboto', sans-serif;
            }
            
            section.section_top {
                padding-top: 10px;
                padding-bottom: 15px;
                border-bottom: 5px solid #64b006;
            }
            
            section.section_grey {
                background: #f2f2f2;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            
            section.white_descrtiptions {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            
            .footer {
                background: #fff;
            }
            .letBtn{border-radius:0 !important;}
            
            .schedule{
                display: none;
            }
            
            .schedule1,.schedule2,.schedule3,.schedule4,.schedule5{
                display: block;
            }
            
            .dateFormat{
                display: none;
            }
            .step2_form_desc h5, .step3_form_desc h5{padding-top: 10px;}
        </style>
        
        <script>
            var customerId, zipcode;
            var chkValidate = true;
            var isLandloard;
            var apcount = 5;
            
            function showNextOption(){
                jQuery('.schedule').hide();
                
                jQuery('.schedule').hide();
                
                for(var i = (apcount+1); i <= (apcount+5); i++){
                    jQuery('.schedule'+i).show();
                }
                
                var cnt = jQuery('.schedule').length;
                apcount = apcount + 5;
                if(apcount > cnt)
                    apcount = 5;
            }
            
            function setChkValue(vl){
                jQuery('[id$="scheduleInput"]').val(vl);
            }
            
            function goWithNonFlow(isLandlord){
                if(isLandlord){
                    startElg('step2', 'step3');
                    jQuery('.landlord').show();
                }else{
                    startElg('step2', 'step5');
                    jQuery('.landlord').hide();
                }
            }
            
            var stepArray = [];
            stepArray['step1'] = 'Landlord Check';
            stepArray['step2'] = 'Gas/Electric';
            stepArray['step3'] = 'Home Check';
            stepArray['step4'] = 'Apartments Check';
            stepArray['stepError'] = 'Eligibility Fail';
            stepArray['step5'] = 'Time Slot';
            stepArray['step6'] = 'Finish';
            
            function startElg(hideDv, showDv){
                
                jQuery('.step1zip').text(jQuery('.zipcode').val());
                if(hideDv == 'step1' && showDv == 'cSearch')
                    jQuery('.txt').val('');
                //alert(jQuery('input[name=time]:checked').prop('lbl'));
                jQuery('#time').text(jQuery('input[name=time]:checked').attr('lbl'));
                
                if(!validateApexForm() && chkValidate)
                    return false;
                
                jQuery('#'+hideDv).hide();
                jQuery('#'+showDv).fadeIn();
                jQuery('#'+hideDv+'Footer').hide();
                jQuery('#'+showDv+'Footer').fadeIn();
                
                if(showDv == 'cSearch')
                    jQuery('#searchmodal').html('Customer Search');
                else{
                    var htm = '';
                    jQuery('.modalstep').each(function(){
                        var id = jQuery(this).attr('id');
                        
                        if(isLandloard && id != 'step3')
                            htm += '<span>' + stepArray[id] + '</span>' + ' > ';
                            
                        if(!isLandloard && id != 'step4')
                            htm += '<span>' + stepArray[id] + '</span>' + ' > ';
                            
                        if(jQuery(this).is(':visible'))
                            return false;
                    });
                    jQuery('#searchmodal').html(htm);
                }
            }
            
            
            var eleCheckId = '';
            
            function enableFields(){
                dsmtEligibilityCheckController.getContractors(function(res){
                    if(res){
                        var htm = '';
                        for(var i=0; i < res.length; i++){
                            htm += '<li id="'+res[i].Id+'" onclick="addValue(this);">'+res[i].Name+'</li>';
                        }
                        jQuery('.rcul').html(htm);
                    }
                });
                
                dsmtEligibilityCheckController.LetsGo(jQuery('.thermostat').prop('checked'), 
                                                      jQuery('.assessment').prop('checked'), 
                                                      function(res){
                    if(res){
                        console.log(res);
                        eleCheckId = res;
                    }
                });
            }
            
            function showCustomerFields(){
                jQuery('[id$="op_searchResults"]').hide();
                jQuery('#cnfFields').show();
            }
            
            function chkYesNo(val, cls, cval){
                if(val == cval){
                    jQuery('.'+cls).show();
                }else{
                    jQuery('.'+cls).hide();
                    jQuery('.'+cls).val('');
                }
                
                showHideOp();
            }
            
            function showHideOp(){
                var vl = jQuery('[id$="units"]').val();
                if(vl.indexOf('units') != -1){
                    jQuery('[id$="own"]').find('option').hide();
                    if(vl == '5+ units'){
                        jQuery('[id$="own"]').find('option').show();
                    }else{
                        vl = parseInt(vl.replace(' units'));
                        jQuery('[id$="own"] option[value=""]').show();
                        for(var i=1; i <= vl; i++){
                            jQuery('[id$="own"] option[value="'+i+'"]').show();
                        }
                    }
                    jQuery('[id$="own"]').val('');

                    if(jQuery('[id$="rent"]').val() == 'Own')
                        jQuery('.own').show();
                }else if(vl == 'Single family'){
                    jQuery('.own').hide();
                    jQuery('[id$="own"]').val('1');
                    jQuery('[id$="own"] option[value=""]').show();
                    jQuery('[id$="own"] option[value="1"]').show();
                    jQuery('[id$="own"] option[value="2"],[id$="own"] option[value="3"],[id$="own"] option[value="4"],[id$="own"] option[value="5+"]').hide();
                }else{
                    jQuery('.own').hide();
                    jQuery('[id$="own"]').val('');
                    jQuery('[id$="own"] option[value=""]').show();
                    jQuery('[id$="own"] option[value="1"],[id$="own"] option[value="2"],[id$="own"] option[value="3"],[id$="own"] option[value="4"],[id$="own"] option[value="5+"]').hide();
                }
            }
            
            function checkTAC(val)
            {
                if(val.trim().length == 0){
                    jQuery('.rcul').hide();
                }else{
                    jQuery('.rcul').show();
                    jQuery('.rcul li').each(function(){
                        if(jQuery(this).text().toLowerCase().indexOf(val.toLowerCase()) != -1){
                            jQuery(this).show();
                        }else{
                            jQuery(this).hide();
                        }
                    });
                }
            }
            
            function addValue(t)
            {
                jQuery('[id$="referringContractor"]').val(jQuery(t).text());
                jQuery('.rcul').hide();
            }
            
            function applyGAS(){
                isLandloard = true;
               // var fuel = jQuery('.fuel').val();
                jQuery('.geBlock').hide();
                
                var zipcode = jQuery('.zipcode').val();
                var pcode = jQuery('.pcode').val();
                var fuel = jQuery('.fuel').val();
                var unit = jQuery('.unit').val();
                var condo = jQuery('.condo').val();
                
                var fname = jQuery('.fname1').val();
                var lname = jQuery('.lname1').val();
                var emal = jQuery('.emal1').val();
                var phn = jQuery('.phn1').val();
                var iswifi = jQuery('.thermostat').prop('checked');
                var isHEA = jQuery('.assessment').prop('checked');
                var rent = jQuery('.rent').val();
                
               
                dsmtEligibilityCheckController.checkZipEligibility(zipcode, fuel,rent, unit, condo, iswifi,isHEA, function(res){
                
                                        if(res  == 'ValidGas'){
                                            jQuery('.gasBlock').show();
                                            jQuery('.elecBlock').hide();
                                        }
                                        if(res == 'ValidElec'){
                                            jQuery('.elecBlock').show();
                                            jQuery('.gasBlock').hide();
                                        }
                                         if(res == 'ValidCombo'){
                                            jQuery('.gasBlock').show();
                                            jQuery('.elecBlock').show();
                                         }
                                         });
                
            }
            
             function validatePhn(obj, phone){
                    $(this).closest('.field-control').find('.errorspn').remove();
                    $(this).removeClass('form-control-error');                    

                if(phone.trim().length > 0){
                    if(phone.trim().length == 5){
                   
                    }else{
                       // alert('--called--');
                         $(this).addClass('form-control-error');
                         $(this).closest('.field-control').append('<span class="errorspn">Please enter 5 digit zip code.</span>');
                    }
                }
             }
             
             
             
             function validatePhone(phone){
                 
                if( phone.trim().length != 5)
                {
                    return false;
                }
                return true;
            }
            
            
            function saveRecord(){
                updateRecord(eleCheckId);
            }
            
            function getAppt(){
                getAppt1(eleCheckId);
            }
            
            function checkGEUtility()
            {
                
                if(!validateApexForm() && chkValidate)
                    return false;
                
                updateRecord(eleCheckId);
                
                var zipcode = jQuery('.zipcode').val();
                var pcode = jQuery('.pcode').val();
                var fuel = jQuery('.fuel').val();
                var unit = jQuery('.unit').val();
                var condo = jQuery('.condo').val();
                
                var fname = jQuery('.fname1').val();
                var lname = jQuery('.lname1').val();
                var emal = jQuery('.emal1').val();
                var phn = jQuery('.phn1').val();
                var iswifi = jQuery('.thermostat').prop('checked');
                var isHEA = jQuery('.assessment').prop('checked');
                var rent = jQuery('.rent').val();
                
               /* dsmtEligibilityCheckController.CheckCustomer(fname, lname, emal, zipcode, phn, function(res){
                    if(res){
                        customerId = res;
                    }
                });*/
                
                dsmtEligibilityCheckController.checkZipEligibility(zipcode, fuel,rent, unit, condo, iswifi,isHEA, function(res){
                    if(res){
                        var c = jQuery('.doYouOwnCount').val();
                        
                        
                        if(res == 'ValidCombo' || res == 'ValidGas' || res == 'ValidElec'){
                            if(c == 'Single family'){
                                dsmtEligibilityCheckController.GetCity(zipcode,function (res1){
                                    jQuery('[id$="serCity"]').val(res1);
                                });
                                startElg('step1', 'step2');
                            }
                            else if(c.indexOf('units') != -1){
                                var units = jQuery('[id$="own"]').val();
                               // var units = c.replace(' units');
                                callApartments(parseInt(units),eleCheckId);
                            }
                        }else{
                            updateRecordmsg(eleCheckId,res);
                            jQuery('#step1').hide();
                            jQuery('#step1Footer').hide();
                            jQuery('#errorDiv').html(res);
                            startElg('step1', 'stepError');
                        }   
                        
                        jQuery('.geBlock').hide();
                        if(res  == 'ValidGas'){
                            jQuery('.gasBlock').show();
                            jQuery('.elecBlock').hide();
                        }
                        if(res == 'ValidElec'){
                            jQuery('.elecBlock').show();
                            jQuery('.gasBlock').hide();
                        }
                         if(res == 'ValidCombo'){
                            jQuery('.gasBlock').show();
                            jQuery('.elecBlock').show();
                         }      
                         if(c == 'Single family'){
                             jQuery('.landlord').hide();
                         } else{
                             jQuery('.landlord').show();
                         }  
                        /*jQuery('.geBlock').hide();
                        if(res.isGasChecked)
                            jQuery('.gasBlock').show();
                        
                        if(res.isElectricChecked)
                            jQuery('.elecBlock').show();
                        
                        isLandloard = res.isLandloard;    
                        if(res.isLandloard)
                            jQuery('.landlord').show();
                        else
                            jQuery('.landlord').hide();*/
                        
                    }
                });
            }
            
            function copyGasContactData(obj,fname,lname){
                dsmtEligibilityCheckController.getContactValues(eleCheckId, function(res){
                    if(res){
                        console.log(res);
                        jQuery('.'+fname).val(res.First_Name__c);
                        jQuery('.'+lname).val(res.Last_Name__c);
                    }
                });
            }
            
            function copyElectricContactData(obj,fname,lname){
                dsmtEligibilityCheckController.getContactValues(eleCheckId, function(res){
                    if(res){
                        console.log(res);
                        jQuery('.'+fname).val(res.First_Name__c);
                        jQuery('.'+lname).val(res.Last_Name__c);
                    }
                });
            }
            
            function goWithFlow(){
                
                updateRecord(eleCheckId);
                
                var c = jQuery('.gasAcct').val();
                
                if(c == null || c == ''){
                    c = jQuery('.elecAcct').val();
                    c = 'Electric-'+c;
                }else{
                    c = 'Gas-'+c;
                    if(jQuery('.elecAcct').val() != null && jQuery('.elecAcct').val() != ''){
                        c = c + '~~~' + 'Electric-'+ jQuery('.elecAcct').val();  
                    }
                }
                
                var Address = jQuery('.serAddress').val();
                
                var zipcode = jQuery('.zipcode').val();
                
                dsmtEligibilityCheckController.AccountCheck(c,Address,zipcode,eleCheckId, function(res){
                    if(res != 'Valid'){
                    updateRecordmsg(eleCheckId,res);
                    jQuery('#errorDiv').html(res);
                    startElg('step1', 'stepError');
                    jQuery('#step2').hide();
                    }
                
                
                if(res == 'Valid'){
                    c = jQuery('.gasAcct').val();
                    var fName = jQuery('.gasAccFirstname').val();
                    var lName = jQuery('.gasAccLastname').val();
                    
                    if(c!= null && c!= ''){
                        dsmtEligibilityCheckController.CheckCustomer(c,'Gas',fName,lName, function(res1){
                        if(res1){
                            customerId = res1;
                        }
                        });
                    }
                    
                    c = jQuery('.elecAcct').val();
                    fName = jQuery('.elecAcctFirstName').val();
                    lName = jQuery('.elecAcctLastName').val();
                    
                    if(c!= null && c!= ''){
                        dsmtEligibilityCheckController.CheckCustomer(c,'Electric',fName,lName, function(res1){
                        
                        if(res1){
                        
                            customerId = res1;
                        }
                        });
                    }
                
                /*if(isLandloard){
                    var c = jQuery('.doYouOwnCount').val();
                    if(c == '')
                        c = 1;
                        
                    callApartments(c);
                }else{*/
                    startElg('step2', 'step3');
                //}
                }
                });
            }
            
            function backWithFlow(){
                if(isLandloard){
                    startElg('step4', 'step2');
                }else{
                    startElg('step3', 'step2');
                }
            }
            
            function backWithFlowStep5(){
                if(isLandloard){
                    startElg('step5', 'step4');
                }else{
                    startElg('step5', 'step3');
                }
            }
            
            function itrApartments()
            {
                 if(!validateApexForm() && chkValidate)
                    return false;
                    
                var lstSize = parseInt(jQuery('[id$="ecaListSize"]').val());
                for(var i=0; i < lstSize; i++){
                    var visible = jQuery('.ecaList'+i).is(':visible');
                    if(visible){
                        if((i+1) < lstSize){
                            jQuery('.ecaList'+i).hide();
                            jQuery('.ecaList'+(i+1)).show();
                            upsertCustomerEligibility();
                        }else{
                            //alert('--eleCheckId---'+eleCheckId);
                           // startElg('step4', 'step5');
                            upsertCustomerEligibility();
                            VerifyMultiFamily(eleCheckId);
                        }
                        
                        return false;
                    }
                }
            }
            
            function upsertCustomerEligibility(){
               // alert('--eleCheckId---'+eleCheckId);
                upsertCustomerEligibility1(eleCheckId);
            }
            
            function callMulti(v){
            //    alert(v);
                if(v != '1' && v != '2' && v != '3'){
                    jQuery('#errorDiv').html(v);
                    startElg('step1', 'stepError');
                    jQuery('#step4').hide();
                }else{
                    startElg('step4', 'step5');
                    getAppt();
                }
            }
            
            function backApartments()
            {
                var lstSize = parseInt(jQuery('[id$="ecaListSize"]').val());
                for(var i=0; i < lstSize; i++){
                    var visible = jQuery('.ecaList'+i).is(':visible');
                    if(visible){
                        jQuery('.ecaList'+i).hide();
                        if((i-1) >= 0){
                            jQuery('.ecaList'+(i-1)).show();
                        }else{
                            startElg('step4', 'step1');
                        }
                        
                        return false;
                    }
                }
            }
            
            function sveEligibility(){
                callSveEligibility(customerId);
            }
            
            function CreateAppt(){
                CreateWo(customerId,eleCheckId);
            }
            
            function validateEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            
            function validatePhone(phone){
                phone = phone.split(' ').join('');
                phone = phone.split('(').join('');
                phone = phone.split(')').join('');
                phone = phone.split('-').join('');
                var RE = /^[\d\.\-]+$/;
                if(!RE.test(phone) || phone.trim().length != 10)
                {
                    return false;
                }
                return true;
            }
            
            function initValidations(){
                var focused = false;
                
                jQuery('.required').unbind('change');
                jQuery('.required').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() == ''){
                        if(jQuery(this).is(':visible')){
                            valid = false;
                            jQuery(this).addClass('form-control-error');
                            jQuery(this).closest('.field-control').append('<span class="errorspn">This field is required.</span>');
                        }
                    }
                });
                
                jQuery('.email').unbind('change');
                jQuery('.email').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(!validateEmail(jQuery(this).val())){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Email.</span>');
                            }
                        }
                    }
                });
                
                jQuery('.cellphone').unbind('change');
                jQuery('.cellphone').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');
                    
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(!validatePhone(jQuery(this).val())){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Phone number.</span>');
                            }
                        }
                    }
                });
                
               
                
                jQuery('.zipcode').unbind('change');
                jQuery('.zipcode').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');
                    
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(jQuery(this).val().trim().length < 5){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter 5 digit valid zipcode.</span>');
                            }
                        }
                    }
                });
                
                jQuery('.yearbuilt').unbind('change');
                jQuery('.yearbuilt').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');
                    
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(jQuery(this).val().trim().length != 4 || jQuery(this).val() < 1800 || jQuery(this).val() > 2017){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid year.</span>');
                            }
                        }
                    }
                });
            }
            
            function validateApexForm(){
                var valid = true;
                var rules = [];
                rules["FirstName"] = "required";
                rules["contLName1"] = "required";
                rules["contEmail1"] = "required";
                rules["contFName2"] = "required";
                rules["contLName2"] = "required";
                rules["contEmail2"] = "required";
                
                var messages = [];
                messages["FirstName"] = "Please enter your firstname";
                messages["contLName1"] = "Please enter your lastname";
                messages["contEmail1"] = "Please enter your email";
                messages["contFName2"] = "Please enter your firstname";
                messages["contLName2"] = "Please enter your lastname";
                messages["contEmail2"] = "Please enter your email";
                
                var focused = false;
                for(var prop in rules){
                    var valdtion = rules[prop];
                    if(valdtion == 'required'){
                        var vlObj = jQuery('[id$="'+prop+'"]');
                        if(jQuery(vlObj).val() != undefined){
                            jQuery(vlObj).closest('.field-control').find('.span-error').remove();
                            jQuery(vlObj).closest('.field-control').find('.errorspn').remove();
                            if(jQuery(vlObj).val().trim() == ''){
                                valid = false;
                                jQuery(vlObj).addClass('form-control-error');
                                jQuery(vlObj).closest('.field-control').append('<span class="errorspn">'+messages[prop]+'</span>');
                            }else{
                                jQuery(vlObj).removeClass('form-control-error');
                            }
                        }
                    }
                }
                
                jQuery('.required').each(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() == ''){
                        if(jQuery(this).is(':visible')){
                            valid = false;
                            jQuery(this).addClass('form-control-error');
                            jQuery(this).closest('.field-control').append('<span class="errorspn">This field is required.</span>');
                        }
                    }
                });
                
                if(valid){
                    jQuery('.email').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');                    
                            
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(!validateEmail(jQuery(this).val())){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Email.</span>');
                                }
                            }
                        }
                    });
                }
                
                if(valid){
                    jQuery('.cellphone').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');
                        
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(!validatePhone(jQuery(this).val())){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Phone number.</span>');
                                }
                            }
                        }
                    });
                }
                
                if(valid){
                    jQuery('.zipcode').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');
                        
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(jQuery(this).val().trim().length < 5){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter 5 digit valid zipcode.</span>');
                                }
                            }
                        }
                    });
                }
                
                initValidations();
                
                return valid;
            }
            
            function chkCheckbox(chkd, cls){
                jQuery('.'+cls).prop('checked', chkd);
            }
            
            function validateZip(obj, vl){
                if(vl.length < 5){
                    jQuery(obj).closest('.field-control').find('.span-error').remove();
                    jQuery(obj).closest('.field-control').find('.errorspn').remove();
                    jQuery(obj).removeClass('form-control-error');                    
                        
                    valid = false;
                    jQuery(obj).addClass('form-control-error');
                    jQuery(obj).closest('.field-control').append('<span class="errorspn">Please enter 5 digit zipcode.</span>');
                }
            }
        </script>
    </head>
    
    <body>
        <header>
            <div class="header_nav">
                <div class="container">
                    <a class="navbar-brand">
                        <img src="{!URLFOR($Resource.dsmtSelfScheduling, 'img/logo.jpg')}"/>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" onclick="openNav()">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div id="menu_top" class="menu_top pull-right">
                        <ul class="nav nav-pills nav-mass-save">
                            <li class="active"><a href="#">My Account</a></li>
                            <li><a href="#">Outages</a></li>
                            <li><a href="#">Ways To Save</a></li>
                            <li><a href="#">Smart Energy</a> </li>
                            <li><a href="#">Safety &amp; Community</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>
    
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <li class="active"><a href="#"><i class="fa fa-user"></i> My Account</a></li>
            <li>
                <a href="#"> <i class="fa fa-bolt"></i> Outages</a>
            </li>
            <li>
                <a href="#"> <i class="fa  fa-database"> </i> Ways To Save</a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-lightbulb-o"> </i> Smart Energy</a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-street-view"> </i> Safety &amp; Community</a>
            </li>
        </div>
        
        <apex:form >
            <apex:actionFunction name="callApartments" action="{!getApartmentList}" status="status" reRender="apartmentPanel" oncomplete="applyGAS(); startElg('step1', 'step4');">
                <apex:param name="argcallListLineItemIdeerere" value="" assignTo="{!numberOfApartment}"/>
                <apex:param name="eleCheckId" value="" assignTo="{!eleCheckId}"/>
            </apex:actionFunction>
            
            <apex:actionFunction name="getAppt1" action="{!getAppt}" status="status2" reRender="AppointmentSec">
            <apex:param name="eleCheckId" value="" assignTo="{!eleCheckId}"/>
            </apex:actionFunction>  
            
            <apex:actionFunction name="updateRecord" action="{!updateRecord}" reRender="dummy">
                <apex:param name="eleCheckId" value="" assignTo="{!eleCheckId}"/>
            </apex:actionFunction>   
            
            <apex:actionFunction name="updateRecordmsg" action="{!EligibilityFaliRecord}" reRender="dummy">
                <apex:param name="eleCheckId" value="" assignTo="{!eleCheckId}"/>
                <apex:param name="ErrorMsg" value="" assignTo="{!ErrorMsg}"/>
            </apex:actionFunction> 
            
            <apex:actionFunction name="upsertCustomerEligibility1" action="{!upsertCustomerEligibility}" reRender="dummy">
                <apex:param name="eleCheckId" value="" assignTo="{!eleCheckId}"/>
            </apex:actionFunction> 
            
            <apex:actionFunction name="VerifyMultiFamily" action="{!VerifyMultiFamily}" oncomplete="callMulti('{!multiFamilyResult}');" status="status" reRender="dummy">
            <apex:param name="sf1" value="" assignTo="{!eleCheckId}"/>
            </apex:actionFunction>
            
            
            <apex:outputPanel id="dummy">
            
            </apex:outputPanel>
                            
            <apex:actionFunction name="CreateWo" action="{!CreateWorkOrder}" status="status" oncomplete="startElg('step5', 'step6');">
                <apex:param assignTo="{!customerId}" name="sf" value=""/>
                <apex:param assignTo="{!eleCheckId}" name="sf1" value=""/>
            </apex:actionFunction>
                        
            <apex:actionStatus id="status">
                <apex:facet name="start">
                    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                    <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                        <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                        <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <apex:actionStatus id="status2">
                <apex:facet name="start">
                    <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                    <div style="top: 40%;padding: 10px;left: 30%;  width: 40%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                        <img src="/img/loading24.gif" style="margin-top: 10px;vertical-align:middle;float:left;"/>
                        <span style="width:85%; float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">
                            Generating Appointment Recommendations and will display a list of available appointments - most cost effective
                        </span>
                    </div>
                </apex:facet>
            </apex:actionStatus>
                
            <div id="cSearch">
                <section class="section_top">
                    <div class="container">
                        <h2>Welcome to Mass Save!</h2>
                        <p>Eversource and National Grid customers can use this tool to schedule their own
                            no-cost home energy assessment. <br/> These assessments are availble to most
                            customers who reside in a single family home or 2-4 unit building.
                        </p>
                    </div>
                </section>
            
                <section class="section_grey">
                    <div class="container">
                        <p class="plz_select_title"> <b>Please select all that apply</b> </p>
                        <div class="text-left">
                            <div class="row form_row">
                                <div class="squaredFour">
                                    <input type="checkbox" value="None"  id="Chk_noIDontLike" name="check" onchange="chkCheckbox(this.checked, 'assessment');"/>
                                    <label for="Chk_noIDontLike"></label>
                                </div>
                                I&#39;d like a no-cost home energy assessment.
                                <div class="clearfix"></div>
                                <apex:inputCheckbox style="display:none;" styleClass="assessment" value="{!custInteraction.No_cost_home_energy_assessment__c}"/>
                            </div>
        
                            <div class="row form_row">
                                <div class="squaredFour">
                                    <input type="checkbox" value="None" id="Chk_YesIlikeIt" name="check" onchange="chkCheckbox(this.checked, 'thermostat');"/>
                                    <label for="Chk_YesIlikeIt"></label>
                                </div>
                                I&#39;d like to purchase a discounted smart thermostat and have it installed at no cost.
                                <div class="clearfix"></div>
                                <apex:inputCheckbox style="display:none;" styleClass="thermostat" value="{!custInteraction.Purchase_a_discounted_smart_thermostat__c}"/>
                            </div>
                            <input type="button" class="btn btn_next letBtn" value="Let's Go" onclick="enableFields(); startElg('cSearch', 'step1');"/>
                        </div>
                    </div>
                </section>
            
                <section class="white_descrtiptions">
                    <div class="container">
                        <ul class="green_bullet_list">
                            <li> If you need to change an already scheduled appointment, please call us at 877-475-1635.
                                </li>
                            <li> Mass Save customers not served by Eversource or National Grid can schedule an
                                assessment by calling 866-527-SAVE (7283). </li>
                        </ul>
                    </div>
                </section>
            </div>
            
            <div id="step1" style="display:none;">
                <section class="section_top">
                    <div class="container">
                        <h2>Great! Let&#39;s make sure you are eligible.</h2>
                    </div>
                </section>
                
                <section class="section_grey">
                    <div class="container">
                        <div class="row">
                            <div class="col_20 field-control">
                                <label>First Name<span style="color: #a21717;margin: 2px;">*</span></label>
                                <apex:inputText html-placeholder="Write Here" styleClass="ms_form_control required fname1" value="{!custInteraction.First_Name__c}" required="false"/>
                            </div>
                            <div class="col_20 field-control">
                                <label>Last Name<span style="color: #a21717;margin: 2px;">*</span></label>
                                <apex:inputText html-placeholder="Write Here" styleClass="ms_form_control required lname1" value="{!custInteraction.Last_Name__c}" required="false"/>
                            </div>
                            <div class="col_30 field-control">
                                <label>Email<span style="color: #a21717;margin: 2px;">*</span></label>
                                <apex:inputText html-placeholder="Write Here" styleClass="ms_form_control required email emal1" value="{!custInteraction.Email__c}" required="false"/>
                            </div>
                            <div class="col_20 field-control">
                                <label>Phone<span style="color: #a21717;margin: 2px;">*</span></label>
                                <apex:inputText html-placeholder="Write Here" styleClass="ms_form_control required cellphone phn1" value="{!custInteraction.Phone__c}" required="false"/>
                            </div>
                            <div class="col_10 field-control">
                                <label>ZIP<span style="color: #a21717;margin: 2px;">*</span></label>
                                <apex:inputText onchange="validateZip(this, this.value);" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="5" html-placeholder="Write Here" styleClass="ms_form_control required zipcode" value="{!custInteraction.Zip__c}" required="false"/> 
                            </div>
                        </div>
                    </div>
                </section>
            
                <section class="white_descrtiptions steps step1_form_desc">
                    <div class="field_row">
                        <div class="container">
                            <div class="col-sm-6 main_question_field">
                                <div class="field_label">
                                    Do you heat with natural gas?<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField styleClass="ms_form_control small wide required fuel" onchange="chkYesNo(this.value, 'hhw', 'No');" value="{!custInteraction.Do_you_heat_with_natural_Gas__c}" required="false"/>
                                </div>
                            </div>
                            <div class="col-sm-6 supporting_field hhw" style="display:none;">
                                <div class="field_label">
                                    I heat my home with<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField styleClass="ms_form_control small wide hhw required" value="{!custInteraction.I_heat_my_home_with__c}" required="false"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="field_row">
                        <div class="container">
                            <div class="col-sm-6 main_question_field">
                                <div class="field_label">
                                    My home is part of condo association or apartment complex.<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField styleClass="ms_form_control small wide required condo" value="{!custInteraction.Condo_association_or_Apartment_complex__c}" required="false"/>
                                </div>
                            </div>
                            <div class="col-sm-6 supporting_field">
                                <div class="field_label">
                                    How many units?<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField id="units" onchange="showHideOp();" styleClass="ms_form_control small wide required doYouOwnCount unit" value="{!custInteraction.How_many_units__c}" required="false"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="field_row">
                        <div class="container">
                            <div class="col-sm-6 main_question_field">
                                <div class="field_label">
                                    Do you own or rent?<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField id="rent" styleClass="ms_form_control small wide required rent" onchange="chkYesNo(this.value, 'oor', 'Own');" value="{!custInteraction.Do_you_own_or_rent__c}" required="false"/>
                                </div>
                            </div>
                            <div class="col-sm-6 supporting_field oor own" style="display:none;">
                                <div class="field_label">
                                    How many do you own?<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField id="own" styleClass="ms_form_control small wide oor required" value="{!custInteraction.How_many_do_you_own__c}" required="false"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="field_row oor" style="display:none;">
                        <div class="container">
                            <div class="col-sm-6 main_question_field oor" style="display:none;">
                                <div class="field_label">
                                    Do you live there?<span style="color: #a21717;margin: 2px;">*</span>
                                </div>
                                <div class="field field-control">
                                    <apex:inputField styleClass="ms_form_control small wide oor required" value="{!custInteraction.Do_you_live_there__c}" required="false"/>
                                </div>
                            </div>
            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="field_row">
                        <div class="container">
                            <div class="col-sm-6 main_question_field">
                                <div class="field_label">
                                    How did you hear about this program?
                                </div>
                                <div class="field">
                                    <apex:inputField styleClass="ms_form_control" onchange="chkYesNo(this.value, 'rc', 'Contractor');" value="{!custInteraction.How_did_you_hear_about_this_program__c}" required="false"/>
                                </div>
                            </div>
                            <div class="col-sm-6 supporting_field rc" style="display:none;">
                                <div class="field_label">
                                    Referring Contractor
                                </div>
                                <div class="field">
                                    <apex:inputText id="referringContractor" onkeyup="checkTAC(this.value);" styleClass="ms_form_control rc" required="false"/>
                                    <apex:inputHidden id="referringContractorId" value="{!custInteraction.Trade_Ally_Account__c}"/>
                                    <ul class="rcul">
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="field_row">
                        <div class="container">
                            <div class="col-sm-6 main_question_field">
                                <div class="field_label">
                                    Promo Code
                                </div>
                                <div class="field">
                                    <apex:inputField html-placeholder="Write Here" styleClass="ms_form_control pcode" value="{!custInteraction.Promo_Code__c}" required="false"/>
                                </div>
                            </div>
            
                            <div class="clearfix"></div>
                        </div>
                    </div>
            
                </section>
            
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class="btn go_back pull-left" onclick="chkValidate = false; startElg('step1', 'cSearch');"> Back  </a>
                        <div class="line_seprator">
            
                        </div>
                        <a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="chkValidate = true; checkGEUtility();"> Continue <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </section>
            </div>
            
            <div id="step2" style="display:none;">
                <section class="section_top">
                    <div class="container">
                        <h2>Great! Let&#39;s make sure you are eligible.</h2>
                    </div>
                </section>
                
                <section class="white_descrtiptions steps step2_form_desc">
                    <div class="container geBlock gasBlock">
                        <h5>Gas Utility
                             <a class="link" onclick="copyGasContactData(this,'gasAccFirstname','gasAccLastname');">Copy information from the previous page</a> 
                        </h5>
                        <div class="row">
                            <div class="col-sm-4 field-control">
                                Gas Utility Account #<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control gasAcct required" html-placeholder="Write Here" value="{!custInteraction.Gas_Account__c}" required="false"/>
                            </div>
                            <div class="col-sm-4 field-control">
                                Account Holder First Name<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control required gasAccFirstname" html-placeholder="Write Here" value="{!custInteraction.Gas_Account_Holder_First_Name__c}" required="false"/>
                            </div>
                            <div class="col-sm-4 field-control">
                                Account Holder Last Name<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control required gasAccLastname" html-placeholder="Write Here" value="{!custInteraction.Gas_Account_Holder_Last_Name__c}" required="false"/>
                            </div>
                            <div class="col-sm-4 field-control landlord">
                                This tenant has electricity but is not the account holder
                                <apex:inputField styleClass="ms_form_control" value="{!custInteraction.Has_Gas_but_not_Account_Holder__c}" required="false"/>
                            </div>
                        </div>
                    </div>
            
                    <div class="container electric_utility geBlock elecBlock">
                        <h5>Electric Utility 
                            <a class="link" onclick="copyElectricContactData(this,'elecAcctFirstName','elecAcctLastName');">Copy information from the previous page</a> 
                        </h5>
                        <div class="row">
                            <div class="col-sm-4 field-control">
                                Electric Utility Account #<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control elecAcct required" html-placeholder="Write Here" value="{!custInteraction.Electric_Account__c}" required="false"/>
                            </div>
                            <div class="col-sm-4 field-control">
                                Account Holder First Name<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control elecAcctFirstName required" html-placeholder="Write Here" value="{!custInteraction.Electric_Account_Holder_First_Name__c}" required="false"/>
                            </div>
                            <div class="col-sm-4 field-control">
                                Account Holder Last Name<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control elecAcctLastName required" html-placeholder="Write Here" value="{!custInteraction.Electric_Account_Holder_Last_Name__c}" required="false"/>
                            </div>
                            <div class="col-sm-4 field-control landlord">
                                This tenant has electricity but is not the account holder
                                <apex:inputField styleClass="ms_form_control" value="{!custInteraction.Has_Electricity_but_not_Account_Holder__c}" required="false"/>
                            </div>
                        </div>
                    </div>
            
                        <div class="container row_address">
                            <h5>Details about your home 
                            </h5>
                            <div class="col-sm-4 field-control" style="padding-left:0px;">
                                Service Address<span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputText styleClass="txt ms_form_control required serAddress" html-placeholder="Write Here" value="{!custInteraction.Service_Address__c}" required="false"/>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-6 field-control">
                                        City<span style="color: #a21717;margin: 2px;">*</span>
                                        <apex:inputText id="serCity" styleClass="txt ms_form_control required serCity" html-placeholder="Write Here" value="{!custInteraction.City__c}" required="false"/>
                                    </div>
            
                                    <div class="col-sm-6">
                                        Zip
                                        <span class="step1zip ms_form_control" style="float:left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </section>
                
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class="btn go_back pull-left" onclick="chkValidate = false; startElg('step2', 'step1');"> Back  </a>
                        <div class="line_seprator">
            
                        </div>
                        <a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="chkValidate = true; goWithFlow();"> Continue <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </section>
            </div>
            
            <div id="stepError" style="display:none;">    
                <section class="section_top">
                    <div class="container">
                        <h2>Eligibility check fail!</h2>
                    </div>
                </section>

                <section class="white_descrtiptions steps step2_form_desc">
                    <div class="container">
                        <p id="errorDiv">
                            
                        </p>
                    </div>
                </section> 
                
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class="btn btn_next pull-left" onclick="window.location.reload();"> Ok </a>
                    </div>
                </section>               
            </div>
            
            <div id="step3" style="display:none;">
                <section class="section_top">
                    <div class="container">
                        <h2>Let’s learn more about your home</h2>
                    </div>
                </section>
                
                <section class="white_descrtiptions steps step3_form_desc">
                    <div class="container">
                        <div class="row row_address">
                            <div class="col-sm-4 field-control">
                                My home is <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!custInteraction.Home_Size__c}" />
                            </div>
                            <div class="col-sm-4 field-control">
                                My home is a <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!custInteraction.Home_Style__c}" />
                            </div>
                            <div class="col-sm-4 field-control">
                                My home was built in <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required yearbuilt" html-placeholder="Write Here" value="{!custInteraction.Year_built_in__c}" />
                            </div>
                        </div>
            
                        <div class="row row_address">
                            <div class="col-sm-4 field-control">
                                My attic have ducts <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!custInteraction.Attic__c}" />
                            </div>
                            <div class="col-sm-4 field-control">
                                My home has thermostats <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!custInteraction.Thermostats__c}" />
                            </div>
                        </div>
                    </div>
                </section>
            
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class="btn go_back pull-left" onclick="chkValidate = false; backWithFlow();"> Back  </a>
                        <div class="line_seprator">
            
                        </div>
                        <a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="apcount = 5; chkValidate = true;saveRecord(); startElg('step3', 'step5');getAppt();"> Continue <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </section>
            </div>
            
            <div id="step4" class="box" style="display:none;">
              
                  
                <section class="section_top">
                    <div class="container">
                        <h2>Let&#39;s learn more about your 1st apartment.</h2>
                    </div>
                </section>
                
                <section class="white_descrtiptions steps step3_form_desc">
                    <div class="container">
                        <apex:outputPanel id="apartmentPanel">
                            <input type="hidden" value="{!ecaList.size}" id="ecaListSize"/>
                            <apex:variable value="{!0}" var="x"/>
                            <apex:repeat value="{!ecaList}" var="e">
                                <div class="ecaList ecaList{!x}">
                                    <div class="container geBlock gasBlock">
                                        <h5>Gas Utility <!--[Unit {!x+1}]-->
                                            <a class="link" onclick="copyGasContactData(this,'fnameGas','lnameGas');">Copy information from the previous page</a>
                                        </h5>
                                        <p style="color: #9d9d9d;font-size: 13px;">Please provide the following details about the gas utility account for this unit.</p>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                Gas Utility Account #
                                                <apex:inputField styleClass="ms_form_control" html-placeholder="Write Here" value="{!e.Gas_Account__c}" required="false"/>
                                            </div>
                                            <div class="col-sm-4">
                                                Account Holder First Name
                                                <apex:inputField styleClass="ms_form_control fname fnameGas" html-placeholder="Write Here" value="{!e.Gas_Account_Holder_First_Name__c}" required="false"/>
                                            </div>
                                            <div class="col-sm-4">
                                                Account Holder Last Name
                                                <apex:inputField styleClass="ms_form_control lname lnameGas" html-placeholder="Write Here" value="{!e.Gas_Account_Holder_Last_Name__c}" required="false"/>
                                            </div>
                                            <!--<div class="col-sm-4 landlord">
                                                This tenant has electricity but is not the account holder.
                                                <apex:inputField styleClass="ms_form_control small wide" value="{!e.Tenant_has_gas_but_not_acct__c}" required="false"/>
                                            </div>-->
                                        </div>
                                    </div>
                                    
                                    <div class="container geBlock elecBlock">  
                                        <h5>Electric Utility <!--[Unit {!x+1}]-->
                                            <a class="link" onclick="copyElectricContactData(this,'fnameElec','lnameElec');">Copy information from the previous page</a>
                                        </h5>
                                        <p style="color: #9d9d9d;font-size: 13px;">Please provide the following details about the electric utility account for this unit.</p>
                                        <div class="row">
                                            <apex:variable value="{!x+1}" var="x"/>
                                            <div class="col-sm-4">
                                                Electric Utility Account #
                                                <apex:inputField styleClass="ms_form_control" html-placeholder="Write Here" value="{!e.Electric_Account__c}" required="false"/>
                                            </div>
                                            <div class="col-sm-4">
                                                Account Holder First Name
                                                <apex:inputField styleClass="ms_form_control fname fnameElec" html-placeholder="Write Here" value="{!e.Electric_Account_Holder_First_Name__c}" required="false"/>
                                            </div>
                                            <div class="col-sm-4">
                                                Account Holder Last Name
                                                <apex:inputField styleClass="ms_form_control lname lnameElec" html-placeholder="Write Here" value="{!e.Electric_Account_Holder_Last_Name__c}" required="false"/>
                                            </div>
                                            <!--<div class="col-sm-4 landlord">
                                                This tenant has electricity but is not the account holder.
                                                <apex:inputField styleClass="ms_form_control small wide" value="{!e.Tenant_has_elec_but_not_acct__c}" required="false"/>
                                            </div>-->
                                        </div>
                                        
                                        <h5>Details about your home
                                        </h5>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                Service Address <span style="color: #a21717;margin: 2px;">*</span>
                                                <apex:inputField styleClass="ms_form_control required" value="{!e.Service_Address__c}" required="false"/>
                                            </div>
                                            <div class="col-sm-4">
                                                City
                                                <apex:inputField styleClass="ms_form_control" value="{!e.City__c}" required="false"/>
                                            </div>
                                            <div class="col-sm-4">
                                                Zip
                                                <span class="step1zip ms_form_control" style="float:left"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                    
                        <div class="row row_address">
                            <div class="col-sm-4 field-control">
                                My home is <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!e.Home_Size__c}" />
                            </div>
                            <div class="col-sm-4 field-control">
                                My home is a <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!e.Home_Style__c}" />
                            </div>
                            <div class="col-sm-4 field-control">
                                My home was built in <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" html-placeholder="Write Here" value="{!e.Year_built_in__c}" />
                            </div>
                        </div>
            
                        <div class="row row_address">
                            <div class="col-sm-4 field-control">
                                My attic have ducts <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!e.Attic__c}" />
                            </div>
                            <div class="col-sm-4 field-control">
                                My home has thermostats <span style="color: #a21717;margin: 2px;">*</span>
                                <apex:inputField styleClass="ms_form_control required" value="{!e.Thermostats__c}" />
                            </div>
                        </div>
                    </div>
                                </div>
                            </apex:repeat>
                        </apex:outputPanel>
                    </div>
                </section>
                
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class="btn go_back pull-left" onclick="chkValidate = false; backApartments();"> Back  </a>
                        <div class="line_seprator">
            
                        </div>
                        <a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="chkValidate = true; itrApartments();"> Continue <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </section>
            </div>
            
            <div id="step5" style="display:none;">
                <section class="section_top">
                    <div class="container">
                        <h2>What&#39;s a good time for us to visit?</h2>
                    </div>
                </section>
                
                <section class="white_descrtiptions steps step2_form_desc">
                    <div class="container">
                        <apex:outputPanel id="AppointmentSec">
                        <apex:outputpanel rendered="{!!isError}">
                        <p class="plz_select_title">
                            <b>Based on your choices, plan for {!TimeHours} for a detailed assessment for your home. Please select the best time for us to visit:</b>
                        </p>
                        </apex:outputpanel>
                        

                            <apex:outputLabel rendered="{!isError}">{!AppterrorMsg}</apex:outputLabel>
                            <apex:variable value="{!1}" var="count"/>
                            <apex:repeat value="{!apptMap}" var="s">
                                <div class="row form_row schedule schedule{!count}">
                                    <apex:variable value="{!count+1}" var="count"/>
                                    <div class="radio radio-success">
                                        <input Onclick="setChkValue(this.value);" value="{!s.value}" id="{!s.value}" lbl="{!s.label}" name="time" type="radio" class="chk" />
                                        <label for="{!s.value}">
                                            {!s.label}
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </apex:repeat>
                            <apex:inputHidden id="scheduleInput" value="{!SelectedWorkTeam}"/>
                            
                            <apex:outputpanel rendered="{!!isError}">
                            
                            <div class="show_next_options" onclick="showNextOption();">
                                Please show me the next five options <i class="fa fa-arrow-right"></i>
                            </div>
                            
                            </apex:outputpanel> 
                            
                            <!--<a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="jQuery('.empBlock').fadeIn();"> Override system recommendations </a>
                            
                            <div class="container empBlock" style="display:none;">  
                                <h5>
                                </h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        Employee
                                        <apex:selectList value="{!Selectedemployee}" styleClass="ms_form_control" size="1">
                                            <apex:selectOptions value="{!employeeOption}"></apex:selectOptions>
                                        </apex:selectList>
                                    </div>
                                    <div class="col-sm-4">
                                        Start Date/Time
                                        <apex:inputField styleClass="ms_form_control" value="{!custInteraction.Start_Date__c}" required="false"/>
                                    </div>
                                    <div class="col-sm-4">
                                        End Date/Time
                                        <apex:inputField styleClass="ms_form_control" value="{!custInteraction.End_Date__c}" required="false"/>
                                    </div>
                                    
                                    <div class="col-sm-12" style="margin-top:10px;">
                                        <a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="getAppt();"> Generate Appointments </a>
                                    </div>
                                </div>
                            </div>-->
                        </apex:outputPanel>
                    </div>
                </section>
                
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class="btn go_back pull-left" onclick="chkValidate = false; backWithFlowStep5();"> Back  </a>
                        <div class="line_seprator">
            
                        </div>
                        <a href="javascript:void(0);" class=" btn btn_next pull-right" onclick="CreateAppt();"> Continue <i class="fa fa-arrow-right"></i> </a>
                    </div>
                </section>
            </div>
            
            <div id="step6" style="display:none;">
                <section class="section_top">
                    <div class="container">
                        <h2>You are all set !</h2>
                    </div>
                </section>

                <section class="white_descrtiptions steps step2_form_desc">
                    <div class="container">
                        <p>
                            We will arrive between <span id="time"></span>. <br/> Please
                            check your email for a confirmation.
                        </p>
                    </div>
                </section>
            
                <section class="buttons">
                    <div class="container" style="margin-bottom: 30px;">
                        <a href="javascript:void(0);" class=" btn btn_next pull-left" onclick="sveEligibility(); jQuery('#search-lead-or-contact-modal').modal('hide');"> Ok </a>
                        <apex:actionFunction name="callSveEligibility" action="{!saveEligibility}" status="status" reRender="erpanel" oncomplete="window.location.reload();">
                            <apex:param assignTo="{!customerId}" name="sf" value=""/>
                        </apex:actionFunction>
                    </div>
                </section>
            </div>
        </apex:form>
            
        <footer class="footer">
            <div class="container">
                © 2017 MassSave.
            </div>
        </footer>
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{!URLFOR($Resource.dsmtSelfScheduling, 'js/bootstrap.min.js')}"></script>
    
        <script>
            function openNav() {
                $("#mySidenav").css('width', '250px');
                $("section, header").css('margin-left', '250px');
                $("section, header, footer").css('width', '100%');
            }
    
            /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
            function closeNav() {
                $("#mySidenav").css('width', '0');
                $("section, header, footer").css('margin-left', '0');
            }
            if ($(document.body).height() < $(window).height()) {
                $('footer').attr('style', 'position: fixed!important; bottom: 0px;');
            }
        </script>
    </body>
</apex:page>