<apex:page id="pg" standardController="Inspection_Request__c" cache="false" extensions="dsmtEnergyAssesmentExceptionsController" standardStylesheets="false" sidebar="false" showHeader="false">
    <head>
        <script src="{!URLFOR($Resource.duke,'duke/js/libs/jquery-1.6.2.min.js')}"></script>

        <!-------- xxxxxxxxxxxxxxxxxxx GRID RESOURCES xxxxxxxxxxxxxxxxxx --------------->
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgrid.css')}"></link>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GridResource,'GridResource/codebase/skins/dhtmlxgrid_dhx_skyblue.css')}"></link>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.dhtmlxGrdpgn,'pgn/dhtmlxgrid_pgn_bricks.css')}"></link>

        <script  src="{!URLFOR($Resource.dhtmlxHF)}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgrid.js')}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/ext/dhtmlxgrid_srnd.js')}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/ext/dhtmlxgrid_filter.js')}"></script>
        <script src="{!URLFOR($Resource.GridResource,'GridResource/codebase/dhtmlxgridcell.js')}"></script>
        <script src="{!URLFOR($Resource.dhtmlxGrdpgn,'pgn/dhtmlxgrid_pgn.js')}"></script>
        <script src="{!URLFOR($Resource.dhtmlxgrid_excell_link)}"></script>

        <style>
            .oddRow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: white;
                width: 16.66%;
                color: #333;
            }
            .evenrow {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: center;
                border-bottom: 1px solid #EEEBEB;
                text-align: center;
                background-color: #F5F5F5;
                width: 16.66%;
                color: #333;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.4em !important;
            }
            #gridbox table.obj td {
                border-right: 1px solid rgb(204, 204, 204);
                font-size:12px;
            }
            .inpTxt {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 28px;
                border-radius: 1px;
                margin-bottom: 10px;
                width: 100%;
                float: left;
            }
            .inpTxt:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            label {
                color: #454F6F !important;
                margin-left: 10px;
                font-size: 12px;
                margin-right: 10px;
                padding-bottom: 14px;
                font-weight: bold;
                float: left;
                margin-top: 7px;
                font-family: Arial;
            }
            .btn-lg {
                padding-top: 0px;
                padding-bottom: 0px;
                font-size: 12px;
                line-height: 0;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                padding: 5px 16px;
                border:none;
            }
            .btn-lg:hover {
                color: #fff;
                text-decoration: none;
                background: #38a3c5;
            }
            .filter input[type="text"] {
                border: 1px Solid #DDDDDD !important;
                background: #F5F5F5;
                height: 26px !important;
                border-radius: 1px;
            }
            .filter input[type="text"]:focus {
                outline: none !important;
                box-shadow: 0 0 15px rgb(195, 195, 195)!important;
                border-radius: 1px;
            }
            .btn-success {
                background: #7EB4CE;
                border-radius: 1px;
                cursor: pointer;
                width: 185px;
                color: #fff;
            }
            .right-align {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }
            select {
                width: 100%;
                height: 28px;
                padding: 4px;
                border: 1px solid #ccc;
            }
            .req {
                border-left: 2px solid red !important;
                border-radius: 5px;
            }
            .dv_load {
                top: 45%;
                margin-left: 40%;
                padding: 15px;
                z-index: 20000;
                position: fixed;
                width: 250px;
                color: #394057;
                background: #D4D4D4;
                border: none;
                padding: 6px 20px;
                border-radius: 2px;
                box-shadow: 0 3px 5px #ddd;
            }
            .dialog {
                background: none repeat scroll 0 0 #FFFFFF;
                border: 1px solid #CCCCCC;
                box-shadow: 0 5px 5px #AAAAAA;
                left: 25%;
                padding: 0;
                position: fixed;
                top: 25%;
                width: 50%;
                z-index: 2;
                display: none;
            }
            .dialog label {
                font-weight: normal !important;
            }
            .dialog-header {
                background: none repeat scroll 0 0 #1797C0;
                box-shadow: 0 2px 2px #1797C0;
                float: left;
                font-weight: bold;
                padding: 10px 1%;
                width: 100%;
                color: white;
            }
            .overlay {
                width: 100%;
                top: 0;
                left: 0;
                background: #222;
                height: 1000px;
                opacity: 0.6;
                z-index: 1;
                position: fixed;
                display: none;
            }
            .rouncorner {
                border-radius: 1px;
            }
            .duke-dropdown table tr td select {
                height: 28px;
                float: left;
                margin-bottom: 10px;
            }
            .a {
                color: rgb(206, 18, 18);
                font-size: 14px;
                text-decoration: none;
                cursor:pointer;
            }
            .a:hover {
                font-size: 14px;
            }
            div.gridbox_light table.row20px tr td {
                padding: 0px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 12px !important;
                color: #414141;
            }
            div.gridbox_light table.obj td {
                border-width: 0px 1px 0px 1px;
                border-left: 1px solid white;
                border-right: 1px solid #D6D6D6;
            }
            div.gridbox table.row20px tr td {
                height: 20px;
                white-space: nowrap;
                padding: 0px;
            }
            div.gridbox_light table.row20px tr td {
                padding-right: 4px;
                padding-left: 4px;
            }
            div.gridbox table.obj td {
                border-bottom: 1px solid #eee;
            }
            a {
                color: #428bca;
                text-decoration: none;
                cursor: pointer;
            }
            .aCss {
                color: #428bca !important;
                text-decoration: none;
            }
            body a:hover {
                color: rgb(206, 18, 18);
                text-decoration: underline;
            }
            div.gridbox_light table.hdr td div.hdrcell {
                font-size: 12px;
            }
            .cover{
                position: fixed;
                top: 10px;
                left: 15%;
                background: #fff;
                z-index: 100;
                width: 70%;
            }
            .DispositionCover{
                float: left;
                width: 25%;
                display: block;
                background: rgb(245, 245, 245);
                position: fixed;
                z-index: 1000;
                left: 38%;
                top: 20%;
            }
        </style>

        <script>
            var currentSelectedRow = '';
            var counter = 0;
            var isAddNewRow = true;
            $(document).ready(function() {
                $('.DispositionCover').hide();
                $('#gridbox').height(430);
                $('#tagridbox').height(250);
                $("#load-status2").hide();
                $('#gridbox table.hdr td').click(function() {
                    $('#gridbox').height(430);
                });
                $('#tagridbox table.hdr td').click(function() {
                    $('#tagridbox').height(255);
                });
            });

            function saveAndContinue() {
                Save_EA();
                $('.cover').fadeOut(500);
                $(".oddRow:first").css('border-top', '1px solid #055A78');
                $('#gridbox').height(430);
            }

            function Save_EA() {
                var ids = '';
                var exMsg = '';
                var outBoundMsg = '';
                exMsg = ($('#popexcpectionMsg').val()); 
                <apex:repeat value="{!lstaddException2}" var="exx" >
                    if (tagrid.cellById('{!exx.Id}', 0).getValue() == 1) {
                        ids += '{!exx.Id}' + ',';
                    } 
                </apex:repeat>

                var strException = $('#popexcpectionMsg').val();
                if(ids !='' || strException.trim() !=''){
                    PopAddExcep(ids,exMsg);
                }
            }
            
            function changeIdOfRow(){
                mygrid.changeRowId(currentSelectedRow,$("#hiddenNewinsertedExpId").val())  ;
            }
           
           function fillExptionTextarea(){
               var outboundMsg = $(".selectForStandardException option:selected").val();
               $("#excpectionMsg").val($("#excpectionMsg").val()+' '+ $(".selectForStandardException option:selected").text()+'\n');
               $("#outboundMsg").val($("#outboundMsg").val()+' '+outboundMsg+'\n');
               $("#tblOutboundMsg tr td:contains('" + outboundMsg+ "')").parent().find('td:first').find('input[type="checkbox"]').prop('checked', true);
           }
           
           function fillOutboundTextarea(outboundmsgId){
               var outboundMessage = '';
               if($("#"+outboundmsgId).is(":checked")){
                   $("#outboundMsg").val($("#outboundMsg").val()+' '+$("#"+outboundmsgId).val()+'\n');
               }else{
                   $("#outboundMsg").val($("#outboundMsg").val().replace($("#"+outboundmsgId).val()+'\n',''));
               }
           }
           
           function formatGrid(){
           }
           
           function reloadGrid(){
               $('#gridbox').height(430);
               $('.sssoooo').val('');
               var hidexceptio;
               if($('#hidHide').val() == true || $('#hidHide').val() == 'true')
               {
                   hidexceptio = true;                
               }
               
               getAllExistingExceptio(hidexceptio);
           }
           
           function saveDisposition(){
               if($('[id$="ddlDisposition"] :selected').val() != ''){
                   var typ = 'disposition';
                   updateGrid($('#hidDispositionID').val(),typ, $('[id$="ddlDisposition"] :selected').val());
               }
               else{
                   $('.DispositionCover').hide();
               }
           }
           
           function reloadAddExpGrid(){
               reloadAddExp();
           }
        </script>
    </head>

    <body>
        <apex:form id="frm" style="background:white;font-family:Arial; font-size:12px;">
            <apex:actionFunction name="updateGrid" action="{!saveExp}" oncomplete="reloadGrid();">
                <apex:param assignTo="{!expId}" name="a1" value="" />
                <apex:param assignTo="{!type}" name="a2" value="" />
                <apex:param assignTo="{!vlu}" name="a3" value="" />
            </apex:actionFunction>

           
            <apex:actionFunction name="getAllExistingExceptio" action="{!getAllExistingExceptions}" status="status" reRender="repeatgrid,expOpnl" oncomplete="fillgrid();">
                <apex:param assignTo="{!HideException}" name="gridhidden" value="" />
            </apex:actionFunction>

            <apex:actionFunction name="hideexp" action="{!falseOverrideExceptions}" status="status" reRender="hideexception"></apex:actionFunction>

            <apex:actionFunction name="reloadAddExp" action="{!getAllNonExistingExceptions}" status="status" reRender="repeatgrid2,taspnl,rrrr" oncomplete="fillGrid2();"></apex:actionFunction>

            <!-- popup -->
            <apex:actionFunction name="PopAddExcep" action="{!saveExceptionPopup}" reRender="expOpnl, chkpnl, msgpnl" status="status" oncomplete="reloadGrid();">
                <apex:param assignTo="{!expTempId}" name="pop" value="" />
                <apex:param assignTo="{!popexpmsg}" name="popexpmsg" value="" />
            </apex:actionFunction>


            <apex:outputPanel id="rrrr">
                <apex:outputPanel rendered="{!ss}" >
                    <div class="cover" id="cover">
                        <div class="popup-container" style="border-radius:6px;border: 4px solid rgb(66, 153, 187);max-width:100%;">
                            <div class="exception-content row">
                                <div style="background-color:#7EB4CE;height:30px; border-top-left-radius:2px; border-top-right-radius:2px">
                                    <div style="float:left;font-size:100%;font-family:Tahoma;color:white;margin-top:4px;margin-left:5px;">
                                        <b>&nbsp;Add New Open Item</b>
                                    </div>
                                    <a href="#" onclick="$('.cover, .overlay').fadeOut(500);">
                                        <span class="icon icon-close pull-right" style="background: #4299BB;border: 1px solid #4299BB;float: right;padding: 2px 5px;color: #fff;">x</span>
                                    </a>
                                </div>
                                <div style="background-color:##7EB4CE;height:10px;"></div>
                                <div>
                                    <apex:outputPanel id="msgpnl">
                                        <apex:pageMessages ></apex:pageMessages>
                                    </apex:outputPanel>
                                    <label style="margin-top:0px;">Add Custom Open Item</label>
                                </div>
                                <div>
                                    <textarea rows="4" class="rouncorner" id="popexcpectionMsg" style="width:98.5%;margin-left:6px;border:1px solid #ccc;"></textarea>
                                </div>
                                <div style="margin-top:10px; overflow-x:auto;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <div id="tagridbox" style="width:99%;margin-left:6px; border:1px solid #DDDDDD; height:250px !important; min-height:250px !important; background-color:white;overflow:hidden;padding:0"></div>
                                                <div id="pagingArea" style="margin-left:10px;"></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <apex:outputPanel id="taspnl">
                                        <script>
                                            tagrid = new dhtmlXGridObject('tagridbox');
                                            tagrid.setImagePath("{!URLFOR($Resource.GridResource,'GridResource/codebase/imgs/')}");
                                            tagrid.setHeader(",#, Open Item Description,Outbound Message,Application Section", null, ["text-align:center;", "text-align:center;", "text-align:center;", "text-align:center;"]);
                                            tagrid.setStyle("font-weight:bold;font-size:12px", "vertical-align:middle;border-right:none;", "vertical-align:middle;", "vertical-align:middle");
                                            tagrid.setInitWidths("35,40,*,*,*");
                                            tagrid.setColAlign("center,center,center,center,center");
                                            tagrid.setColTypes("ch,ro,ed,ed,ed");
                                            tagrid.setColSorting("str,int,str,str,str");
                                            tagrid.enablePaging(true, 5, 5, "pagingArea", true);
                                            tagrid.setPagingSkin("bricks");
                                            tagrid.enableMultiline(true);
                                            tagrid.init();
                                            tagrid.setSkin('light');
                                            tagrid.setStyle("{!$Setup.ColorScheme__c.GridHeader__c}", "", "", "background:#eee;");
                                            tagrid.enableAlterCss("oddRow", "evenrow");
                                            tagrid.attachHeader(",,#text_filter,#text_filter,#text_filter", ["background:white;", "background:white;", "background:white;", "background:white;"]);
                                        </script>

                                        <script>
                                            function fillGrid2() {                                                
                                                $('#tagridbox').width('98%');
                                                tagrid.clearAll();                                               
                                                
                                                <apex:variable value="{!0}" var="i" />
                                                <apex:repeat value="{!lstaddException2}" var="exx" id="repeatgrid2" >
                                                    <apex:variable var="i" value="{!i+1}" />
                                                    tagrid.addRow('{!exx.Id}', ['', '{!i}', '{!JSENCODE(exx.Exception_Message__c)}', '{!JSENCODE(exx.Outbound_Message__c)}','{!exx.Application_Section__c}']);
                                                    $('.cover').fadeIn(500); 
                                                </apex:repeat>
                                                setTimeout(function(){
                                                    document.getElementById('cover').style.display = 'block';
                                                }, 1000);
                                            }
                                        </script>
                                    </apex:outputPanel>
                                </div>

                                <div class="pull-right" style="margin-bottom: 10px;margin-top:10px;margin-right:15px; text-align:right;">
                                    <button onclick="saveAndContinue();return false;" style="width:80px;" class="btn-success btn-lg">Save</button>
                                    <input class="btn-success btn-lg" onclick="$('.cover').hide();" style="width:70px; cursor:pointer;" type="button" value="Cancel"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </apex:outputPanel>
            <!-- End -->

            <!-- Disposition -->
            <div class="DispositionCover">
                <div class="DispositionContainer" style="margin-top:1px !important;border-radius:6px;border: 4px solid rgb(66, 153, 187);">
                    <div style="background-color:#7EB4CE;height:30px; border-top-left-radius:2px; border-top-right-radius:2px">
                        <div style="float:left;font-size:115%;font-family:Tahoma;color:white;font-size: 13px;margin-top: 5px;"><b>&nbsp;Select Disposition</b>
                        </div><a href="#" onclick="$('.DispositionCover').fadeOut(500);$('.sssoooo').val('');">
                            <span class="icon icon-close pull-right" style="font-size: 12px;font-family:Arial;background: #4299BB;color:white;border: 1px solid #4299BB;padding: 2px 5px;float: right;">x</span>
                            </a>
                    </div>
                    <div style="margin-top:10px;margin-left:10px;">
                        <apex:selectList id="ddlDisposition" value="{!selectedStandardExcpetion}" size="1" styleclass="sssoooo req rouncorner" style="width:96%;">
                            <apex:selectOptions value="{!lstDepositionOptions}" />
                        </apex:selectList>
                    </div>
                    <div class="pull-right" style="margin-bottom: 10px;margin-top:13%;margin-right:12px; text-align:right;">
                        <div>
                            <input style="width:80px;" onclick="saveDisposition();" class="btn-success btn-lg" type="button" value="Save"></input>

                            <input class="btn-success btn-lg" onclick="$('.DispositionCover').hide();$('.sssoooo').val('');" style="width:70px; cursor:pointer;" type="button" value="Cancel"></input>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="load-status2" style="background:white;">
                <div class="overlay" style="background:white;"></div>
                <div class="status">
                    <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                    <span>Please wait...</span>
                </div>
            </div>

            <apex:outputPanel id="pnlMsg">
                <apex:pageMessages ></apex:pageMessages>
                <input type="hidden" value="{!newinsertedExpId}" id="hiddenNewinsertedExpId" />
            </apex:outputPanel>
            
            <apex:actionFunction name="save" action="{!save}" status="status" rerender="pnlMsg" oncomplete="changeIdOfRow();">
                <apex:param value="" assignTo="{!savedString}" name="argu1" />
            </apex:actionFunction>
            
            <apex:actionStatus id="status">
                <apex:facet name="start">
                    <div id="load-status">
                        <div style="width: 100%; height:700px; background:rgba(241, 241, 241, 0.5); top:0px; left:0px; position: fixed; z-index:10000"></div>
                        <div class="dv_load">
                            <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>

            <apex:actionFunction name="overrideAllExceptions" action="{!overrideAllExceptions}" reRender="ole" status="status" oncomplete="reloadGrid();"></apex:actionFunction>

            <apex:actionFunction name="AdExceptions" action="{!getAllNonExistingExceptions}" status="status" reRender="taspnl,rrrr" oncomplete="fillGrid2();"></apex:actionFunction>

            <apex:actionFunction name="hideAllExceptions" action="{!getAllExistingExceptions}" status="status" reRender="expOpnl" oncomplete="reloadGrid();">
                <apex:param assignTo="{!HideException}" name="h1" value="" />
            </apex:actionFunction>
            
            <apex:actionStatus id="status3">
                <apex:facet name="start">
                    <div id="load-status3">
                        <div style="width: 100%; height:700px; background:rgba(241, 241, 241, 0.5); top:0px; left:0px; position: fixed; z-index:10000"></div>
                        <div class="dv_load">
                            <img src="{!URLFOR($Resource.loading)}" style="vertical-align:middle;" />
                            <span>Please wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>

            <div style="width:100%; float:left;">
                <div class="col-md-4 col-sm-4 col-xs-12 checkbox-container checkbox rectBG" style="width: 100%;float: left;background: #f5f5f5;border: 1px solid #eee;box-shadow: 0 2px 5px #eee;">
                    <table style="width:100%; float:left;">
                        <tr>
                            <td width="195px">
                                <label>
                                    <apex:outputPanel id="chkpnl">
                                        <apex:inputCheckbox onclick="selAllgrdRows(this, this.checked); return false;" id="ole" disabled="{!isEnable}" value="{!isEnable}"/>Override All Open Items
                                    </apex:outputPanel>
                                </label>
                            </td>
                            <td width="265px">
                                <label>
                                    <apex:inputCheckbox onclick="hideExceptions(this.checked);" id="hideexception" />Hide All Overridden Open Items
                                </label>
                            </td>
                            <td style="text-align:right">                                                        
                               <apex:outputPanel rendered="{!enableExceptions}" layout="false">

                                   <button class="btn-success btn-lg onProgramSelect rouncorner" style="width:175px;margin-top:7px;" onclick="addRow();return false;">Add an Open Item</button>

                               </apex:outputPanel>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div id="gridbox" style="width:100%;border-radius: 6px; border:1px solid #DDDDDD; height:430px; min-height:430px !important;margin-top:10px; background-color:white;overflow:hidden;padding:0"></div>

                            <!-- Pagination -->
                            <div id="recinfoArea"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="clear: both;"></div>
            
            <apex:outputPanel id="expOpnl">
                <script>
                    mygrid = new dhtmlXGridObject('gridbox');
                    mygrid.setImagePath("{!URLFOR($Resource.GridResource,'GridResource/codebase/imgs/')}");
                    mygrid.setHeader("#, Open Item Description,Communication Message,Disposition,Application Section , Created By,Override", ["text-align:left;", "text-align:left;", "text-align:center;", "text-align:center;", "text-align:center;", "text-align:center;", "text-align:center;", "text-align:center;"]);
                    mygrid.setStyle("font-weight:bold;font-size:12px", "vertical-align:middle;border-right:none;", "vertical-align:middle;", "vertical-align:middle");
                    mygrid.setInitWidths("30,*,*,200,200,200,200");
                    mygrid.setColAlign("center,left,left,left,left,left,left");
                    mygrid.setColTypes("ro,ro,ro,ro,ro,ro,ro");
                    mygrid.enablePaging(true, 10, 10, "recinfoArea", true);
                    mygrid.setPagingSkin("bricks");
                    mygrid.enableMultiline(true);
                    mygrid.enableTooltips("false,false,false,false,false,false,false");
                    mygrid.enableResizing("false,false,false,false,false,false,false");
                    mygrid.init();
                    mygrid.setColSorting("int,str,str,str,str,str,str");
                    mygrid.setSkin('light');
                    mygrid.setStyle("{!$Setup.ColorScheme__c.GridHeader__c}", "", "", "background:#eee;");
                    mygrid.enableAlterCss("oddRow", "evenrow");
                    mygrid.attachHeader(",#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter", ["background:white;", "background:white;", "background:white;", "background:white;", "background:white;", "background:white;", "background:white;", "background:white;"]);
                    mygrid.addRow('a',[]);
                    mygrid.deleteRow('a');
                    
                    
                    mygrid.attachEvent("onRowSelect", function(id, ind) {
                        var type = mygrid.cellById(id, 6).getValue();
                        type = type.replace(/<\/?[^>]+(>|$)/g, "");
                        if (type.trim() == 'Override') {
                            if (ind == 6) {
                                var typ = 'Override';
                                var vlu = 'true';
                                updateGrid(id, typ, vlu);
                                return true;
                            }
                        }
                        if (ind == 3) {
                            $('.DispositionCover').fadeIn(500);
                            $('#hidDispositionID').val(id);
                        }
                    });

                    var comboDespostion = mygrid.getCombo(3); 
                    <apex:repeat value="{!DespostionOptions}" var="opt">
                       
                        var str = '{!opt}';
                        
                        if ('{!opt}' == '--NONE-') {
                            comboDespostion.put('', '{!JSENCODE(opt)}');
                        } else {
                            comboDespostion.put('{!opt}', '{!JSENCODE(opt)}');
                        } 
                    </apex:repeat>
                </script>
                
                <script>
                    function fillGrid() {
                        $('#gridbox').height(430);  
                      //  alert('test');              
                        <apex:variable value="{!0}" var="i" id="repeatgrid" />
                        <apex:repeat value="{!lstRRequestException}" var="ex">
                            var flg = false;
                            var applicationsection = '{!ex.Application_Section__c}';
                            var communicationMessage = '{!JSENCODE(ex.Outbound_Message__c)}';
                            
                            communicationMessage = communicationMessage.split('<>').join('\'');
                            var objDate = new Date('{!ex.CreatedDate__c}');
                            var monthNames = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
                            var m = monthNames[objDate.getMonth()];
                            var d = objDate.getDate();
                            var y = objDate.getFullYear();
                            var strLastName = '{!ex.CreatedBy.LastName}';
                            var strLastInitial = strLastName.charAt(0);
                            

                            //var crtby = '{!ex.CreatedBy.FirstName}' + ' ' + strLastInitial + '. ' + m + ' ' + d + ', ' + y + ' ';
                            var crtby = '{!ex.CreatedBy.FirstName}' + ' ' + strLastInitial + '. ' + m + ' {!DAY(ex.CreatedDate__c)}' + ', ' + y + ' ';
                            var objDat = new Date('{!ex.Overridden_Date__c}');
                            var mm = monthNames[objDat.getMonth()];
                            var dd = objDat.getDate();
                            var yy = objDat.getFullYear();
                            var overide;
                            
                            if ('{!ex.Override_Exception__c}' == 'true') {
                                var strLastNam = '{!ex.Overridden_By__r.LastName}';
                                var strLastInitia = strLastNam.charAt(0);
                                overide = 'by ' + '{!ex.OverrideByName__c}' + '. ' + mm + ' {!DAY(DATEVALUE(ex.Overridden_Date__c))}' +  ', ' + yy + ' ';
                            }else{
                                overide = 'Override';
                            }

                            <apex:variable var="i" value="{!i+1}" />
                            mygrid.addRow('{!ex.Id}', ['{!i}', '{!JSENCODE(ex.Exception_Message__c)}', communicationMessage, '{!ex.Disposition__c}',applicationsection, crtby, overide]); 
                            var rId = '{!ex.id}';
                            var i = 0;
                            mygrid.forEachCell(rId,function(cellObj){
                                if( i == 1){
                                    var ex = '{!JSENCODE(ex.Exception_Message__c)}';
                                    ex = ex.split('<>').join('\'');
                                    cellObj.setCValue('<span class="aCss">'+ex+'</span>');
                                }
                                if( i == 2){
                                    cellObj.setCValue(communicationMessage);
                                }
                                if( i == 5){
                                    cellObj.setCValue('<span style="font-size:11px;">'+crtby+'</span>');
                                }
                                if( i == 6){
                                    cellObj.setCValue('<span class="a" style="font-size:11px;">'+overide+'</span>');
                                    i=0;
                                }
                                i++;
                            });
                        </apex:repeat>  
                        counter  =   parseInt("{!i}");   
                        mygrid.adjustColumnSize(5);
                        $('#gridbox').height(430);
                        $('.DispositionCover').hide();
                        $('#hidDispositionID').val('');
                        $('#popexcpectionMsg').val('');
                        $('#ddlDisposition').val('');
                    }

                    function Override(stage, rId, cInd, nValue, oValue) {
                        var currentSelectedRo = grid.getSelectedId()
                        alert(currentSelectedRo);
                    }

                    function refreshWindow() {
                        window.top.location = '/{!Inspection_Request__c.id}';
                    }

                    function saveExceptionRow(rID) {
                        saveExceptions(rID);
                        $('.cover').fadeIn(500);
                    }
                    
                    fillGrid();

                    function selAllgrdRows(obj, vl) {
                        if(vl == true){
                            var r = confirm("Are you sure you would like to override all open items?");
                            if (r == true) {
                                overrideAllExceptions();
                            } else {
                                obj.checked = false;
                            }
                        }else
                        {
                            obj.checked = false;
                        }
                    }

                    function hideExceptions(vl) {
                        $('#gridbox').height(430);
                        for (var i = 0; i < mygrid.getRowsNum(); i++) {
                            var rID = mygrid.getRowId(i);
                            if (mygrid.cellById(rID, 6).getValue() != 'Override')
                                mygrid.setRowHidden(rID, vl);
                        }
                        var hd;
                        if (vl == true) {
                            $('#hidHide').val(true);
                            hd = true;
                            hideAllExceptions(hd);
                        } else {
                            $('#hidHide').val(false);
                            hd = false;
                            hideAllExceptions(hd);
                        }
                    }

                    function addExceptions(vl) {
                        var hideexception = false;
                        hideAllExceptions(hideexception);
                    }

                    function addRow() {
                        isAddNewRow = true;
                        $('#tagridbox').height(255);
                        AdExceptions();
                    }

                    function saveExceptions(rID) {
                        var saveString = '';
                        saveString += rID;
                        var col1 = tamygrid.cellById(rID, 2).getValue();
                        if (col1 == '') {
                            col1 = ' ';
                        }
                        var col2 = tamygrid.cellById(rID, 3).getValue();
                        if (col2 == '') {
                            col2 = ' ';
                        }

                        saveString += 'column' + col1;
                        saveString += 'column' + col2;

                        save(saveString);
                    }
                </script>
            </apex:outputPanel>
            <input type="hidden" id="hidDispositionID" name="hidDispositionID" value="" />
            <input type="hidden" id="hidHide" name="hidHide" value="" />
        </apex:form>
    </body>
</apex:page>