<apex:page title="Generate Documents" id="pg" controller="dsmtGenerateDocumentsController_PP">
  <head>
      <link rel="stylesheet" href="{!URLFOR($Resource.jQueryUI,'development-bundle/themes/base/jquery.ui.all.css')}"/>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/jquery-1.9.1.js')}"></script>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/ui/jquery.ui.core.js')}"></script>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/ui/jquery.ui.widget.js')}"></script>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/ui/jquery.ui.button.js')}"></script>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/ui/jquery.ui.draggable.js')}"></script>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/ui/jquery.ui.position.js')}"></script>
      <script src="{!URLFOR($Resource.jQueryUI,'development-bundle/ui/jquery.ui.dialog.js')}"></script>
      <style>
          .reqClass{
              border:1px solid red;
          }
          body .bPageBlock .pbBody .labelCol {
              vertical-align: middle;
          }
          select{
              padding: 5px;
          }
          .bPageBlock .labelCol , .bPageBlock .data2Col  {
              border-bottom: none !important;
          }
          .tempOutbound{
              width:460px !important;
          }
          .label{
                color: #454F6F !important;
                margin-left: 10px;
                font-size: 12px;
                margin-right: 10px;
                padding-bottom: 14px;
          }
      </style>
  </head>
  <script>
        var totalSelected = 0;
        var counter = 0;
        var innerCounter = 0;
        var clearMap = false;
        var timeTakenByConga = 0;
        function beforeNext() {                 
            var val = '';
            $(".chkTable").each(function(){
              if($(this).is(":checked")){
                    totalSelected++;
                    val += $(this).parent().parent().find(".outboutMsg").text().trim()+':';
              }
            });

            if(totalSelected == 0) {
                alert('Please Select At least 1 document to generate.');
                return;
            }
            
            if(totalSelected > 1) {
                alert('You can Generate Only 1 Document at a time.');
                totalSelected = 0;
                return;
            }
            val = $.trim(val);
            $("#pg\\:frm\\:hiddenMsgArea").val(val);            
            concateAttachmentNames();
        }
          
          $( document ).ready(function() {
              
              $( "#dialog-form" ).dialog({
                    autoOpen: false,
                    height: 400,
                     width: 500,
                    modal: true,
                    buttons: {
                        "Save": function() {
                            if($.trim($(".tempOutbound").val()).length == 0){
                               $(".tempOutbound").addClass("reqClass");
                               $("#errMsg").text('Required');
                               return false;
                            }
                            $("#pg\\:frm\\:hiddenMsgArea").val('<li>'+$(".tempOutbound").val()+'</li>');
                            concateAttachmentNames();
                            $( this ).dialog( "close" );
                        },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                            $(".tempOutbound").removeClass("reqClass");
                            $("#errMsg").text('');
                        }
                    },
                    close: function() {
                        
                    }
                });          
          });
          
          function selectAllCheckboxes(obj){
              $(".chkTable").prop('checked', obj.checked);
          }
          
          function OnCheckBoxChecked(obj){
              debugger;
              console.log(obj.id);
              if(obj.checked){
                  $(".chkTable").each(function(){
                      console.log(this.id);
                      if(this.id != obj.id) {
                          $(this).prop('checked', false);
                      }
                  });
              }   
          }
          
          function concateAttachmentNamesComplete(docs) {
              validateSubtypes();
          }
          
          function onSubtypeValidationComplete(invalidDocs, docs) {
                
                var docsObj = JSON.parse(docs);
                var invalidDocObj = JSON.parse(invalidDocs);
                if(invalidDocObj.length > 0) {
                    var message = 'Following documents can not be generated as it does not match with selection criteria: \n\n\n';
                    for(var doc in invalidDocObj) {
                        var idx = parseInt(doc) + 1;
                        message += idx+'. '+invalidDocObj[doc]+ '\n';
                    }
                    totalSelected = 0;
                    alert(message);
                }

                if(docsObj.length == 0) {
                    return;
                }
                
                totalSelected = docsObj.length;
                generateCongaDocument(counter, innerCounter);
          }

          function onGenerateCongaDocumentComplete(newCustomAttachmentId, templateID, query, OFN) {
              checkCongaStatus();
              var url = 'https://composer.congamerge.com?sessionId={!$Api.Session_ID}&serverUrl={!$Api.Partner_Server_URL_290}&Id='+ newCustomAttachmentId +'&TemplateId='+ templateID +'&QueryId='+ query +'&OFN='+ OFN +'&lg4=1&ps0=0&ps1=1&ds7=1&OCNR=1&DefaultPDF=1';
              window.open(url, 'height:600');
          }
          
           function checkCongaStatusComplete(enable_poller, eaId, attachments, totalSubTypes, isHPC, isSignatureRequired,selectedDocName) {
                console.log('arguments',arguments);
                if(attachments && attachments.endsWith(",")){
                 attachments = attachments.substring(0, attachments.length-1);
                }
                if(enable_poller == 'true'){
                    $('#congaLoading').show();
                    if(timeTakenByConga < 900000){
                        timeTakenByConga += 1000;
                        window.setTimeout('checkCongaStatus();', 1000); 
                    }else{
                        alert('Timeout');
                        $('#congaLoading').hide();
                    }
                } else {
                    $('#congaLoading').hide();
                    if(totalSubTypes > 0)
                    {
                        innerCounter++;
                    }
                    if(innerCounter < totalSubTypes)
                    {
                       generateCongaDocument(counter, innerCounter); 
                       // innerCounter++;
                    }
                    else{
                        counter++;
                        if(counter < totalSelected) {
                           innerCounter = 0;
                           clearMap = true;
                           generateCongaDocument(counter, innerCounter, clearMap);
                        } else {
                            counter = 0;
                            innerCounter = 0;
                            documents = [];
                            var url = '';
                            
                            if(isHPC && !isSignatureRequired) {
                              // DSST-8416 - START
                                url = '/apex/dsmtPreviewAndEmailDocument?Id='+eaId+'&attachmentId='+attachments+'&attachType='+(selectedDocName?selectedDocName:"")+'&objectType=Energy_Assessment__c';
                                //url = '/'+eaId;
                              // DSST-8416 - END  
                            } else if (isSignatureRequired){
                                url = '/apex/dsmtSignAndEmailDocuments?Id='+eaId+'&attachIds='+attachments+'&docName='+selectedDocName;
                            } else {
                                url = '/apex/sendEmail?Id='+eaId+'&attachIds='+attachments+'&ObjectType=Energy_Assessment__c';
                            }
                            window.open(url, '_self');
                        }
                    }
                }
           }
      </script>
      
  <apex:sectionHeader title="Select" subtitle=" Documents"/>
  <apex:form id="frm">
  <!------------DSST-8416 - START----------->
  <apex:actionFunction action="{!saveOutboundConcate}" name="concateAttachmentNames" oncomplete="concateAttachmentNamesComplete('{!documents}');" reRender="" status="status"/>
  <apex:actionFunction action="{!validateSubtypes}" name="validateSubtypes" oncomplete="onSubtypeValidationComplete('{!InvalidDocsJson}', '{!DocsJson}');" reRender="" status="status"/>
  <apex:actionFunction action="{!generateCongaDocument}" name="generateCongaDocument" oncomplete="onGenerateCongaDocumentComplete('{!newCustomAttachmentId}', '{!templateID}', '{!query}', '{!OFN}');" status="status">
      <apex:param name="arg1" value="" assignTo="{!counter}"/>
      <apex:param name="arg2" value="" assignTo="{!innerCounter}"/>
      <apex:param name="arg3" value="" assignTo="{!clearMap}"/>
  </apex:actionFunction>
  <!------------DSST-8416 - END----------->
  <apex:actionFunction action="{!checkCongaStatus}"
                                         name="checkCongaStatus"
                                         reRender=""
                                         immediate="true"
                                         oncomplete="checkCongaStatusComplete('{!enablePollar}', '{!eaId}', '{!attachments}', {!totalSubTypes}, {!isHPC}, {!isSignatureRequired},'{!selectedDocName}');"/>
    <div id="congaLoading" style="display:none;">
        <div style="width: 100%; height:700px; background:#000; opacity: 0.4; top:0px; left:0px; position: fixed; z-index:1000000;"></div>
        <div class="dv_load" style="position:fixed;top:40%;left:50%;z-index:1000000">
            <img src="https://c.cs17.visual.force.com/img/loading24.gif" style="vertical-align:middle;" />
            <span style="color:white;">Please wait while Generating Documents...</span>
        </div>
    </div>
  <apex:inputHidden id="hiddenMsgArea" value="{!selectedDocuments}"/>
  <apex:variable var="index" value="{!0}"/>
  <apex:pageBlock id="pb" mode="mainDetail">
      <apex:pagemessages ></apex:pagemessages>
      
      <apex:pageBlockButtons >
          <apex:commandButton onclick="beforeNext();return false;" value="Print & Email"  styleclass="NextBtn"/> 
          <apex:commandButton action="{!cancel}" value="Cancel" />
      </apex:pageBlockButtons>
      
      <!------------DSST-8416 - START----------->
      <apex:outputPanel id="pnlMessage">
        <apex:pageMessages escape="false" ></apex:pageMessages>
        <apex:actionStatus id="status">
            <apex:facet name="start">
            <div id="load-status"> 
                <div style="width: 100%; height:700px; background:#000; opacity: 0.4; top:0px; left:0px; position: fixed; z-index:1000000;"></div>
                <div class="dv_load" style="position:fixed;top:40%;left:50%;z-index:1000000">
                    <img src="https://c.cs17.visual.force.com/img/loading24.gif" style="vertical-align:middle;" />
                    <span style="color:white;">Please wait while Generating Documents...</span>
                </div>
            </div>
            </apex:facet>
          </apex:actionStatus>  
      </apex:outputPanel>
      
      <!------------DSST-8416 - END----------->
      
      <apex:pageblockSection columns="1"> 
          
        <apex:pageblockSectionItem rendered="{!isShow}" >
          <apex:pageBlockTable value="{!documentList}" var="document" id="pbTable" style="margin-top:1%;">
              <apex:column >
                  <apex:facet name="header">
                    <apex:inputCheckbox onclick="selectAllCheckboxes(this);"/>
                  </apex:facet>
                  <input class="chkTable" type="checkbox" onclick="OnCheckBoxChecked(this);" id="chk_{!index}"/>
              </apex:column>
              <apex:column headerValue="Document Name">
                      <apex:outputText value="{!document.name}"/>
                      <apex:inputTextarea value="{!document.name}" style="display:none;" styleClass="outboutMsg"/>
                      <apex:variable var="index" value="{!index+ 1}"/>
              </apex:column>
              
              <apex:column headerValue="Description">
                      <apex:outputPanel rendered="{!document.isSignReq}">
                          <apex:commandButton onclick="beforeNext();return false;" value="{!IF(document.isReSign,'Already Signed','Sign')}"  styleclass="NextBtn" style="{!IF(document.isReSign,'background: green; color: white;','')}" disabled="{!IF(document.isReSign,'true','false')}"/>
                      </apex:outputPanel>
                      
                      <apex:outputPanel rendered="{!document.isReSign}">
                          <apex:commandButton onclick="beforeNext();return false;" value="Re-Sign"  styleclass="NextBtn"/>
                      </apex:outputPanel>
                     
              </apex:column>
              
        </apex:pageBlockTable>
          </apex:pageblockSectionItem>
          <apex:outputPanel rendered="{!!isShow}">
              <apex:outputLabel styleClass="label"><b> No Documents found to be Generated..</b>
              </apex:outputLabel>
              <script>
                  $( document ).ready(function() {
                      $(".NextBtn").click();
                  });
              </script>
          </apex:outputPanel>
          
      </apex:pageblockSection>
  </apex:pageBlock>

  </apex:form>
</apex:page>