<apex:page docType="html-5.0" standardStylesheets="false" sidebar="false" showHeader="false">
<apex:composition template="NewScreen_MassSaveTemplate">
   <apex:define name="head-content"></apex:define>
      
   <apex:define name="body-content">   
      <section>
         <!-- page header -->
         <div class="container">
            <div class="page-header">
               <div class="row">
                  <div class="col-sm-1 col-sm-push-11 text-right"><a href="javascript:void(0)" class="help-link"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Help</a></div>
                  <div class="col-sm-10 text-center">
                     <h2 class="page-heading">Trade Ally Prospect form</h2>
                     <!-- <p class="page-subheading">Submit this form to be contacted by the Mass Save program team</p> -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      <!-- form sections -->
      <section>
         <div class="container">
            <!-- street address -->
            <div class="form-header">
               <h3>Street Address</h3>
            </div>
            <div class="form-wrapper">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Street Address</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Street City</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Street State</label>
                        <select class="form-control">
                           <option>Select State</option>
                           <option>TA</option>
                           <option>TA</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Street Zip Code</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
               </div>
            </div>


            <!-- mailing address -->
            <div class="form-header">
               <h3>Mailing Address</h3>
            </div>
            <div class="form-wrapper">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Mailing Address</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Mailing City</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Mailing State</label>
                        <select class="form-control">
                           <option>Select State</option>
                           <option>TA</option>
                           <option>TA</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Mailing Zip Code</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
               </div>
            </div>


            <!-- operational contact -->
            <div class="form-header">
               <h3>Operational Contact</h3>
            </div>
            <div class="form-wrapper">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
               </div>
            </div>


            <!-- legal contact -->
            <div class="form-header">
               <h3>Legal Contact</h3>
            </div>
            <div class="form-wrapper">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
               </div>
            </div>


            <!-- online profile -->
            <div class="form-header">
               <h3>Online Profile</h3>
            </div>
            <div class="form-wrapper">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label>City</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label>Company Website</label>
                        <input type="text" name="" class="form-control" />
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-12 text-right">
                  <div class="regButtonArea">
                     <button class="btn btn-primary">Next</button>      
                  </div>
               </div>               
            </div>
         </div>
      </section>
      
   </apex:define> 

</apex:composition>
</apex:page>