<apex:page standardStylesheets="false" showHeader="false" sidebar="false" controller="dsmtEligibilityCheckController">
    <head>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="description" content="Demo of United Power" />
        <meta name="generator" content="Joomla! - Open Source Content Management" />
        <title>Mass Save</title>
        
        <script src="{!URLFOR($Resource.MassSave, 'js/caption.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/jquery.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/jquery-noconflict.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/jquery-migrate.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/bootstrap.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/template.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/owl.carousel.min.js')}" type="text/javascript"></script>
        <script src="{!URLFOR($Resource.MassSave, 'js/html5fallback.js')}" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        
        <apex:stylesheet value="{!URLFOR($Resource.SelfScheduling, 'js/jquery.min.js')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.SelfScheduling, 'js/bootstrap.min.js')}"/>
        
        <apex:stylesheet value="{!URLFOR($Resource.SelfScheduling, 'css/bootstrap.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.SelfScheduling, 'css/bootstrap-theme.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.SelfScheduling, 'css/style.css')}"/>
        
        <style>
        	.rcul {
        		display:none;
        	}
        	.ecaList{
                display:none;
            }
            .ecaList0{
                display:block;
            }
            .rcul {
			    list-style: none;
			    padding: 0;
			    margin: 0;
			    position: absolute;
			    background: #fff;
			    width: 100%;
			    top: 26px;
			    border: 1px solid #ddd;
			    border-radius: 2px;
			    box-shadow: 0 2px 2px #ccc;
			    left: 0px;
			    display: none;
			    text-align: left;
			    z-index:99;
			}
            .rcul li
            {
                margin: 0;
                padding: 6px 15px;
            }
            .rcul li:hover
            {
                background: #f8f8f8;
                cursor: pointer;
            }
        </style>
        
        <script type="text/javascript">
            jQuery(window).on('load', function() {
                new JCaption('img.caption');
            });
            
            window.setInterval(function() {
                var r;
                try {
                    r = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject(
                        "Microsoft.XMLHTTP")
                } catch (e) {}
                if (r) {
                    r.open("GET", "/index.php?option=com_ajax&format=json", true);
                    r.send(null)
                }
            }, 840000);
            
            jQuery(function($) {
                jQuery(".hasTooltip").tooltip({
                    "html": true,
                    "container": "body"
                });
            });
        </script>
        
        <!--[if !IE]><!-->
        <script>
            if (Function('/*@cc_on return document.documentMode===10@*/')()) {
                document.documentElement.className += ' ie10';
            }
            var b = document.documentElement;
            b.setAttribute('data-useragent', navigator.userAgent);
            b.setAttribute('data-platform', navigator.platform);
        </script>
        <!--<![endif]-->
        
        <script>
            var customerId, zipcode;
            var chkValidate = true;
            var isLandloard;
            
            function goWithNonFlow(isLandlord){
                if(isLandlord){
                    startElg('step2', 'step3');
                    jQuery('.landlord').show();
                }else{
                    startElg('step2', 'step5');
                    jQuery('.landlord').hide();
                }
            }
            
            var stepArray = [];
            stepArray['step1'] = 'Landlord Check';
            stepArray['step2'] = 'Gas/Electric';
            stepArray['step3'] = 'Home Check';
            stepArray['step4'] = 'Apartments Check';
            stepArray['stepError'] = 'Eligibility Fail';
            stepArray['step5'] = 'Time Slot';
            stepArray['step6'] = 'Finish';
            
            function startElg(hideDv, showDv){
                if(!validateApexForm() && chkValidate)
                    return false;
                
                jQuery('#'+hideDv).hide();
                jQuery('#'+showDv).fadeIn();
                jQuery('#'+hideDv+'Footer').hide();
                jQuery('#'+showDv+'Footer').fadeIn();
                
                if(showDv == 'cSearch')
                    jQuery('#searchmodal').html('Customer Search');
                else{
                    var htm = '';
                    jQuery('.modalstep').each(function(){
                        var id = jQuery(this).attr('id');
                        
                        if(isLandloard && id != 'step3')
                            htm += '<span>' + stepArray[id] + '</span>' + ' > ';
                            
                        if(!isLandloard && id != 'step4')
                            htm += '<span>' + stepArray[id] + '</span>' + ' > ';
                            
                        if(jQuery(this).is(':visible'))
                            return false;
                    });
                    jQuery('#searchmodal').html(htm);
                }
            }
            
            function enableFields(){
                dsmtEligibilityCheckController.getContractors(function(res){
                    if(res){
                        var htm = '';
                        for(var i=0; i < res.length; i++){
                            htm += '<li id="'+res[i].Id+'" onclick="addValue(this);">'+res[i].Name+'</li>';
                        }
                        jQuery('.rcul').html(htm);
                    }
                });
            }
            
            function showCustomerFields(){
                jQuery('[id$="op_searchResults"]').hide();
                jQuery('#cnfFields').show();
            }
            
            function chkYesNo(val, cls, cval){
                if(val == cval){
                    jQuery('.'+cls).show();
                }else{
                    jQuery('.'+cls).hide();
                    jQuery('.'+cls).val('');
                }
            }
            
            function checkTAC(val)
            {
                if(val.trim().length == 0){
                    jQuery('.rcul').hide();
                }else{
                    jQuery('.rcul').show();
                    jQuery('.rcul li').each(function(){
                        if(jQuery(this).text().toLowerCase().indexOf(val.toLowerCase()) != -1){
                            jQuery(this).show();
                        }else{
                            jQuery(this).hide();
                        }
                    });
                }
            }
            
            function addValue(t)
            {
                jQuery('[id$="referringContractor"]').val(jQuery(t).text());
                jQuery('.rcul').hide();
            }
            
            function applyGAS(){
                isLandloard = true;
                var fuel = jQuery('.fuel').val();
                jQuery('.geBlock').hide();
                if(fuel == 'Yes')
                    jQuery('.gasBlock').show();
                if(fuel == 'No')
                    jQuery('.elecBlock').show();
            }
            
            function checkGEUtility()
            {
                console.log('validate Apex form' + validateApexForm());
                if(!validateApexForm() && chkValidate)
                    return false;
                
                var zipcode = jQuery('.zipcode').val();
                var pcode = jQuery('.pcode').val();
                var fuel = jQuery('.fuel').val();
                var unit = jQuery('.unit').val();
                var condo = jQuery('.condo').val();
                
                var fname = jQuery('.fname1').val();
                var lname = jQuery('.lname1').val();
                var emal = jQuery('.emal1').val();
                var phn = jQuery('.phn1').val();
                var iswifi = jQuery('.assessment').prop('checked');
                
                dsmtEligibilityCheckController.CheckCustomer(fname, lname, emal, zipcode, phn, function(res){
                    if(res){
                        customerId = res;
                    }
                });
                
                dsmtEligibilityCheckController.checkZipEligibility(zipcode, fuel, unit, condo, iswifi, function(res){
                    if(res){
                        var c = jQuery('.doYouOwnCount').val();
                        
                        if(res == 'Valid'){
                            if(c == 'Single family')
                                startElg('step1', 'step2');
                            else if(c.indexOf('units') != -1){
                                var units = c.replace(' units');
                                callApartments(parseInt(units));
                            }
                        }else{
                            jQuery('#step1').hide();
                            jQuery('#step1Footer').hide();
                            jQuery('#stepError').html(res);
                            startElg('step1', 'stepError');
                        }   
                        
                        jQuery('.geBlock').hide();
                        if(fuel == 'Yes')
                            jQuery('.gasBlock').show();
                        if(fuel == 'No')
                            jQuery('.elecBlock').show();
                                   
                        /*jQuery('.geBlock').hide();
                        if(res.isGasChecked)
                            jQuery('.gasBlock').show();
                        
                        if(res.isElectricChecked)
                            jQuery('.elecBlock').show();
                        
                        isLandloard = res.isLandloard;    
                        if(res.isLandloard)
                            jQuery('.landlord').show();
                        else
                            jQuery('.landlord').hide();*/
                        
                    }
                });
            }
            
            function copyContactData(obj){
                dsmtEligibilityCheckController.getContactValues(customerId, function(res){
                    if(res){
                        console.log(res.First_Name__c + ' ' + res.Last_Name__c);
                        jQuery(obj).closest('.globaldiv').find('.fname').val(res.First_Name__c);
                        jQuery(obj).closest('.globaldiv').find('.lname').val(res.Last_Name__c);
                    }
                });
            }
            
            function goWithFlow(){
                /*if(isLandloard){
                    var c = jQuery('.doYouOwnCount').val();
                    if(c == '')
                        c = 1;
                        
                    callApartments(c);
                }else{*/
                    startElg('step2', 'step3');
                //}
            }
            
            function backWithFlow(){
                if(isLandloard){
                    startElg('step4', 'step2');
                }else{
                    startElg('step3', 'step2');
                }
            }
            
            function backWithFlowStep5(){
                if(isLandloard){
                    startElg('step5', 'step4');
                }else{
                    startElg('step5', 'step3');
                }
            }
            
            function itrApartments()
            {
                var lstSize = parseInt(jQuery('[id$="ecaListSize"]').val());
                for(var i=0; i < lstSize; i++){
                    var visible = jQuery('.ecaList'+i).is(':visible');
                    if(visible){
                        if((i+1) < lstSize){
                            jQuery('.ecaList'+i).hide();
                            jQuery('.ecaList'+(i+1)).show();
                        }else{
                            startElg('step4', 'step5');
                        }
                        
                        return false;
                    }
                }
            }
            
            function backApartments()
            {
                var lstSize = parseInt(jQuery('[id$="ecaListSize"]').val());
                for(var i=0; i < lstSize; i++){
                    var visible = jQuery('.ecaList'+i).is(':visible');
                    if(visible){
                        jQuery('.ecaList'+i).hide();
                        if((i-1) >= 0){
                            jQuery('.ecaList'+(i-1)).show();
                        }else{
                            startElg('step4', 'step1');
                        }
                        
                        return false;
                    }
                }
            }
            
            function sveEligibility(){
                callSveEligibility(customerId);
            }
            
            function validateEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            
            function validatePhone(phone){
                phone = phone.split(' ').join('');
                phone = phone.split('(').join('');
                phone = phone.split(')').join('');
                phone = phone.split('-').join('');
                var RE = /^[\d\.\-]+$/;
                if(!RE.test(phone) || phone.trim().length != 10)
                {
                    return false;
                }
                return true;
            }
            
            function initValidations(){
                var focused = false;
                
                jQuery('.required').unbind('change');
                jQuery('.required').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() == ''){
                        if(jQuery(this).is(':visible')){
                            valid = false;
                            jQuery(this).addClass('form-control-error');
                            jQuery(this).closest('.field-control').append('<span class="errorspn">This field is required.</span>');
                        }
                    }
                });
                
                jQuery('.email').unbind('change');
                jQuery('.email').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(!validateEmail(jQuery(this).val())){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Email.</span>');
                            }
                        }
                    }
                });
                
                jQuery('.cellphone').unbind('change');
                jQuery('.cellphone').change(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');
                    
                    if(jQuery(this).val().trim() != ''){
                        if(jQuery(this).is(':visible')){
                            if(!validatePhone(jQuery(this).val())){
                                valid = false;
                                jQuery(this).addClass('form-control-error');
                                jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Phone number.</span>');
                            }
                        }
                    }
                });
            }
            
            function validateApexForm(){
                var valid = true;
                var rules = [];
                rules["FirstName"] = "required";
                rules["contLName1"] = "required";
                rules["contEmail1"] = "required";
                rules["contFName2"] = "required";
                rules["contLName2"] = "required";
                rules["contEmail2"] = "required";
                
                var messages = [];
                messages["FirstName"] = "Please enter your firstname";
                messages["contLName1"] = "Please enter your lastname";
                messages["contEmail1"] = "Please enter your email";
                messages["contFName2"] = "Please enter your firstname";
                messages["contLName2"] = "Please enter your lastname";
                messages["contEmail2"] = "Please enter your email";
                
                var focused = false;
                for(var prop in rules){
                    var valdtion = rules[prop];
                    if(valdtion == 'required'){
                        var vlObj = jQuery('[id$="'+prop+'"]');
                        if(jQuery(vlObj).val() != undefined){
                            jQuery(vlObj).closest('.field-control').find('.span-error').remove();
                            jQuery(vlObj).closest('.field-control').find('.errorspn').remove();
                            if(jQuery(vlObj).val().trim() == ''){
                                valid = false;
                                jQuery(vlObj).addClass('form-control-error');
                                jQuery(vlObj).closest('.field-control').append('<span class="errorspn">'+messages[prop]+'</span>');
                            }else{
                                jQuery(vlObj).removeClass('form-control-error');
                            }
                        }
                    }
                }
                
                jQuery('.required').each(function(){
                    jQuery(this).closest('.field-control').find('.span-error').remove();
                    jQuery(this).closest('.field-control').find('.errorspn').remove();
                    jQuery(this).removeClass('form-control-error');                    
                        
                    if(jQuery(this).val().trim() == ''){
                        if(jQuery(this).is(':visible')){
                            valid = false;
                            jQuery(this).addClass('form-control-error');
                            jQuery(this).closest('.field-control').append('<span class="errorspn">This field is required.</span>');
                        }
                    }
                });
                
                if(valid){
                    jQuery('.email').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');                    
                            
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(!validateEmail(jQuery(this).val())){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Email.</span>');
                                }
                            }
                        }
                    });
                }
                
                if(valid){
                    jQuery('.cellphone').each(function(){
                        jQuery(this).closest('.field-control').find('.span-error').remove();
                        jQuery(this).closest('.field-control').find('.errorspn').remove();
                        jQuery(this).removeClass('form-control-error');
                        
                        if(jQuery(this).val().trim() != ''){
                            if(jQuery(this).is(':visible')){
                                if(!validatePhone(jQuery(this).val())){
                                    valid = false;
                                    jQuery(this).addClass('form-control-error');
                                    jQuery(this).closest('.field-control').append('<span class="errorspn">Please enter valid Phone number.</span>');
                                }
                            }
                        }
                    });
                }
                
                initValidations();
                
                return valid;
            }
            
            function chkCheckbox(chkd, cls){
                jQuery('.'+cls).prop('checked', chkd);
            }
        </script>
    </head>
    
    <body class="">
        <apex:form >
        <apex:actionFunction name="callApartments" action="{!getApartmentList}" status="status" reRender="apartmentPanel" oncomplete="applyGAS(); startElg('step1', 'step4');">
            <apex:param name="argcallListLineItemIdeerere" value="" assignTo="{!numberOfApartment}"/>
        </apex:actionFunction>
        
        <apex:actionStatus id="status">
            <apex:facet name="start">
                <div style="width: 100%; height:100%; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:105000"></div>
                <div style="top: 40%;padding: 10px;left: 43%;  width: 15%;position: fixed;background-color: #FFF;box-shadow: 0 5px 10px #ccc;z-index: 106000;border-radius: 3px;">
                    <img src="/img/loading24.gif" style="vertical-align:middle;float:left;"/>
                    <span style="float:left;margin-left: 10px; font-size: 13px; margin-top: 4px; font-weight: bold; color: #474747">Please wait...</span>
                </div>
            </apex:facet>
        </apex:actionStatus>
                
        <div class="wrapper">
            <div class="container">
                <!--Menu code -->
                <nav class="navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                    <button onclick="jQuery('#navbar5').slideToggle();jQuery('.navbar-close').show();" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
		              <span class="sr-only">Toggle navigation</span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>
                    <a class="" href="javascript:void(0);"><img src="{!URLFOR($Resource.SelfScheduling, 'image/logo.png')}"/></a>
                	</div>
                	<div id="navbar5" class="navbar-collapse collapse">
                		<button onclick="jQuery('#navbar5').slideToggle();jQuery('.navbar-close').hide();" hidden="" class="navbar-toggler navbar-close collapsed" type="button" data-toggle="collapse" data-target="#navbar5" aria-expanded="false">
			                <div class="close-icon"><img src="{!URLFOR($Resource.SelfScheduling, 'image/menu_icon.png')}"/></div>
			            </button>
	                    <ul class="nav navbar-nav navbar-right">
	                      <li class="active"><a href="#">My Account</a></li>
	                      <li class=""><a href="#">Outages</a></li>
	                      <li class=""><a href="#">Ways To Save</a></li>
	                      <li class=""><a href="#">Smart Energy</a></li>
	                      <li class=""><a href="#">Safety &amp; Community</a></li>
	                    </ul>
	                </div>
                  </div>
                  <script>
                        jQuery(window).load(function() {
                            jQuery('body').removeClass('body_preload');
                            
                            /*** ADD TO CART TEST ***/
                            jQuery('.mega-menu li.menu-dropdown-icon, .mega-menu li').mouseout(
                                function() {
                                    jQuery(this).children('ul').hide();
                            });
                        });
                   </script>
                </nav>
            </div>
                <div id="cSearch">
                    <!--Banner code -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8">
                                <div class="banner">
                                    <div class="banner_h1">Welcome to Mass Save !</div>
                                    <div class="banner_p">Eversource and National Grid customers can use this tool to schedule their own no-cose home energy assessment. 
                                        These assessments are available to most customers who reside in as single family home or 2-4 unit building.How can we help you ?
                                        All you need is your utility account number!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!--Main body gray part -->
                    <div class="container-fluid gray_top">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-8">
                                        <div class="main_body">
                                            <ul>Please select all that apply
                                                <li>
                                                <div class="checkbox1">
                                                    <input id="co-borrower-details" value="1" type="checkbox" class="chk" onchange="chkCheckbox(this.checked, 'thermostat');"/>
                                                    <label for="co-borrower-details"></label>
                                                </div>
                                                I&#39;d like a no-cost home energy assessment.</li>
                                                <li>
                                                <div class="checkbox1">
                                                    <input id="co-borrower-detailss" type="checkbox" class="chk" onchange="chkCheckbox(this.checked, 'assessment');"/>
                                                    <label for="co-borrower-detailss"></label>
                                                </div>
                                                I&#39;d like to purchase a discounted smart thermostat and have it installed at no cost.</li>
                                            </ul>
                                            <apex:inputCheckbox style="display:none;" styleClass="assessment" value="{!custInteraction.No_cost_home_energy_assessment__c}"/>
                                            <input type="button" value="Let's Go" class="submit" onclick="enableFields(); startElg('cSearch', 'step1');"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Main body  part -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-8">
                                        <div class="main_body1">
                                            <ul>
                                                <li>If you need to change an already scheudled appointment, please call us at 877-475-1635.</li>
                                                <li>Masssave customers not served by Eversource or National Grid can schedule an assessment by calling 866-527-SAVE(7283).</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
                <!-- Step 1 div -->
                <div  id="step1" style="display:none;">
                <div class="container">
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-8">
                    <div class="banner">
                        <div class="banner_h1">Great! Let's make sure you are eligible.</div>
                     </div>
                  </div>
                </div>
                </div>
                <!--Main body gray part -->
                <div class="container-fluid gray_top">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2 col-xs-offset-1">
                                    <div class="input_box">
                                        <label>First Name</label>
                                        <div class="field-control">
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt required fname1" value="{!custInteraction.First_Name__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input_box">
                                        <label>Last Name</label>
                                        <div class="field-control">
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt required lname1" value="{!custInteraction.Last_Name__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input_box">
                                        <label>Email</label>
                                        <div class="field-control">
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt required email emal1" value="{!custInteraction.Email__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input_box">
                                        <label>Phone</label>
                                        <div class="field-control">
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt required cellphone phn1" value="{!custInteraction.Phone__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input_box">
                                        <label>Zip</label>
                                        <div class="field-control">
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt required zipcode" value="{!custInteraction.Zip__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Main body  part -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="container padding">
                            <div class="row row_data">
                                <div class="col-sm-3 col-xs-offset-1">
                                    <p>Do you heat with natural Gas ?</p>
                                </div>
                                <div class="col-sm-2">
                                    <div class="field-control">
                                        <apex:inputField styleClass="txt required fuel" onchange="chkYesNo(this.value, 'hhw', 'No');" value="{!custInteraction.Do_you_heat_with_natural_Gas__c}" required="false"/>
                                    </div>
                                </div>
                                <div class="col-sm-5 text-right hhw" style="display:none;">
                                    <div class="triangle"></div>
                                    <div class="right_arrow">
                                        I heat my home with
                                        <div class="field-control">
                                            <apex:inputField styleClass="txt hhw required" value="{!custInteraction.I_heat_my_home_with__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row_data">
                                <div class="col-sm-3 col-xs-offset-1">
                                    <p>My home [is/is not] part of condo association or apartment complex.</p>
                                </div>
                                <div class="col-sm-2">
                                    <div class="field-control">
                                        <apex:inputField styleClass="txt required condo" value="{!custInteraction.Condo_association_or_Apartment_complex__c}" required="false"/>
                                    </div>
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <div class="triangle"></div>
                                        <div class="right_arrow">
                                            How many units?
                                            <div class="field-control">
                                                <apex:inputField styleClass="txt required doYouOwnCount unit" value="{!custInteraction.How_many_units__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row_data">
                                    <div class="col-sm-3 col-xs-offset-1">
                                        <p>Do you own or rent?</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="field-control">
                                            <apex:inputField styleClass="txt required" onchange="chkYesNo(this.value, 'oor', 'Own');" value="{!custInteraction.Do_you_own_or_rent__c}" required="false"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-right oor" style="display:none;">
                                        <div class="triangle"></div>
                                        <div class="right_arrow">
                                            How many do you own ?
                                            <div class="field-control">
                                                <apex:inputField styleClass="txt oor required" value="{!custInteraction.How_many_do_you_own__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row_data oor" style="display:none;">
                                    <div class="col-sm-3 col-xs-offset-1">
                                        <p>Do you live there?</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="field-control">
                                        	<apex:inputField styleClass="txt oor required" value="{!custInteraction.Do_you_live_there__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row_data">
                                    <div class="col-sm-3 col-xs-offset-1">
                                        <p>How did you hear about this program?</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="field-control">
                                        <apex:inputField styleClass="txt" onchange="chkYesNo(this.value, 'rc', 'Contractor');" value="{!custInteraction.How_did_you_hear_about_this_program__c}" required="false"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-right rc" style="display:none;">
                                        <div class="triangle"></div>
                                        <div class="right_arrow">
                                            Referring Contractor
                                            <div class="field-control">
                                                <apex:inputText id="referringContractor" onkeyup="checkTAC(this.value);" styleClass="txt rc" required="false"/>
                                                <apex:inputHidden id="referringContractorId" value="{!custInteraction.Trade_Ally_Account__c}"/>
                                                <ul class="rcul">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row_data">
                                    <div class="col-sm-3 col-xs-offset-1">
                                        <p>Promo Code</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="field-control">
                                        	<apex:inputField styleClass="txt pcode" value="{!custInteraction.Promo_Code__c}" required="false"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row padding">
                                    <div class="col-sm-1 auto">
                                        <div class="back_button"><a href="javascript:void(0);" onclick="chkValidate = false; startElg('step1', 'cSearch');">Back</a></div>
                                    </div>
                                    <div class="col-sm-9 auto">
                                        <div class="button_arrow_line"></div>
                                    </div>
                                    <div class="col-sm-2 auto">
                                        <div class="forword_button"><a href="javascript:void(0);" onclick="chkValidate = true; checkGEUtility();">Continue &nbsp;<img src="{!URLFOR($Resource.SelfScheduling,'image/white-arrow.png')}"/></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Step 2 div -->
                <div id="step2" style="display:none;">
                	<div class="container">
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-8">
                        <div class="banner">
                            <div class="banner_h1">Great! Let's make sure you are eligible.</div>
                         </div>
                      </div>
                    </div>
                    </div>
                    <div class="container-fluid border_green">
                    <div class="row">
                        <div class="container padding geBlock gasBlock">
                            <div class="row">
                            <div class="col-sm-10 col-xs-offset-1">
                            <div class="step2_heading">Gas Unility</div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Gas Unility Account #</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.Gas_Account__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Account Holder First Name</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt fname" value="{!custInteraction.Gas_Account_Holder_First_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Account Holder Last Name</label>
                                            <apex:inputField styleClass="txt lname" html-placeholder="Write Here" value="{!custInteraction.Gas_Account_Holder_Last_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Service Address</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.Service_Address__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="input_box">
                                            <label>City</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.City__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="input_box">
                                            <label>Zip</label>
                                            <span class="step1zip"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container padding geBlock elecBlock">
                            <div class="row">
                            <div class="col-sm-10 col-xs-offset-1">
                            <div class="step2_heading">Electric Unility</div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Electric Unility Account #</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.Electric_Account__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Account Holder First Name</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt fname" value="{!custInteraction.Electric_Account_Holder_First_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Account Holder Last Name</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt lname" value="{!custInteraction.Electric_Account_Holder_Last_Name__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>Service Address</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.Service_Address__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="input_box">
                                            <label>City</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.City__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="input_box">
                                            <label>Zip</label>
                                            <span class="step1zip"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                	</div>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="container padding">
                        <div class="row padding">
                            <div class="col-sm-1 auto">
                                <div class="back_button"><a href="javascript:void(0);" onclick="chkValidate = false; startElg('step2', 'step1');">Back</a></div>
                            </div>
                            <div class="col-sm-9 auto">
                                <div class="button_arrow_line"></div>
                            </div>
                            <div class="col-sm-2 auto">
                                <div class="forword_button"><a href="javascript:void(0);" onclick="chkValidate = true; goWithFlow();">Continue &nbsp;<img src="{!URLFOR($Resource.SelfScheduling,'image/white-arrow.png')}"/></a></div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
                
                <div class="container">
	                <!-- Error Msg Div -->
	                <div id="stepError" class="box" style="padding:20px;font-size: 22px; color: #bf1313;display:none;overflow-y: auto; max-height: 600px;">    
	                </div>
                </div>
                
                <!-- Step 3 div -->
                <div id="step3" style="display:none;">
                	<div class="container">
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-8">
                        <div class="banner">
                            <div class="banner_h1">Let's learn more about your home</div>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid border_green">
                    <div class="row">
                        <div class="container padding">
                            <div class="row">
                                <div class="col-sm-10 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>My home is</label>
                                            <apex:inputField styleClass="txt" value="{!custInteraction.Home_Size__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>My home is a</label>
                                            <apex:inputField styleClass="txt" value="{!custInteraction.Home_Style__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>My home was built in</label>
                                            <apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!custInteraction.Year_built_in__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>My attic have ducts</label>
                                            <apex:inputField styleClass="txt" value="{!custInteraction.Attic__c}" required="false"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input_box">
                                            <label>My home has thermostats</label>
                                            <apex:inputField styleClass="txt" value="{!custInteraction.Thermostats__c}" required="false"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="container padding">
                        <div class="row padding">
                            <div class="col-sm-1 auto">
                                <div class="back_button"><a href="javascript:void(0);" onclick="chkValidate = false; backWithFlow();">Back</a></div>
                            </div>
                            <div class="col-sm-9 auto">
                                <div class="button_arrow_line"></div>
                            </div>
                            <div class="col-sm-2 auto">
                                <div class="forword_button"><a href="javascript:void(0);" onclick="chkValidate = true; startElg('step3', 'step5');">Continue &nbsp;<img src="{!URLFOR($Resource.SelfScheduling,'image/white-arrow.png')}"/></a></div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
                
                <!-- Step 4 div -->
                <div id="step4" style="display:none;">
                	<div class="container">
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-8">
                        <div class="banner">
                            <div class="banner_h1">Let's learn more about this apartment</div>
                         </div>
                      </div>
                    </div>
                  </div>
                  
                  <apex:outputPanel id="apartmentPanel">
					<input type="hidden" value="{!ecaList.size}" id="ecaListSize"/>
					<apex:variable value="{!0}" var="x"/>
					<div class="container-fluid border_green">
					
				
						<!-- Electronic Block Repeat Code -->
						<div class="row">
							<apex:repeat value="{!ecaList}" var="e">
								<div class="ecaList ecaList{!x}">
									<div class="container padding geBlock gasBlock globaldiv">
										<div class="row">
											<div class="col-sm-10 col-xs-offset-1">
												<div class="step2_heading">
													<apex:variable value="{!x+1}" var="x"/>
													Gas Utility
													<span class="pull-right green" style="cursor:pointer;" onclick="copyContactData(this);">Copy Name from Contact</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-10 col-xs-offset-1">
												<div class="row">
													<div class="col-sm-4">
														<div class="input_box">
														<label>Gas Unility Account #</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!e.Gas_Account__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input_box">
														<label>Account Holder First Name</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt fname" value="{!e.Gas_Account_Holder_First_Name__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input_box">
														<label>Account Holder Last Name</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt lname" value="{!e.Gas_Account_Holder_Last_Name__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input_box">
														<label>Service Address</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!e.Service_Address__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="input_box">
														<label>City</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!e.City__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="input_box">
														<label>Zip</label>
														<span class="step1zip"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="container padding geBlock elecBlock globaldiv">
										<div class="row">
											<div class="col-sm-10 col-xs-offset-1">
												<div class="step2_heading">
													Electric Utility
													<span class="pull-right green"  style="cursor:pointer;" onclick="copyContactData(this);">Copy Name from Contact</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-10 col-xs-offset-1">
												<div class="row">
													<div class="col-sm-4">
														<div class="input_box">
														<label>Electric Unility Account #</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!e.Electric_Account__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input_box">
														<label>Account Holder First Name</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt fname" value="{!e.Electric_Account_Holder_First_Name__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input_box">
														<label>Account Holder Last Name</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt lname" value="{!e.Electric_Account_Holder_Last_Name__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-4">
														<div class="input_box">
														<label>Service Address</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!e.Service_Address__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="input_box">
														<label>City</label>
														<apex:inputField html-placeholder="Write Here" styleClass="txt" value="{!e.City__c}" required="false"/>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="input_box">
														<label>Zip</label>
														<span class="step1zip"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</apex:repeat>
						</div>
					</div>
					</apex:outputPanel>
                  
                  <div class="container-fluid">
				    <div class="row">
				      <div class="container padding">
				        <div class="row padding">
				         	<div class="col-sm-1 auto">
				         		<div class="back_button"><a href="javascript:void(0);" onclick="chkValidate = false; backApartments();">Back</a></div>
				         	</div>
				            <div class="col-sm-9 auto">
				         		<div class="button_arrow_line"></div>
				         	</div>
				            <div class="col-sm-2 auto">
				         		<div class="forword_button"><a href="javascript:void(0);" onclick="chkValidate = true; itrApartments();">Continue &nbsp;<img src="{!URLFOR($Resource.SelfScheduling,'image/white-arrow.png')}"/></a></div>
				         	</div>
				        </div>
				      </div>
				    </div>
  				</div>
                </div>
                
                
                <!-- Step 5 div -->
                <div id="step5" style="display:none;">  
                	<div class="container">
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-8">
                        <div class="banner">
                            <div class="banner_h1">What's a good time for us to visit ?</div>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid border_green">
				    <div class="row">
				        <div class="container padding">
				            <div class="row">
				                <div class="col-sm-10 col-xs-offset-1">
									<div class="main_body">
				                    	<ul>Based on your choices, plan for
				                    		<li>
				                                <div class="checkbox1">
				                                    <input type="checkbox" value="1" id="checkboxInput" name="" />
				                                    <label for="checkboxInput"></label>
				                                </div>
				                                10 a.m., Monday, Feb 13
				                            </li>
				                            <li>
				                                <div class="checkbox1">
				                                    <input type="checkbox" value="1" id="checkboxInput1" name="" />
				                                    <label for="checkboxInput1"></label>
				                                </div>
				                                1:30 p.m., Monday, Feb 13
				                            </li>
				                            <li>
				                                <div class="checkbox1">
				                                    <input type="checkbox" value="1" id="checkboxInput2" name="" />
				                                    <label for="checkboxInput2"></label>
				                                </div>
				                                4:30 p.m., Wednesday, Feb 15
				                            </li>
				                            <li>
				                                <div class="checkbox1">
				                                    <input type="checkbox" value="1" id="checkboxInput3" name="" />
				                                    <label for="checkboxInput3"></label>
				                                </div>
				                                8 a.m., Thursday, Feb 16
				                            </li>
				                            <li>
				                                <div class="checkbox1">
				                                    <input type="checkbox" value="1" id="checkboxInput4" name="" />
				                                    <label for="checkboxInput4"></label>
				                                </div>
				                                1 p.m., Monday, Feb 20
				                            </li>
				                        </ul>
				                        <p class="green">Please show me the next five options &nbsp;<img src="{!URLFOR($Resource.SelfScheduling,'image/green-arrow.png')}"/></p>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
					</div>
				  <!--Main body  part -->
				  <div class="container-fluid">
				    <div class="row">
				      <div class="container padding">
				        <div class="row padding">
				         	<div class="col-sm-1 auto">
				         		<div class="back_button"><a href="javascript:void(0);" onclick="chkValidate = false; backWithFlowStep5();">Back</a></div>
				         	</div>
				            <div class="col-sm-9 auto">
				         		<div class="button_arrow_line"></div>
				         	</div>
				            <div class="col-sm-2 auto">
				         		<div class="forword_button"><a href="javascript:void(0);" onclick="chkValidate = true; startElg('step5', 'step6');">Continue &nbsp;<img src="{!URLFOR($Resource.SelfScheduling,'image/white-arrow.png')}"/></a></div>
				         	</div>
				        </div>
				      </div>
				    </div>
  					</div>
                </div>
                
                <!-- Step 6 div -->
                <div id="step6" style="display:none;">
                	<div class="container">
                    <!--Banner code -->
                    <div class="row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-8">
                        <div class="banner">
                            <div class="banner_h1">You're all set !</div>
                         </div>
                      </div>
                    </div>
                  	</div>
                  	<!--Main body gray part -->
                	<div class="container-fluid border_green">
                    <div class="row">
                        <div class="container padding">
                            <div class="row">
                                <div class="col-sm-5 col-xs-offset-1">
                                    <div class="thanks">
                                        We will arrive between 9:30am and 10:30am on Monday, February 26.
                                        Please check your email for a confirmation.
                                    </div>
                                </div>
                            </div>
                         </div>
                        <div class="container padding">
                            <div class="row">
                                <div class="col-sm-5 col-xs-offset-1">
                                    <div class="forword_button"><a href="javascript:void(0);" onclick="sveEligibility(); jQuery('#search-lead-or-contact-modal').modal('hide');">Ok</a></div>
                                    <apex:actionFunction name="callSveEligibility" action="{!saveEligibility}" status="status" reRender="erpanel" oncomplete="startElg('step6', 'cSearch');">
                                        <apex:param assignTo="{!customerId}" name="sf" value=""/>
                                    </apex:actionFunction>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                </div>
                
                <div class="container-fluid footer">
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="copyright">&copy; 2017 MassSave.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </apex:form>
        
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var height = jQuery(document).height();
                var html_height = jQuery('html').height();
                if (html_height < height) {
                    //jQuery('.exc-footer-company').addClass('fixedFooter');
                }
            });
        </script>
    </body>
</apex:page>