<apex:page sidebar="false" showHeader="false" standardStylesheets="false" docType="html-5.0" controller="dsmtTicketsCntlr">
    
        
  <head>
        
        <c:dsmtJqxGridLibrary />
        
        <style>
            .lnk{
                color:#006c9c !important;
            }
            .jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-group-cell {
                font-weight: 400;
            }
            .jqx-widget-header {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.4;
            }
            .grey-text {
                color: #585757;
                margin-top: 8px;
            }
            .form-control {
                padding: 4px 10px;
                margin-top: 3px;
                font-size: 12px !important;
            }
            .lnk, .lnk:hover, .lnk:active {
                color: #006c9c !important;
                padding: 0px;
                padding-left: 4px;
                float: left;
            }
            .msginfo{           
                  display: none;          
              }
              .jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
                border-color: #ddd;
            }
            
            .jqx-widget-content {
                background: #fff;
                border-radius: 0;
                border-color: #ddd;
            }
            
            .jqx-widget-header {
                border-color: #ddd;
                //background: #fff;
                font-weight: bold;
                color: #444;
            }
            
            .modal-dialog {
                position: relative;
                background: #fff;
                border-radius: 4px;
            }
            
            textarea.form-control {
                height: 100px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            
            .bodyDiv {
                background-color: #f4f6f9;
                min-height: 550px;
            }
            
            .navbar{
                border: 0px solid transparent;
                min-height: 0px;
                margin-bottom: 10px;
                position: absolute;
                right: 0;
                top: 0px;
                width: 100%;
                background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
                color: #555;
                border-bottom: 1px solid #ccc;
                border-radius: 0px;
                font-weight: bold;
            }
            
            .form-input {
                background-color: #fff;
                color: #16325c;
                border: 1px solid #d8dde6;
                border-radius: .25rem;
                width: 100%;
                transition: border .1s linear,background-color .1s linear;
                display: inline-block;
                padding: 7px;
                line-height: 1;
            }
            
            .slds .slds-button {
                position: relative;
                display: inline-block;
                padding: 0;
                background: 0 0;
                background-clip: border-box;
                border: 1px solid transparent;
                border-radius: .25rem;
                font-size: 14px;
                line-height: 1;
                text-decoration: none;
                color: #0070d2;
                -webkit-appearance: none;
                white-space: normal;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: color 50ms linear,background-color 50ms linear;
                padding: 8px 20px;
            }
            
            .slds .slds-button--brand {
                text-align: center;
                vertical-align: middle;
                background-color: #0070d2;
                border: 1px solid #0070d2;
                color: #fff;
                margin-right: 7px;
            }
            
            .slds:not(html), .slds body {
                font-size: 14px;
                background: transparent;
            }
            
            .slds .slds-radio .slds-radio--faux {
                width: 15px;
                height: 15px;
            }
            
            .slds .slds-radio .slds-form-element__label {
                display: inline;
                vertical-align: middle;
                font-size: 12px;
            }
            
            .slds .slds-form-element__control .slds-radio, .slds .slds-form-element__control .slds-checkbox {
                display: inline-block;
            }
            
            .slds .slds-radio [type="radio"]:checked + .slds-radio--faux:after, .slds .slds-radio [type="radio"]:checked ~ .slds-radio--faux:after, .slds .slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio--faux:after {
                width: 10px;
                height: 10px;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                border-radius: 50%;
                background: #1589ee;
            }
            
            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 500;
                font-size: 13px;
                margin-bottom: 10px;
            }
            
            .modal-dialog {
                width: 90%;
                margin: 30px auto;
            }
            
            textarea.form-control {
                height: 350px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            
            .jqx-grid-cell{
                font-size:12px;
            }
            .lnk, .lnk:hover, .lnk:active {
                color: #17b !important;
                padding: 7px;
                padding-bottom:4px;
                float: left;
            }
            .h2 {
                padding: 10px 30px;
                text-align: center;
                margin-bottom: 1em;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                color: #656771;
                padding-top: 0;
                margin-top: 5px;
            }
            .h2 span {
                border-bottom: 2px solid #ce1141;
            }
            body{
                overflow-y: auto;
            }
            .content {
                margin: 30px 0px 0px 0px;
                padding: 0px 10px 20px 0px;
                font-size: 16px;
                line-height: 1.5;
            }
            .btn-accent, .btn-accent:hover, .btn-accent[disabled]:hover, .btn-accent:focus, .btn-accent.focus, .btn-accent[disabled]:focus, .btn-accent[disabled].focus {
                border-color: #00b6de;
                background: #00b6de;
                color: white;
                text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
            }
            .modal-dialog {
                z-index: 1041;
            }
            .modal-header .close{
                top: 2px;
            }
            .pull-right {
                right: 13px;
            }
        </style>
        <script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
        
        <script>
            $(document).ready(function(){
                init();
            });
            
            function init(){
                
                var url = '{!$Page.dsmtTicketsJSON}?core.apexpages.devmode.url=1';
                
                
                var source = {
                    datatype: "json",
                    // localdata: data,
                    datafields: [{
                        name: 'Id',
                        type: 'string'
                    }, {
                        name: 'Title',
                        type: 'string'
                    }, {
                        name: 'Type',
                        type: 'string'
                    }, {
                        name: 'Status',
                        type: 'string'
                    }, {
                        name: 'Priority',
                        type: 'string'
                    }],
                    url: url
                };
                
                
                
                
                
                var adapter = new $.jqx.dataAdapter(source);
                $("#MessageGrid").jqxGrid({
                    width: '99.5%',
                    source: adapter,
                    pagesize: 10,
                    filterable: true,
                    pageable: true,
                    autorowheight:true,
                    altrows: true,
                    columnsresize: true,
                    sortable: true,
                    autoshowfiltericon: true,
                    enabletooltips: true,
                    height: '510px',
                    showfilterrow: true,
    
                    columns: [{
                            text: 'ID',
                            datafield: 'Id',
                            hidden: true
                        }, {
                            text: 'Title',
                            datafield: 'Title',
                            width: '25%'
                        }, {
                            text: 'Type',
                            datafield: 'Type',
                            width: '25%'
                        },{
                            text: 'Status',
                            datafield: 'Status',
                            width: '50%'
                            
                        }, {
                            text: 'Priority',
                            datafield: 'Priority',
                            width: '15%'
                        }, {
                            text: 'Actions',
                            datafield: 'Action',
                            width: '10%'
                            
                        }
                    ]
                });
            }
            var isNull = function(obj) {
              return obj == null;
            }     


            function openSelectFile() {
                var atchedId = document.getElementById('attachedId').innerHTML;
                openPopup(atchedId, 'a');
            }

            function openPopup(atchedId, param) {
               
            }

            

            function startProcess() {
                document.getElementById("loading").style.display = 'block';
            }

            function endProcess() {
                document.getElementById("loading").style.display = 'none';
            }
        </script>
    </head>
  
  
      
    
    <body>

        <section>
            <apex:form >
                <br/>
                <div id="loading" style="display:none;">
                    <div style="width: 100%; height:700px; background:#000; opacity: 0.4; top:0px; left:0px; position: fixed; z-index:1000000;"></div>
                    <div class="dv_load" style="position:fixed;top:40%;left:50%;z-index:1000000">
                        <img src="https://c.cs17.visual.force.com/img/loading24.gif" style="vertical-align:middle;" />
                        <span>Loading...</span>
                    </div>
                </div>
                

                <div id="addteam12" style="padding: 10px; padding-top: 0;overflow:hidden;">
                    <div class="col-sm-12">
                        <div class="col-lg-12" style="background:#fff; border: 1px solid #ddd;">
                            <!-- box -->
                            <div class="">
                               <!--Box header Start -->
                                <div class="box-header fullheader" style="background-color:lightblue">
                                    <apex:outputPanel >
                                        <nav class="navbar" role="navigation">
                                            <h2 class="h2" style="float: left;margin-bottom:0px;"><span>Tickets</span></h2>
                                        </nav>
                                    </apex:outputPanel>
                                </div>
                                <br/>
                                <!--- Box header End -->
                            </div>
                            
                            <div class="tab-content">
                                <div class="row">
                                    <div class="tab-pane fade in active" id="offers">
                                        <div style="margin-top:30px;padding:0px;margin-bottom:20px;float:left;width:100%;">
                                            
                                            <div class="col-md-2 mb10 grey-text"></div>
                                                    
                                            <div class="col-md-6"></div>
                                            <div class="col-md-2 text-right mb10 slds">
                                                <a href="javascript:void(0);" style="float: right;" class="btn btn-accent" onclick="showrespond('');insertMessage2();">New Ticket</a>
                                            </div>
                                        </div>
                                        
                                        <div style="padding:0px;margin-bottom:20px;float:left;width:100%;">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <apex:outputPanel id="msgtab">
                                                        
                                                        
                                                        <apex:actionFunction name="backwindow" action="{!backToMessage}" reRender="msgtab" status="msgstatus" />
                                                        
        
                                                        <apex:actionStatus id="msgstatus">
                                                            <apex:facet name="start">
                                                                <div style="width: 100%; height:700px; background:#000; opacity : 0.7; top:0px; left:0px; position: fixed; z-index:1000000"></div>
                                                                <div class="dv_load">
                                                                    <img src="/img/loading24.gif" style="vertical-align:middle;z-index:1000000" />
                                                                    <span style="margin-left: 10px; font-size: 12px; font-weight: bold; color: #000000;">Loading...</span>
                                                                </div>
                                                            </apex:facet>
                                                        </apex:actionStatus>
                                                                    
                                                        <apex:outputPanel rendered="{!!isMessageInfoOpen}">
                                                            <div id="MessageGrid"></div>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </div>
                                                <!--2014 Data Ends-->
                                            </div>
                                        </div>
                                        <!-- row div close -->
                                    </div>
                                </div>
                              </div>
                                
                        </div>
                    </div>
                    <div id="attachedId" style="display:none;"></div>
                    <div id="parentMid" style="display:none;"></div>
                </div>
            </apex:form>
        </section>


        <!--Modal New Message Starts -->
        <div id="" class="modal fade new-message" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove-circle pull-right"></i></button>
                    <h4 id="msgmodal" class="modal-title">New Message</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form action="" method="post">
                            <label class="control-label col-md-12 sr-only">Subject</label>
                            <div class="col-md-12">
                                <input name="" type="text" class="form-control" placeholder="Subject" />
                            </div>
                            <label class="control-label col-md-12 sr-only">Body</label>
                            <div class="col-md-12 mb10">
                                <textarea name="mail_body" class="jqte-test form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="col-xs-6"><img src="{!URLFOR($Resource.OnlinePortal, 'OnlinePortal/images/attachment.png')}" alt="Attach" /></div>
                            <div class="col-xs-6 text-right">
                                <button type="button" class="btn btn-sm btn-warning">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal For New Message Ends -->


        <!--Modal For Respond Starts 
          <div id="responsemodal" class="modal fade offerMessage" tabindex="-1" role="dialog" aria-labelledby="resmodal" aria-hidden="true">
             <div class="modal-dialog">
                   <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove-circle pull-right"></i></button>
                      <h4 id="resmodal" class="modal-title">Respond Message</h4>
                   </div>
                   <div class="modal-body">
          
                      <div class="row">
                      <form action="" method="post">
                        <label class="control-label col-md-12 sr-only">Subject</label>
                        <div class="col-md-12"><input id="ressubject" name="subject" type="text" class="form-control" placeholder="Subject"/></div>
                        <label class="control-label col-md-12 sr-only">Body</label>
                        <div class="col-md-12 mb10"><textarea name="mail_body" class="jqte-test form-control" placeholder="Message"></textarea></div>
                        <div class="col-xs-6"><a href="#"><img src="{!URLFOR($Resource.logincss, 'logincss/images/attachment.png')}" alt="Attach" /></a></div>
                        <div class="col-xs-6 text-right"><button type="button" class="btn btn-sm btn-warning">Send</button></div>
                      </form>
                      </div>
          
          
                   </div> 
              </div>
          </div>
          -->
                          
        
        
        
    </body>
  
      
</apex:page>